{"openapi":"3.0.1","info":{"title":"Datavalid","description":"O serviço fornece a validação de dados cadastrais e/ou biométricos de pessoas físicas do Brasil a partir de bases de dados do governo","version":"2405221002.2017778-feature-privacidade"},"externalDocs":{"url":"https://www.loja.serpro.gov.br/datavalid"},"servers":[{"url":"https://gateway.apiserpro.serpro.gov.br/datavalid-demonstracao","description":"ambiente de demonstração"},{"url":"https://gateway.apiserpro.serpro.gov.br/datavalid","description":"ambiente de produção"}],"security":[{"oauth2":[]},{"authorization-bearer":[]}],"paths":{"/v4/pf-basica":{"post":{"tags":["v4"],"summary":"Validação dos dados cadastrais de uma pessoa física","description":"Recebe no corpo da requisição uma chave com o CPF da pessoa física (campo <code>cpf</code>) e os dados que serão validados (objeto <code>validacao</code>) e retorna se cada um dos dados é ou não válido.<br>Para os dados do tipo texto, também são retornados o percentual de similaridade entre o dado enviado e o dado oficial disponível nas bases do governo.","operationId":"basica","parameters":[{"name":"x-request-tag","in":"header","description":"Este campo é opcional e serve como identificador de requisições. Caso uma empresa necessite, por exemplo, agrupar a quantidade de requisições realizadas por cada departamento, poderá utilizar este campo de forma a identificar no faturamento a quantidade de requisições de cada item agrupador.<br><br>O campo é de texto livre (string) com o limite de 36 caracteres alfanuméricos e não possui validação de seu conteúdo. Cabe, portanto, ao cliente manter o controle das informações que são enviadas para esse campo de forma que o relatório de faturamento faça o agrupamento adequado.<br><br>Este atributo pode ser usado pela entidade de classe e/ou grupo econômico na modalidade global com ônus entidade para fins de identificação do associado que realiza a requisição. No caso de entidades de classe ou grupos econômicos que realizem a contratação com ônus para o associado não é necessário realizar o agrupamento pois cada associado irá possuir sua própria chave de consumo","schema":{"type":"string"}},{"name":"x-request-trace-id","in":"header","description":"Este campo é opcional e serve como identificador de requisições. Ao utilizar este parâmetro, o cabeçalho da resposta vem com o campo <code>x-request-trace-id</code> com o mesmo número enviado na requisição","schema":{"type":"string"}},{"name":"x-signature","in":"header","description":"Este campo é opcional e serve para que a solicitação venha com uma assinatura de carimbo de tempo, informe <code>1</code> para assinar. A assinatura será retornada no cabeçalho da resposta, com o nome <code>stamp</code>, a mesma pode ser validada com a API carimbo em tempo, mais detalhes em https://apicenter.estaleiro.serpro.gov.br/documentacao/api-carimbo-tempo","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PFBasicaV4Input"},"example":{"cpf":"25774435016","validacao":{"nome":"Maria Barbosa","situacao_cpf":"regular","data_nascimento":"2001-01-01","sexo":"f","nacionalidade":1,"nome_mae":"Maria José","nome_pai":"José Maria","tipo_documento_origem":1,"numero_documento_origem":"000001","orgao_expedidor_documento_origem":"SSP","uf_expedidor_documento_origem":"DF","endereco":{"logradouro":"Nome do Logradouro","numero":"0007","complemento":"APTO 2015","bairro":"Nome do Bairro","cep":"0000001","municipio":"Nome do municipio","uf":"DF"},"cnh":{"numero_registro":"0000001","categoria":"AB","data_primeira_habilitacao":"2000-10-31","data_validade":"2005-12-10"}}}}},"required":true},"responses":{"400":{"description":"Requisição inválida - A requisição não foi aceita pois existe alguma iconsistência em algum campo da requisição. Confira se as propriedades do corpo da requisição estão de acordo com a propriedades esperadas pelo método e se corpo da requisição está codificado em UTF-8","headers":{"x-datavalid-build":{"description":"Build atual da api","style":"simple","schema":{"type":"string"}},"x-request-trace-id":{"description":"Mesmo valor enviado na requisição","style":"simple","schema":{"type":"string"}}},"content":{"text/plain":{}}},"401":{"description":"Não autenticado - Problemas durante a autenticação. Verifique seu par de chaves","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/GatewayNegate"}}}},"403":{"description":"Não autorizado - Acesso não autorizado. Verifique se a api/versão/serviço acionado está contratado","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/GatewayNegate"}}}},"413":{"description":"Payload muito grande - A requisição tem um tamanho muito grande. Verifique se o limite de tamanho máximo da requisição está sendo atendido"},"422":{"description":"Validação não processada - A validação não pode ser processada pois há alguma inconsistência com base no corpo da requisição recebida","headers":{"x-datavalid-build":{"description":"Build atual da api","style":"simple","schema":{"type":"string"}},"x-request-trace-id":{"description":"Mesmo valor enviado na requisição","style":"simple","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorCauseOut"}}}},"500":{"description":"Erro no servidor - Ocorreu algum erro interno","headers":{"x-datavalid-build":{"description":"Build atual da api","style":"simple","schema":{"type":"string"}},"x-request-trace-id":{"description":"Mesmo valor enviado na requisição","style":"simple","schema":{"type":"string"}}}},"503":{"description":"Serviço indisponível - Algum serviço integrado ao Datavalid está indisponível no momento","headers":{"x-datavalid-build":{"description":"Build atual da api","style":"simple","schema":{"type":"string"}},"x-request-trace-id":{"description":"Mesmo valor enviado na requisição","style":"simple","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Integration"}}}},"504":{"description":"Timeout - O tempo limite para resposta da requisição não foi respeitado"},"200":{"description":"OK - Tudo funcionou como esperado","headers":{"x-datavalid-build":{"description":"Build atual da api","style":"simple","schema":{"type":"string"}},"x-request-trace-id":{"description":"Mesmo valor enviado na requisição","style":"simple","schema":{"type":"string"}},"stamp":{"description":"Assinatura de carimbo de tempo solicitada na requisição","style":"simple","schema":{"type":"string"}},"x-apim-bill-data":{"description":"Dados relativos ao insumo cobrado","style":"simple","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PFBasicaResult"}}}}}}},"/v4/pf-digital":{"post":{"tags":["v4"],"summary":"Validação dos dados cadastrais de uma pessoa física com a biometria das impressões digitais","description":"Recebe no corpo da requisição uma chave com o CPF da pessoa física (campo <code>cpf</code>) e os dados que serão validados (objeto <code>validacao</code>) e retorna se cada um dos dados é ou não válido.<br>Para os dados do tipo texto, também são retornados o percentual de similaridade entre o dado enviado e o dado oficial disponível nas bases do governo.<br><br>Esse recurso denominado pode ser utilizado para validar remotamente a identidade de uma pessoa.<br>A biometria não é um recurso determinístico, então cabe ao usuário utilizador do serviço utilizar os valores retornados na resposta para decidir sobre a autenticidade da biometria enviada. De qualquer forma é importante citar que em testes realizados, em aproximadamente 99% das validações que retornaram alta ou altíssima probabilidade, o par de biometria comparadas eram da mesma pessoa.","operationId":"digital","parameters":[{"name":"x-request-tag","in":"header","description":"Este campo é opcional e serve como identificador de requisições. Caso uma empresa necessite, por exemplo, agrupar a quantidade de requisições realizadas por cada departamento, poderá utilizar este campo de forma a identificar no faturamento a quantidade de requisições de cada item agrupador.<br><br>O campo é de texto livre (string) com o limite de 36 caracteres alfanuméricos e não possui validação de seu conteúdo. Cabe, portanto, ao cliente manter o controle das informações que são enviadas para esse campo de forma que o relatório de faturamento faça o agrupamento adequado.<br><br>Este atributo pode ser usado pela entidade de classe e/ou grupo econômico na modalidade global com ônus entidade para fins de identificação do associado que realiza a requisição. No caso de entidades de classe ou grupos econômicos que realizem a contratação com ônus para o associado não é necessário realizar o agrupamento pois cada associado irá possuir sua própria chave de consumo","schema":{"type":"string"}},{"name":"x-request-trace-id","in":"header","description":"Este campo é opcional e serve como identificador de requisições. Ao utilizar este parâmetro, o cabeçalho da resposta vem com o campo <code>x-request-trace-id</code> com o mesmo número enviado na requisição","schema":{"type":"string"}},{"name":"x-signature","in":"header","description":"Este campo é opcional e serve para que a solicitação venha com uma assinatura de carimbo de tempo, informe <code>1</code> para assinar. A assinatura será retornada no cabeçalho da resposta, com o nome <code>stamp</code>, a mesma pode ser validada com a API carimbo em tempo, mais detalhes em https://apicenter.estaleiro.serpro.gov.br/documentacao/api-carimbo-tempo","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PFDigitalV4Input"},"example":{"cpf":"25774435016","validacao":{"nome":"Maria Barbosa","situacao_cpf":"regular","data_nascimento":"2001-01-01","sexo":"f","nacionalidade":1,"nome_mae":"Maria José","nome_pai":"José Maria","tipo_documento_origem":1,"numero_documento_origem":"000001","orgao_expedidor_documento_origem":"SSP","uf_expedidor_documento_origem":"DF","endereco":{"logradouro":"Nome do Logradouro","numero":"0007","complemento":"APTO 2015","bairro":"Nome do Bairro","cep":"0000001","municipio":"Nome do municipio","uf":"DF"},"cnh":{"numero_registro":"0000001","categoria":"AB","data_primeira_habilitacao":"2000-10-31","data_validade":"2005-12-10"},"biometria_digital":[{"posicao":"POLEGAR_DIREITO","formato":"PNG","base64":"iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAAAAADRE4smAAAgAElEQVR4nCy8dX8c19Yu6G8wf8z93bnve07AJMtiNTMzVmM1VldDNTOrWy22ZObEdsgxxBDHduzEEJNsMbNzztyZDzNr64ziWLK6u7qr1loPrL12HVjdWFvZ2tvdWEFfqytLS2s7ezsbqxsbKwsrG1vw79V1eAC+rczPLq1tbG1s7WxtbW3vba2vzM0vrSzPznyam5+bmZl++9frV2/evX358vmT+3dv/3zr3oM7V080SqViud4cKCUCHiKSzEbDsXy5NtBstEaGBirlwYkzZ07U8lGPKxgifMFoPOzzkIRdJZHIlFqDGTMZNBKRUKbWCpn9dDaH3tdLZzHpdL5EwBfINGbM7va4fGQ4msrlC5WBsROTpy5cuXTh9NTZK5cvnL94/sxIPplvjreyQX80GctUWyONPGkx2nC71WbHbLg/HMtWaoVsaaA5VM/HCItKQO9qP3boq6+/PHjkeCeNp9AaLbgbk/Z3dfT2dPQw2UwGmyfS4lS21hwcHhkoUxYJh8Vm9fUz+WpXJJlKEGYZXwRH6WXQmWyB1kNFCI8Hx3G7Ucbs7emlMQUKpcZoMaqUBicR9Ltw3O3ANDqrw6Lm97cfOtzR088UKbUapdHhC5Ieo0wg4HQdPtLW0c8VSURSiaC/4+iRQ22dXfA5+wUqo8Vm0SplIh69nyMz4gEq7IFP2368o6uXLtJZ8WDxxLd3Hv/59v30p5n5paWVpblPc0sQzLXFmWn4xeLS/IHPe9trGxDuxYW56Y+zC8tr65sbG+urG6uLi2tb66urq+ury2sry6tra8vL8Ly1je3dnfW1re2N5cW5T7Pzc7NzC8ur8OOHN6/+fP7i7buXzx4/uPPzzR9v3rl/59JIPp3NZ/KFYoLAvaFYJhkOZZsjI62B0akzk6OtWqU5PlpPExazzYWb1VqzVa8zOtwOo95ottmdHiLgdbu9uM3usOmVcpVMwOWwmCwWX6aSSeQqjVpjtFnhOgX8ATJIxdL5Wmt88uTE2Oj4xMnTZ8+dmZqcaDXHTk3VIi5vNEZlWxND5QjucHtsRoPFrJPLdDaPF7fAW/qIYCgSjlGEw6xVySV8Vl9nD4PDF6qMVgcRcJukrP6+jqNtxw4fPPj10Q62BqcK9ZHJM2dHUjYxl8Po7uii8VRmTzCRzyVCEDVWd9vhYx09bJklmM6mKcLrMssZx44ePHTwUDtDYfZCaJ0+gvA6DCqlWiUV8CUqrZh25IsvDx+DJGEJIbltbiISC7rMakFf5/Gjh45D1ktVGq2ST+/v6uzp66f1scQai8vrwzG9Bh5QyVQmu9NL+GwyRndvV3s3V2F0+mL109dv3Xv856u307PTn+YW5ubmFpaWVyBgs5+mP84vLy0e2NvZXFtZ21hbXpqfX4DUgD/zs/NQ6yvLG5sba5AcywvzS5AAS/Csjc2tzb1dQAiUCQAdS/OfPkzPzS8vLs1+evvqxYs37z+8ev7kycNffrlz6+bPP5xM465QPJ3JZzNhH5XJJhPpYn14bGRkaPzMhdMnhhv1aqNVCtt1GoPVhZuMGGZzOO1WK2ayuoiAPxRLhMOxTJoK+MlAwGvHzDqdSi6XKnRWu0mnM2FGgw4uoM6AOXDcH4uH44VaOZetDtQL2Wpr4sy5k6MjoyfPTVRiAR8VDyfrIwNZKpIpZEiH1aQRsWgsqcagkfL4Kgy3mkx4mAq4yXAsHg1gYnhQLJfJVQYr7vd5oUjlfFr7kUNf/vd/fdnWy5VhZLo2cvrsRDWMyYXMriNt3XS+xpUo1QearVqWwpWs7o6OXpZQZQ3EsoUs5VTxejuOHPwSXizQ4YFYOhEhSbcdPoZUxKN1tPfyxEJWVweNKxQLeXyx0mB14F6SipJeq1rEh2d00lg8scaAGZRCDrOfRqMxeUojZrbiHiem0WBun1UpFqtMOEmFcZ1czKXRBWrMHsiOfwNQ/NuLtx8Ap2cXlhbmZ+eW9mO6ND87A8mwemBnB8K8sbm6tLq5BVkAtQ7hXAWoX1te3d7ZXF2Gnzd3Nrc31lbXN3f29j7vff57e3N9Yx0lxuLi/Kc59Nf09PsXzx4/e/X65bNH9x/ch/j/cuunK42A1eYOxLP5bL4AXJDN5MuNZrPRHJ08eer05MTYcHOg2aylg7jF5iEDPr/XF/A54axsUNhujy9IUfFklATqSKdTCQoVejji97gcuMfrsjv9QdKNGfSY2YjZcZc/6A+EEKZ6wxTpCyaz5YFGY2CgUgPcr5XzxXKxNlCv1RsjE5OjzVrWp5ew+5ksOoPJ4ik0Wp1Wb8L9XrsrXh4aHR6IYmq9Sa+USSRKk8OJu/0R0odJmf2dRw4eOdbRzZJoMF+y3BoeHMgGMBm3v7ufzZMY/ZF4vlyHd61kCD2vv5fJlygxb6JYzpNGAa27v7ez7UgnS2Z0BcLxdJIiPQ4LppfQjx/56kgnUyAScnkSldGoVcgkSi0Ug8Pthypw6mQiDq23p7uzny2UKTQqiQAygMkSKI1mzGJzYHqFRKgwQmKIFHorlIHfYVQK2EyeCnMFM41T39786cf7z14BCXyYnp/79GlmcRXKfWkOfoT4Ly4dAErf3Fjf3tve2NzZQSmwgDIDqh3ijaIOMLC9BUH//PfO9sY6QoC9nZ29z5vLS/BUSCiI/dzC/PQ7JAFe/vnHn08fP376+NG9X+7du/P9VBK3WpwElSrBxa8WC9WhyanTp05OjkFlTp49NzVSr1aqhXQMLq+fDFHhUDAU9AFB2z1QdWQsSUWoWIwKJzKZHGBr0BegYslEMhYmfD4vAGQyQQUD8LIglStl06lMOuJ1OpxO3OXx+uAARDiZjXh8ESD/weFGrd4aHZ8cmzx3+co3V69cONWIuTRCFovD5vDEEqFEDjwM+BnONSZOTo42MhHSj4kZvT39LJ4Arq8rmKBcRo2E09PZS+tl8KQas90Xy5Sq5TTlMysFPA6HJ8N8wSAZ3n+3tEvOYIgVSpXO4gvHk5QXU4uFAg6ts4fOUxkRu0WoaJBw2fUyZvtX//jy4NE+gQYianc5zBqFBGCAI1aZ7TgBSa4Tcvo7Dn39j686OEq9USPmcXlihVqjxayAIGoZnwHqhCWUSDVqndmXyGZiJG41qOSQAF4v1bzy8/c3bj/56+3H6Y/Tc0sLcwjkF5cXgLmXgAxWlw5sbm5trK+B+ltbW1uEXy0tzs3NLi6vLC9AFqwtr23vbgPq76C/ttfXkATY29sEobC2ODe/sLg0N/3+w7v3796+e/f6z+dPfv/96W+PHz968PD+L3fv3v3pfJ2CK0Klyq3x0YFsMlcfnpwcqRXy+Wq9Wm0MNivFSjkdjaeLhQwFTBELU3DdPXYoaC8RpCCi8UQmm4LEoOKpTDJERoBMCsVsKh6LU3BZE7FoKlssVErVobHhejGbjfuddpsVpCHhx61mq91p0Rvs4VQiVahW643BobGTF658++21a9dufP/DN+dbSRemVwlYXB6HJ5SIpWrMSSTKQ/vAVC7mKAOj49jRw0eOtx/vYkmtwWQi5LZqQB/QaWy+QKrFzHZIiyy8K2FViXn9PTSBxuKw42SyVC1GrEohX6rVazRavcUdoii/zaDVyEV8AQ/4HnMFqGQmGw97zCoRo+Pw118e6aKJzIBiQQIHTmHTgQ0EKr3F4vB6rXJWb1/bF//n//E/j7CkaoNWKQVlYrfbXbhdJ+X0dfUcO3yorYvBE0qlCq2diGXLxTTlVArlZrvREmpdu3v/4aPnf03PzIL+mwPu//j+3TSIduCDJcT8BxCXIxW4trYEoh60/tLi/Mz8CpL7IAbXVjZ2//6//w3Vv7uNpCK8Znt7C74jZ7ACL5kDBJidX/z0bvrdi2dPn/356o/fnz598tvD+3dv/vTDtQvjzVq9Njxx8szJ0Vo2nikPNCspyIl4Ip7I5jKZMjBmqVRBzF0sFhIRKpVPRwiX0+klARSoRAriDzzoIyMxQINoJJoEOknF4rEooAABv00WBlqtZnNs8uQYfKulSB8ZJIhIPBm06VQKlVoDFUjForEUEHEmVxs+de78hSs3frx56/bt7y+PlykS1wpYHCabTe8HfW72hBPZUqWcS2VLjRKhFbL6O9uPHe/qY4u0zkgiFvG5nDajnM9m9HbTWHyhTOsiIU8ThEUtYtN6+hhCld5kJ1PFQhLkpF5v1KvlQrHW7PRTUSoM2KxSygFPtPCUbK5UzkfdUMFCPqevo5POlesdvkgk6LHImX097Qfb4E0VQEQ2q14uFjCO/eN//dfBLo5UrTXanG63y+lxIc9y/Osvvj506Ksvj/XQwJ9wBXKDM5gql1I+HbyvyeyItq7ee/YC7BkkwOzMzKePH2cW5iADpkHwQ/1DSA9sANFvbG6uroA2XAUjuAiC7uPM0tbu3hZEGlTfzt7ff+/Ad5ACayurO1vbmxurKPyLi3OQRpBLMwvgKj6+ew0J8PTZ82fP/vjz90f3b/3w088/XL94enK4UqoB+E6N1tIxwPhIBAQwMD4VDQWpdLXVqlcazVouVymlY7FELA1gHnFhFsxq0mGeKNJKhM/jDUdCZCASi4JyQl4iGkuQbtAJnlAsmc6X6iD4Lp+dPDE+2iwUyrVqqTRQijqMOo1KpVToMDfIbTKWooKRWKGJOODb79CHuzwxUEiGvAa5RCyWCMRyBWhJlxeSKp1JpSCv6knIRIOgv7+/B3BbaXC4XA43GQm6DeL+Y4e+PtTez5UbbA4PUBUJEMDt7+pmCORqrd5KpnKFbDpKeFxOTCvX2rwA+JlyPunXI/7mK01OIIBkJp8MueFxpVzMoTMYLJ4clHCQCtjkbHpf25cHwQ/QOWIt6GJIAVbXkS8PghUEqjJZwCCESJ9NzWf0tX/1X//9z4NHuvoZvR19DDZbILeQabiEbpsNM5q0WHT02zu/Ql2++TjzETze/Ax8n/7w8eMH+Acq943NAxDY9Q2IKrA9kvXLyCMuLC5D4X/ehQQAzv8buB8RwcbmCkqa3c/b6yvLIADAVYIMBD+5tLG5BJjy/q9Xfzx78vsffzx/Cj7g7q2bP31//caVk4PVxvDk1JnxZiEZDoBw87ucyOHEgc8LwxNj42PgCgvJWAzonPD4g5GgSy8BISxVGl0k4bSCPfD4vf5gwOv3B7xOzArM5g2GCKcB/LSTiCVS5ebI5MWrV86enJw6CVkwNjYy1qoAkDgtRr1CJJXLQVKZnW6n3eki4plCY/L8N9eunDs9Odao1BrlVMjv9exLSmBks9XlDwQjCcCq5lCjEA96zGoJF6QAnQXK3KhDH8kDupxB6+ro6OxhSzRWT6xQTkMG8Pu6+8A5iqEGA4l8uZDLxEGSmuUiqRbOgYgVqvmAgU9nsCQGoCm70xcgQlTE67AaNBI2vafj+LEettziJQMeo1Iuoh/98uBXB4/ShTKV2eVxWw1S2qEvvmrrZgtFID8s4K2ihFMv6DnyxT/+r//1jyPHe3rbDx3rZfFkRqc/EksEPVazETwSFmqc+eb7O/d/+wM0wMzS2srCzMfZuZnFhU8f51D4QAUe2Mf6ze0tAPut1f0MWFxZXkPVv7W+uriytft5B7JgG34B/15b29rc3dndQvAP/LA4vzg7DXyxujTzYXr69e/A/vd/e/rs6UNwAT/fvHXn1q2fr01V09lcuTEyVCvGI0CGAdxud+Je0G6xHOiAoZHxiWEIAxUK+IC3MczpwRV97cfBQikwu82CGYyABmq9BXe5iaDPrhADBVqcDqtOrVJDdQfCVLrUGJ08c3p8aGTyFOjLk+cvnp4YGazlE5TPZlBpgQmUKi2Ug0qjw+x2PIRU2lCjMtAcaMCbDzVazYFSOhFLRP0WjdoMAi1ARVM50Bb1ah4IyGlUiYVctlAJRzLaQJ667Wa1iNXf3dnRy1FYfCEqFvK7QeaDN2fx+FKd3Q0S1ANnGHKC8pPKFWKF3u6nYmG3TgBnZbSYNHKxSK6zewIR0uu0qHj0vs72QxBAnsLi9kCmYmped9vBL79q66OzREbc6ydcOm7HV18c7mDyeEKxQmdxujx+DybuPnzw0Jf//Opwe3dvd3t7J9gOldFJJmIhp1kt5XHFOrJ++satu7duPfzjDbj+xfnZD+9QwBB4L86CLFhYOQACbxOJe/D58PfGBvAAOEKgfwj7+uoSygUQADtbyPjv/w44YWt9bR1xBhwQVAX4wNn3796/ffPq2eOHjx7vx//e/fu/3IY0+OHiSDEW9HiC6Vo9DwgA8pzwuL1EgAJnODA8NjI+PFjNZ9IxwoVbdVIBR6hx+CxCWh+dTutjSfTAgFKRGijBhuMuIuyH6uMJBHKNSqkD7wYmnfB6CSpbKCGTAV6jMTh86tLlS+fPnZoYG2qAIye8Hhtm0qk1GpWYD8papTHjPqi9aAQsZiZfHagPjpyYGqsXIAU8BolArsMcHoIMRuOZyvDkCYCJKlgJzKCQytUKSD0HIAURDHhMChG7r4MhVMqlEpFYpdVJ2bSuPhaPzWBxWGyBwoiHknBAlVQq5CB7Z7JYnW4PptYYTOg0WUyeRAOJ7AXVpwNrcQx4/ItDXUIleBG/x2GUCri0zi46TyhSmhDRBW2CzoNAC900JovDVxlNOgNmxjQCgKK2I4cOHwP8BwpiiVUaky9dqhYiDoOKT2OpfJVzP/7yy937j/98/fbT7PzM6ycPnk8vgvsD/T4PVmB+8cAuCi34+62VtS0wegAAYAFQC2hzD8TBClT6Phpsbywure3uIE6AF8BvlxYXFmbAS87OgxmY/wQ28OUfzx/ff/DwwZ3bvzwEG/Dg7u1bd7+bqmQSAO2+eKmQokiXywdmPQZiPldtjk+dOT01Ws1QpD/gwuR8HodBo3MkJoddKxZIlSKO1OTxOk0aJeYEGUh4Qc2RThumV0qEYqlMo1YqNRhUggsqNpFKJxKZXA4pvfrEqanheh08fxN0YbM53KwXE6QLUwr4Mq1BLgTDpzWZTJjDS8ahzkvwtEYNVH+aImw68G3grtx+MkBlqmNnzp05NTkxXE14bSbIOZkS9Zy8IGDiYb/TJOf0tLe1tx09euRwR28vjc5isNig544dOdTeK3FQ8HFiTp1KwupDvT0VvGEA6UCFRACp0kPnAwS4nA6P16HiA34fPnLwUDuNI5SbPH43anNpFSKhXCHXGO1ekvC7NIyj4BYPtXcc64Ksgw+j1ekBBGVgAzra24+299LAoPKVOswbKzVH6ymPUcakCfSezNi3dx8+ffby7fSn6U+fQKm9fDu3sAxOcH5xAf2ZPQA6D6K696/P2xuoGYD0/drWLlD/5793N1A7EJJje23uE1oZgLRYWQcS2FgDslheAas4h4L/aW4e/fXx9fNH9+78cu/Br789efrk0b3bN2/+eGUkDQLObXWCbAmFCbh2yMnVWsOt1uDw2NS5M6OVdNjjsBmkHAZ4WQBGBwFFYdFjVpvR6gmHvA6bw02AZErFqWgyk0v4MLWEzxdIZHKpWK5UKuCZdgcRCkczhWK5kIlTuYGBcjqZKeTypSb4D4jhuQvnT48PZMMuu89rkcvUkDpqncnqDsfT+UKuVK2U8gg8Ws08iWl1Rj1cW7MjkCi2Tpw8Cy8/fWIgDblrkgt5fKFcZzRiuNvucFmVXHp32+Evvzrcduzw4bYOtkzOZ7EBFiBGbJU7WRlolCiHVkRrO9zey5ECbHv9PtwsZ9N6++h8pcHuCUapABkOOgxyPrPr2KFDR4/3QAHorA67zajV6NVKuVwqBUzA3Q6zoP3Lr7747y8OtR3roIuU4AVBkmjVWiWfSe/t64AM6IKjSlR6zB3JNoYH4g61hEXnKh3RgQs/PXj68uWrtx8+gg2c+/RxBhIA9fmWUKTXFg8At29vbW7ugBnYgere3AJFAD+A3d+BIKNOENDDMnA++IGdddQX3ABtAF8LqFmAesqzswADczMf3718cu/unbv3fn30K/x5cPfnmz9eO12L+r1uHPeR0Vg4Ek9nC/XmQKXaaA0US9XmyPhgPhUjcbvVZDLoDSaj3h7KFrNRkPx+v9cL6gx1heDVoWgimUKI3RrIhjxWjVypkIoEYhGfK5DpzUaTww8pEg+DIszkivl0NJLI5lECoNbP+OTJM5cuX7lweriaSycjRJgKeXE8AI6EpGKZdCKZzebhw4COGG+W0mBSrDq5RGnAA1S8OIhefP702EApH7aI6X39DCaNyRVKICxmu0mvUXI7Dh1q7+zq7KaL9FaLXsplMej9DBZXYg6lspkEGH1pf0d7D01kdOJWE5yKWc5l8UVKA2YyYnYv6m1SfodZI2Z1Hf36H4c7u7pofD0gkNdhsdqNSrEEEs4EGW4Sdh76GhLg68PHu2hcsVQsU2gNOo0OFQOf1d9PZ/HhVzrQMO5QrtFqlBJuDZ/F1/nz49/cfvD46e/PXr97//HTwvzC3OI81PLmFqpgiOTCAZD369tg+j4Dz2/u/r0LkgDSYGcX0f7yPGiAzV3UEFyBHADHCNHfWAVpML84PwPgD18gJKD8Z+bmZ6eBYCAD7v365OmjX3/79e4PN65dmmpA8UD4spV6OZPIVhuNegO1BMv5fDYZIuOpaJAkCD8YW7cHd6Jaz1br5WI+B3xBELjd7fW53bgXSDuVyaaLdTi1Qj4ddGBGYAI+TyAUyTQGjd7qi4QDQO2JXCaZTsfIYByCWoY8Gx4ZHqrXhk+ePn/h0sULZ09NTY6PjbdKQDuED0dvBzYzGAqF4vnGGDw2PjqYp3ANkLpSrsHcsfro2PD4+EizAXKCxOQCZn8XwnqOQKwyOdBalV1O7+5n0PrpTJZQabBZDDKJWCKRiaU6PEC4rVYLEEVfH1OgMDktWp3F7bYqQf/pMYtVLxPwpXonEY7GQX6axPTOI19+faStrVegdUCSErgDU4sFYpmQLxArAevZfT0dR776+lDbkWM0AXCDWCKV8XmQiyBtIPwyjdGIFoVMdk8kV2+ODJe9cg5LZqUaF279ilr0b959mFtC7D8Pxby6tgpab219bWX+ADL4O3///XkPHP7W9h5Y/jW05ANyYHVpEQp+/f//Dz1vC3JhBbUPUC8ZBMTS8v7SwdwMkMtfb16++PPZk1/vP3z8+28P7v/6y0/Xr144M1HNZorAsiD3WtVyudZsDZZSsXgyHU+k4yECuBbI3enwBkAEupHayZYaw6PDwwM5KkAEgN+9Xg+IRhLMPyTR4PDwYK1SKaRCLnC5BrVcBAig1UjFUo0dDgEGLky4UVg8kVgsnS3Vh4cGa4UYlSzUGsMnAcwvXPv+hxtXL50dzfoxpUQqV+kB8E02D0GVhidGh1tw+EKGwvUatVymcVJgUxq1UjYeSxeKJXjApeH2dXZ29DCYbJ7CYPNQyaTfqFaqJAIuk8ER6602k1oikspAwmiMOg2IBrlUyOOIlBo9ZtMpgPTB06sMTo/b47JqZDKdMxDLFAqlQsKrF9GOffnFwSOILEDzILmgl/KY4PSPtNPYPLZAJOLRjkMGHGzrZIq1OhWPyWIz+ulseCuDUiTSmq1WTA+KYb+GgPsaMZOAr7RHmxdvPngM5Q/mHy3+LC3OLSwsryIPB2y/urEKNhC+dvd2d4Hzkcbb2pf8APSrK6v7D/0N2QGAsQL+YHkVKGJ1CXUQlvaXCJGTROsBH9+9efv+w7vXfzx7+ujhg8e/P3ny692fbly+dPns+CB4rqHh0ZHRVqMxODgIMr2eiYZRJxT4Op6MR1AvP5GJk+FQmIrHM6XGYKteymdCXn8oQpFeF27D7MF4KgGpMdhoNGvFfDGbjHidbpcdLr5ci4Grksi1VtCHNtxpAhLXQfGSfjIUz9RGp06faOXhHdK5SmNo4tSVGz/euPrttxdalEkqE7EZPDGoe42dSufrjUo+GQecKRYyYS+mU2nB8nldmMGEgS+IZEtgGEoRi7Cnra39eEc3BEVqAZhPhl02m0kJoeIIpWKJWMDoozH7umg8AZeDhgeEAhH4Vr3RgilFchOESIu5Q5FQgHSZFSK1zUsls5ksnC0mpx356uChI90csVJrNFo8hNemRJLy0FeHj/XQWAIlJCWvr+3gobZuBk+ulHDZ8AZ9vUyeSAGPgBx2OG1mI7h/OwEGZnCkFjbLJQqTPzty8Yf7L969e/f2/fTM3BIId7QEAOQN4I7cPiTAzr//n8874AC21sHor6+ugu8Dz7+xhup+C5lAwIaNzTWE/KuQF4szUPoI+ZfgN5AJczPTUP9/Pn/15uXz358+vnf3ATjBR3e///bKhfNnT0+dHBseGm42BirlApRko14bKMVIfygei0DJ+gPBUCQejycymSQVjkaD/ijYw3ohEY14rQ6XC05Jb9Ca0BqxJxwHHRjLJGIRYBQw6Ego+Jx2uw38EBL1PrfNoNHqMTsUmdZBhvyuQKIydnLq5IlmyuciI9FUttwcG5+Ymjxz/uxInsCUQsAPlUYuVViDiVQ2Gw/6CTKcyGZSqXQ04II3NalAZslAayIfnyo2RgYSLq2I2dN+rJ/F7OdjJJjFdISANFFw6f39fV0QqT5Ij7ZDnUxWf3c/jcFCGSDicuQmg5TLFXCFKjsZTWfjYQA+B2axI2EICpbEMSWf1tvd093DAHxXg4mMRz1aTldnV0cbaAyGELDdgXxH21dHQQRA8vIg/MfbOvrZAqEElLDTYTZZcZcD05pcwQSAbpE0q1VofTjVunj76R8vX7+dBvW3uDAzswRRXl5aXQYkALV/YAeR/87nzzs7uxDq9UWg+s31laWNnc97AAnICm6iJiBAxtLi2iZIxTUkBlDTEKhifXlhFrzgh3dvX73669WrZw/v37/90y0QHY9++eHby+fPXbxwfmqkWQfwz2dA/jWaLYDYuB93k5FYPBqOgA5OggwIhCJR0gNSLxIIRsHOxeHyg/hzgAXUW8xaJTCySqs36LV6oDi/xxfJFCADIHfAzgd9HqJKCTEAACAASURBVB/h96N+od/tcPt8LrsDd3nDgKHuSKnZbIwMNcuZFOo8RxOFRrPZGpk4d+HMiUYubDfotHq5gMWRonU4fygc9Eey8PliYDhi0Wg8SmD7DSS5Qmu04UQ0j5rWMb9FzuqjcdgMvsaCB1K5VDQcdBnlfC4DvCCLy+w93tkLIZJwGXQWC7UGVVqZSCzhsmg9vSyJ0Q1Elcyik/bidkAEBRARALfbopZL5QqpRCwHSeOPADT6zHKwRvQ+GoMnVenNuN9nlvQe/q//+c+jdCGfxWSB82872sOVa02YyezEbRaLw+3QKw0OfzhdBskVdOhVGoPNn5v66fGLv15++DQL5n9haXF9E0p9bQk1/dY2Ng5s7WwCwW9vg9vb3dlFug+IYRXN/QDrb26i9i9QBSD/yhLqE8MztzfROvF+NwFNBc0gBTj99u3bv14+f/zw/p2fb91DS0Hff3vx0rXvrl09f3JifGyw0mi0BtHCUDkVT0RIiHiESqZT+0QQJv2BSDQagviHoFDjUdLttFnsUH9yBdhyi04qk6o0Krkc8kCKfmFzBcJBn8OO+0HKuT1+koILCtkUiWdyhVzc7yJAErpxlz+SKhRz5UpjoF7OFQr5XAFU5NgEmkUYQw3ociLogspjA4EzeVKD1WYHD1XIZfLpeDRba9RzEYdOJmSzhBodlBgZz5Vy8HDcDYZQKGDS+SrMA+cRT2fCkABCYAC5SqcScthgE+QqCWACnSk0ugIh0mOGh/lsJlesQUs5gViukAy6HDbMqIGz0uksuD8YChJuO0CCwwr+FC1zx2NB3KQS84RwzqD3rT7Sb5P2Hv7H//ifXx/v6eqlMxiMvu4+jtxox11WkDFewEvMqFPCO1KZcn2gEHHqxFyBwpk79cOvz1++efvu4/76LdJ1wOZgApfmgcEPoKb/3ue93T0wfn+jRtDSCur87qGVAFCLG2heCDAA5B8kAfIAq1t7e5AAS2An5peW5kBagLdAIPDXi2eP7t+/f+fWnV/u3vn5x+9uXL9+4/o3Vy+ev3ByeGhkZKRSKNdrxVQiDyouEUd9m3wOpFUiRHgJfzgFuj8c9HhD8UTY63I5nTYTGvnzeaE2lAoQ1zK1EXyRQm8ByAfBA7yK2Z0YQAJBkNFUIhomiGxzZHCoUcqBu89kKRd4CHBZiUyhVCnXm0OgLAqVUiEHH6M5ODg0NDI6Vk+61TIReDcWF6hXb3QlSpVqfaCSy9dbQ4OVmEMpYHJ4IrFAoMY8QSpMkiDaw6TbalQJaP08idpo94TByHqcJhV6vcmolgDki2RSKRdKl8VTYF4SSVNws3aTQStTqLVqvQ34JB/zYCaLE0DAbMEJsCIxuAAe3B+JB70+cKjhVLmU9NsteqVajyZTFGrgAEzJ7jj45cH2PlpvD72f1s9i0HhqzOVFK6MgoIJONMQCJiKUqg82K1GvVc3nyrDY8Dd3nrz46+2H6Y8fZvYFABTzImrhgCKcOYDCubO3vQkAAFAPf9Y3tlE/YG8LLQ9tQawhB5YWVzcRLqCFQMAN1Ade3HcBi2AqQFkuzgACvHn74re7EPybP92+dfMHKP6rV769/v0P17+5dO7U+PBAhvSRMYh5GfXmqpVKMZ9NpTL5fC5OeoHjXV475nC7XP5YJkYSHocTETzuclqBKe12SG29FXdiRsxqt0ACgJrWogwAP2j3kSEqFk/ESDJVAYAfHjsxNdYarMVRGlnhKXbcQ8RS2XQMFGY5F4vEMsVSuVgZaA6Pj9ZjXkytUCmFfJFUJFKYiVgOPlq+PDQ2MTk+MpAmnE67XsLu7WUKVWa73QdIlSrVSzHCrhfQeru66QINXO9gJAFZ4PN6HJhKJBAIpUqNSsrlCMViiQYSNBSLEqjF78SUUrAIUq0dzcdR4IFCEcIOmWzU6y3eWDoW8AbiqVgE5AuRLFQKSdJt0UikQi6LToNsEql1KjGnv7ObzqTR2Ux6P5MvFkk1mNXphVP1h2Ihl9WsQ+vFrv0rUcu41UKRVEdUz9988uLN2w/vP36CYl1Cpbu4DCmAfkZ9ANTzAQeIwo7Whde3N7c/7yJLCAbg35/hIQAB0Ayry8uLyDcgPbCBJMTiwur6yiJowVXIprnpd3+9/OP33x799ujBL7dv/fzjD9evXrl69dvvfrx983vggbFqgvRCpWZAjbdaDciAYi6XzeWKpVwUasFowqyY2el22x0h1PKJEj6SDIbBpXvcbpfH5/e4/WSQ9HlcbhA6+5G3Qnjhm87kJILBIAVRrdTAJTRGT184f3pitFmBg6ejgKsYhrjQqEFDPEHC6yPjIPkbdRAkI+ARRmqZsNuq4nNFAgaE0xWHT1VpjU+dvfjtNxdPDjfq5RSh53R2oRTQOiKZZDzfGKzn4oSR19l26Eh7n0CDeaK5cjGbplwGlUwqVmhMFkAojRbciVRr8ZBUKhkDHnCCOhULRBKw7A5PHJ4fj6WgajVAMjwFGhzKxILxTNTnAuiWIa0QjsdIu0nD72k7fPBIJ5ooBiYU87hcHleskEgh0wQCAbyd0WT1hKJx0mnUgK01W8ARuqnKSCvjUMgUGrMnM3Hj1xfv3715Pz27sDA7/R6pQXABCwsrK6sLB/b+3kMdwG0kAJDZW1tbB1eIcmFn7+/97tDG2vIKWIKVZfi2vLQGxnBvE0UeSYrlFSQFgAGmP7x5/frls6dPnzy8/f131659d+O7699du37tu+++v3755BCIr1qxUC6Wi5k86gY0ysCz4TAZREN/bqcTGNthNdvcPqc7nEqEQyQZ8AGV5dIJdOHMDk8A0JcMo7kA0uMOUKkEGv3wgPUzIE1AhqLpQi5frZfLFaD50eFKqVyrg+oE0ZEOezAZh0nr7ulnCaDQVVYyU4VEGRiePH3u/Lkzk8O1LOUGugTdThcbnT6SylXqzZOXv7v+zZVLF8+O18I6xvGO4z0sidpKxqPJcrPVLGcpu5zb337o66P9YoODTBaK+ULarxdLVEYr7kZa1AyyRaYy2F0+FMp42G1SCPhCkRC4zOJCc475TDoe8mFyentbN0thdpPJTCadoVxWo4zT28mQWwPAbGGPWdj59Vdff30EzABdrFYo1RqVWo1GohUyIRgMBkusM9vhU3ttepXagJyxUm12xytDzZRdoVKr1GaieObnJ3/+BRjw8eP0+w/vZ2YBACAFFpZQKxiCvLkOJL+1iVb8lpdB6K3vft7v/oFD3EMNovW19f8ox41NAIutjX2wWF9FC8f7PcG5udmZD29ePH/14tnT35/8evvGN9eu3/jum2/QN7iI58ZKsUimOjDYGqyX8+lUOl9pDQ2UUtEoRfpARYV8HiKMSt2OE2AKM6mQe39iIFOqVfNJEsdxG0Jx9AWBjlCA5LXWyGC1lM+EPR7gT/h9JJXLx0OEL4BMJUgggPjmYHNwaGzq9EglG3UoePTerp5uUNRsqdEbAdOXLw1OXr7+7TeXz0wMDzWKqYBNK4WryRVocTKSyNZGT567cPb0qbOnJ0oeaX9X+/EenhIknCcUz5fy2UIlH7GpBYye9i6WAnN6ApFYKp0I4xhmw71EBGydTs7jSEGgWy2YxRnK1qpJXC0QyJHtlGqt4CmyoEqzCdImZxw/1t7N16HRkkyxUs2SNoNKQO/nKi1ELJ2JeTSc44e++Oc/v27v6eGqTTaHzag3GQ0mK6ZBvQEBR2qwYRgeifttmEWvlvJYIo0zlCjVm6WoB8cUUpUtceLHX5+/+fDp0ydw7B8+zaO53+UVpAeX5g/sbSKth5Te7s7GOvxjCX7a293dgl+t7a8FQn4ANWysg1nY3QW5uLG8CDJgZW52bhZoBJgADjv9/u3rP5/9/vTR/Tu/3P7pxjeXL165DPVzGS7wxamBVDiUKlabLbQMn08n4qkS0EApHg5CSQeA6t1BCqRPAHWFQ1QyBj8Tfi+I5WypmE+BJHSD1kerScFQOAA/JPPVoYmxVrVczGXTuTzyEvCVp3xOK5qTtAcSaJl3YKBaKpRbJ8+emxpvVZMOjRj1Ttg8mVJnJYKBYKzQOjF1+tyF0+NoKKVRTMbhWstUGoUSI0CoAkMMjwy2mgP1LKHj9fcc76BLUV/eG4zEEtlidaCcDeFojVCLZtMNDrfTRYBKDIST2XwlFzDJeBy2QG22mgwqLU6VBkcGEg7D/tCnSizTWhxEIptN5bNhh4J5vP14JyhKhc4eyg80a6kwgWMamUCssRJUMhl2GcT0ruPtbcd7+zkKncmgUcPn0KOlAINBJRELRWgRGA+QVq3eatYI9xejPVQ2Xx6ooo+oM9nDzcu3Hz9//fY9CLW/3qHtAUgAQv0urSwc+DdIf/B2G2sAA2hVaAPFfHt7D01+gwBEo0CoD7S9sb6F1OH+2BDaLrS2NLuwNDuLFpk/QfjfvP/r+ZMnj588eQQW8NrVyxfPnjp/6eLlqxemxkeatUqhWB4A1G2NtAYr8TBkerVWTMfRtGcs6HMTZJAK+X0QZhfu9btx4H+/1+eFkwBTHgt70YqA0416e7GI3+sHvq82ocAHqpVqGXXoatVaDTx6HlIqRLpAmGeL2ThEIkVF882xiTMXz589NV5LEE5MK2X29DIEKpPTHcpWBxqt8ZPnp0Zaw81qpVbJB92eoNcsV9ndYMTzYAgq5XyuWMmHbQoBl8OXaw1w5U02XzgaQz3DTCoaiZBOg4xDZ0D81Gh2h4hDbgw2CpQdHJ7aBJZFq9A4qWJtoJxGL6JIvxtDmxsMvngSoKwUsUrpxw7942A7jae0U8UBOKtiJuJDAl6utUBpxCNevZTPY3Z19tHYQrlUDirSiqmlYjF4CjGH3kfniNUY7raCTHaBZQLTLJabveCNBwar6YjXbraS1XM/3Pvtj1cQfrRHaBaNg26gWY+19ZUDu4j+kenb2twXg+sbqEO4twsovwMPba3tzwKuAeZv7OuD7Y2l+fkltFEIPMDM9MdZNBf816sXfzx78ujxo99+vX8XEODqhQsXz547f+nKxamhxiBQcblcB2F16sRYq15OAIqns8l4OhmLhCmofRtmdRMBv8/rDZJeHHd6vF6nDc2ThwJgbyI+BzgBE1QP7gCsDaIOwv5OAxQcuFj5UhkBenN4pNUoJqhw0Ic7vYTDZPUHPVbMkyjWhqZOnZ46BW8+WAqb+H2dx4910IRKSyASiiVT+Wq1kC3WarXB4VatXC1SDpVMiXaEwbsHgz4n7qUSQdyolqu0KrBjQj68EoQoKG9AqGI5G3GZ1EK0HMTiC+VqoxXcYhwQqJ6P4Farw4ObVUKZyR+BM00ks+VqPhUjMCmHwRAYA5na8PhwNaxntX3xj0NtHSAyLJEsmNRSOuJ3mpRylVyiteEen9uKmbRyIZ/PYaG+klqlt5iUAg6LKzehfWAdCD3kCpUWQ1sicIseaU9HIJ5vwtETAbfF4sujDWIvXr96/eLlG0gAgO01MHBou9fage2dDZB1IAF30Mj/1tYOOMGtnb/3/kbicGcHQADZQbQ5BGnEta3N1UXkI9EMKdoytLq2MP3uzes3r14+f/zb08cPbv98+96Dn65fOnfmHPx/5ux4a7DZHBoebDRHJ6ZOnTk51shEAv4QqLgUxDAbi0RTERcGMtbvduAet82o0xlMmNmgAeFuBVvo9busOjGHixpqBqT+0SAVVEXAYdCZMCdJhYH+9/cfDrWGGqU0FFkukwA8cdkxtUwuVxhwf7LaHGy1RifPnTk1Wg4YON3H2vrYAiHwsdEBSAB4AkgwihYr6o1Kwq1TKeAqG2zgMIyoWwvhNoKgAwVg0qpUWjgmZILObrX5QXnmU0FcJwE9zqHT6EyORIVe4wxkq/V6BcgJSlklgAo1YjaPPxBJFzJRP26UsPv7uBp3otwcGR3Me+V0UCd9Xce6OBoHGc+WKoW4B9Or5WIOSwCyw01G4pTfqofPIIHj6wxmq1EjZvb10MUGs07E6m3v6KNzJQanP16AhPSYDXAJre4gHH6wkooQcBGp5sWbqBn0EhLgI2oBra4BAKABj5UD2xtbaJ1vD6hgc2d7HTWB1lfWofTXt/6zGID0IAhAtJ9gYQlYAU0GLi2ChlgA+QcE8PE9xP/d21cgAZ49f/rowcN7318AdQ0Ke2p04iQorIFyY3R8GEC6NXHy5GgdgDoKIixdqEC44tEQ6cPdXo/drIV4mNQSFpMrUWpB3YCYhYut1mjlPBZbYrTpNFqTyQy2D01WQKZo1XKhSGdzOsHkx6lEOlcsl3PAq3ABS7lsKoTWhdCSvVxlI6PReLYOsu7cmanhcsQGZk0lFwklcq3RZLb7qWQOBEod0qhSB3nvQjvOQMBrNTKRyuK02zCjSiLkciVGuwWzOQ3cnr5+Bl+p0Rj90Th41qjfrJFJBfS+frDr/SyRUmvB/RGQkaODWdKiFrH6etlSg8XuJuNo+JnyWrRyPosuNBPRdLE6OJAj4RcSIbuvl6c0IX+QzVE2uRwugYTPESlNzgCFtjzgdtS2ZnMFUqVWrYQcYslsBOExg4s43sPgirSuKNjbZhnE4P5whQUPZytoKs7vtHvTE9fuPn0JQP3X2xk087mGGsEI7JcObCOcB9qH6oc6X9/e2kOdIVD+aB3wMxIAe7voIbD+aBURrRduLC8sLi8DMEAazbx7//bV65dv37959efTRw9//e23R/e+v3zxwsUz509Pnjg1OTo8PFiFyE+OjYxPou0b6TySbtFksVrNpRLJZDzsA7w366Q8jkwDF17IYTGBbsViqVyjFPPFMpVOqwGrHXCDF8BtTqtBa7J7/eAMzFCqOiuOu/2E06y3eqOpYhngPA9Wc3+XkAuNGPtseo3OqFGY/dFCY3io2WwNNqrFqN9pgYRSyTUAI3ZvCHV506lCtTk82ijHXE40c6KQ8FlMPnqG3W0FxOXJzbjX7bTpOB3txzrpLKHK7PSGIrFkJh31Wk0aGZ/J6u/q6GaKgLtdwURleKyRC5glaHGAIdKaHThSwpVcMoBbjSAEjT60JFqsD8E7ejG9Rs6hMThiHWaFgPsxgBk5n8vsZUn0TiIJCRAh7BpuZ9vxfloPmkkR8zloNTIVwfX8/h46uk5WcDfFainqMut0arlIqndHC83hahQ36szezMjl209evHrx6v3c0sbqyuLif1ZzF+cPoInPbbD8//o34n2I99//2tvZ3VpdWd9cRz1ggAGQB6g58C/UFFpbXUcLxWtrq6tgDlYXPn389O7NX6ACXv75x+9PHj18+Oj3325fvwD++tzFqdHBxsjEyRMTE1NTY0NjEyPlTCaJEDqZzpVqzWomQoZCwQBaFjNIWH00OlcKxkanlknVBrMZAN+kV2uUWpPDDqKZivghoqEQ2F0guHAgABnhsFkwh9thNht1Ko3WgHnhaH6/nwiAXAwTUNnZXIJw6JUyEZCin/DCAwG0YFAsZBJh0m3TSBWgpDE7Gu3wBcKA6ANDYAhySWAYk04t4XAFfK5QabSYNVKh3GDDCYAevZjWebyjFz6tQAFRxX0BioqGQyG3QYJadv0QHYXO4oV8a9ZzpInfdbStgyXVov1BqXytWs5EcKNeDb4BfUwKbZYZKENSmNUCWk83QySVqO1e3GazAHrJRFyOUG3GiXCYCrrNclobSIX2g4e74c3FSr0jnEol424li84TKZQapcLgy8DxAxYIP4cr0uHhTGOsVQw5dEodXjj108Onz/58/e7TwsrKysIC2hiIRjsPbO2BBvz3v6DMP//v//d/owWhrdW1nT00FIAaARsr+1wBELANBIG2ky2trEMGrK/At6WFObAAb//68+XrV2/+evn7k4cPHj568vDnq6dPnp4cLmcA5eutifHRFjiqiRND1Vw8GosmMvkcyPfGQCkB5xUKgCy2aBQyLr0PjYKrDZhZrwVnjVZ50NSOxWR1eTzeYDRBkT4ykY4TYBsjqRQcCjkHCFvIi5btwQELgDU0eogcqCQrOkgwtT87YsIsoKVwk0qtN1msdjPoeBBqOdBvNrNOrVTI1YherHa7L15pjQw16qAL0Wi9mkdnsVggtgQ8Dk8Cls6O+4IUgcmZncd7+/r6aWy5Rqs2ACWFU6V6IWRRyRVSqVSmUEqlJl8sk06lwpigp72TKdLafX6f2x9O5XO5mMdk0Ooxh9NiseP+UAykbDlJ2LUSLofJYtGZYhNOREKEx4EBrIikCrXWSgQ8XgLXcruOHDr49T++PNYLqSnVOf0UnEfYroSkMdltJqXOk2mO1WN2Ba+fzpaafSEq32wVSLteKsViE9//+uzP53++fD8Htb+OlvZWQNytH0BNn13AeqQE0e6/rd1dqPft/X0BaOkPgr6CJMAW0gYLaIfxAuoBoqHgufmF+bmPqAX8HA78/MmDX36+efsuaMCzrRoin3CmUmuMod2A2VRpoFkvZVNpQOhafaBRAdeFxK7LatAAXsnkCrFAyIfTQkPvRh1a4AB0jaAMCUWoRAZkfwwCHUpXq5mQw+aPpROxVL6Qy+ZKlXyM9DgcNkyn1ho0crFQwBOp0SZasVyDuSCBMBdJxSIhN6bTaVQyCfgnuc7t94fi2TQklQtTchksOosjlOscoWy9NQSKcWRsslWgcDWfQaPDYxAVnkiuxhxetKcv5gHjx2Htr/7z+EKJTG1y+OPlZoHUSYRwcC3awy3UuUm/jyTcRpkANA3m8nvtJr0VHA4JulwHWe3zWEHS6NE8YzafDDnUIi6fDSKCo7D6w1Q8CXmiUQMJ8nkCpU6PJK9Owe07fvCf/zh8nClRac12tOeQgivkNmvUZofdZLC445XBWspvkjJZIp0DfHO6NlQJ2fQqudFfOXvz0fOXr168+TAzt7y6ju77AGJg9QBqAwPP74Da29ncH/1Ca/5rW/+ZEEUMsLqy3/9HM8Azc2hPMPyZm0dbQWY+zX188+rVixcvX7x69cfje3fuggS8c/fmN6eGG5V8beTE1PjEWKucSufQRCfac5cuNkZHh2q1XL5SL0ZwzKABA6NWSSViPpfHFaChGpXNiXqpASqeiocANrOlWr1cKGaTFEmgX8Z8GIYHYplioVjIpXLlxkAlTYXCFOHGbWa9RiHmo0E5NvhjJosrlAjVmA+wt5CmCAemkXCYXIFEqjZaHD4KdaVzlBv5eHTzDg6oRTh+udEanjh9+fzUcC6IAzZJJWiuC/WQgWQsOJkqlTNh3ASI3dl2pL0H8qCfpzAS+cFm1gfKQanB7BaTXMCF5+vhgwZ9bhtmQ3cjAeOiN4I2I8NBNx6Ip1IUCBSVQosBrgQDDr1UyGXSGUyhHg+CWhxo5HwmtZTd390vUBs0apUOM6IMaPv6SCdTinaM4b5YvpJPpOIBixawTacAUYvHKs0WyFy1UmPz+tzB7OBYK+uQCqQGPD5y4+GzF6+Arqc/zS2tbK7+Z3PPART03b/39rkfLMD6BigCoP3NLYCBvb3N/V2A6/sTZGgJcW5ufw4QEGRubnZuevrD2zfIXf7557Mnjx/9cueXe7/c/vnO7R+vnxsF0D978dLlS+fGqvlsCqIXSoB5Lw20xiamRhqlQrGUDeFmvVKuBtcHsC0Xoy3aBpMZhLkN93pJIMgIGs8HFqmBts/ESb8HzdHbdcCKoKfgqPEoBKxUb7RaVfBjMTAUHrfDAI4NpCSt6/ixtuN9LA44BW8ELa6lQji6z4haIxUJVQY7agjnixXUbDYrBWxGP1MAdYQHkvl8sQ6f/dzUUL2SDXsdZp1BC8ghEEnEcoPdR+XrreGBLKlhdbV98eWhI0eP9cArHehoyaALPrkHt5rkXAaTK1Ib7V4qmcpCrAHISIcOkE5jBu8KVwP+99o0Ai5XpACHgDusRp1cwGQLZBrMgRPxYr1eTgetUjaTzZXojEqRWIUWASQ8RteRNobKaDbbPQBsVAiOBLLfDLnNpnGkBl+2NTZUCTstkCAeTyTfmjzZijvQZhiqdvHOU3AB795Mf5qeAyGwOD+/vL55AHz++s7ezs7f//77884O6H2IP5oD2J8OB9m3CbYPgQJAwNL8wiKAAFoSXPr4/uMsut/I/MzbV68gBZ4/ffzw/i/37t2+de/Ords//XD9yuXLV65/f/3KxdPI+ZFOzBnOVRv1ehO84dRwmgzHKZ9VjybuQNzjaIucQgInj4Emc6J7QwT9JCgfksrVm41SHH70uXGjQmGwO6wY7geCjVPJ/VYiWrpvlPJopiwcT6fCXpsdjdyKpFxGZ9vRY8d7WXwpunsKaiaTAb8Hd+jFbIbQaLfhUPBxUKVpymdUSPb9htHqC4eD8fr46VMnT02Oj43UcxQOYhQohUUDQJFprJ5wulRvDqSsnONHvv7yi0PHunsZfJnG7CDiuXw2l0tRYZ9VAQ6CxuBKNGYcEga8T9hjM6t4NBqDJzPYAeLDBDgNCaefxhRIVXqj2erE4RIoVWBrCL8HWAHyvlkhVRyWQKrBbHohiwmAJpJJRJy+XgEoHSsehDfyoK65C3faMT36gEINDp99YriCXKPTg/uSzVPnT7dSZDBMxlpX7jx58fbtX2+nIXCLKytzH+eW1rYOrIMY3G/+ovEvtAUY7QpCu0UA/bd20X0j0CYRtElobWNlfmb2E5oDWEAzwQAIM+/fv33x+5NnIAFePHv04M7tW7d+uH7jGlpjOXvq7NXvf7px8ezUaCXmwqxAxIlsvVoC3zMBQoVwOV2o8+tyOmzg73wOTI9uFGMx6MBq+8LJQjZGgm5yucloMh6LUrEoSfhsBqubIEmSiGQK6Wg4tt9KzA4MD5ZRWxaygYrFEvFYmHCaADI1ICz7e9EKEIhm8AE2J8SuUMxQHp2ILTFYzTYPWocggHDR8KkDs9ktRqPV5vJFUnkAmPLQ5JkL50/UYj6nw6oFO0djASFLjB4yFIlnC1GbjIWcPxN8K4PFE6kwMl2uVCuFqM9pVEkVKnDxTLZE5wpnSuU0YZRwIIgYBAAAIABJREFU6V1tYOOEKoyIJcM+m47fc+zo8V4mly+E5AOlEib9oPdjSYDLYCQGlqSV9xlUanQPI4cavT0X3J6Ez2QKwbxApsbCPpePID0urwsNF4nAP4O5TA+MT41Xol4bnAiRGpi8+O35oTTh8sUGL0MCfPj4Een/+bnFpblZdJOvAztot9/fYAN2tnY2N3d299AqMPz1L3QbCNB+AABol8AGGD80ETz7CV61MDu/OI/uC/T+NQiA50+f/Pbo8ZNH927++POtH65c+va7H767eu7E2NSlb769dHZqrFXLEN5wPB4Jx3PFfCqTLxWTpMvhdBNBwu3EPS6HFYyxWo/ZrEZ0oyizFfciYRQP+QJo8Q8scCieiUUiaJuQB+35yGTi0WgcsBrqPpUtNypZKkCQXn8kkYzAU1OJKKhowm0D6JbzWYy+nu5eGhcusccbiOer5RRhNWr1yCor5Co9uk7IHKKxQZ8FTR9qTRYg2EiqPHLm8oWTg0W0RdSNyXlcDpgCsIU6DCdAVsQJhwlQ2aSXc0Em0jkiLU6iGxjkEwQOyW2Fd5cIZEabJ5ot5ymnktvX3YHmiflaJwnnYtMK6D3HO3sZHCEIV7HK7CbhZIHrUnDCbhucaWloKB8CSwiZaZTzWAwGGjEUC7hCkUSpx5xupw3dJAhcjg13Wo16OdofIFVbiWxjpFGIehxwYvH6yUtXLp2oROHHxvmbT169//Bxdnlpfml+dW0ZQri6dgDd9QngHuIPzn7/NnCo7b+6gUT/KjL9a/sjg3ugFDdWFxdmP05/QhLwI8DI7Md3r/968+r5owf3Hz56cO/uz99fu3rx0tVvbwD+Xzw9efLs+XOTY8PNQgT8W6paSiULdXCCsUK1FIUyDvm9Pp/X7bCC5dUppBqL02GS86V6NExhBqoN+92gBQE3oLQRZaIqtZiMFsxJJnNoCJCKprJoljhbrZcSZAAkdzBCUaEounMMqMdo2Ou0GZRSER8EYU8/W6IFe2F0EiCwE9EQAQQsRZsrJAo5upMP2p+RykSdKgG6VwSbzZaYfPHa2Kmzk8PVFGgLH7rcQNN8Op3BBkFochJQsB63G4yqXilkM7uPd9KFCpObTBRLuUwqCSUIVh6Emd4ZytUHG1m3ElwOfJR+ngQknMVsUEuFfDQ/CNoCVbVMabAB3iUAwLxgQUEcukLJXCroRnNhcqmYS+/u6OpjC/lMNl8olKm0OtBO6DZBFovT57Wh1rFEKhUINXa09jhUDjttgJ+54TPnL58ZTISATEe/ffDy3TRw+NL+vi60w39p+cDW9ud/fUYLQZubn/+FbgWzub/eh9p8K6vLq/v9vs3/bA9eRSJw+v07NGAMLDC7MPPu5Yu/Xr/4HTLg7q8P7t368ZvzZy5cunrj2tVL589Mjp04c2qs2ail0H38CvksFYnncwDaCajbWCqNRm/j0aDX5YT01SiVerNRyuplyvQmvUppALuuM4JRdjotZge6LVQAjLleCyypBFkfCQcDHhf43HgiHgVcycZjcbCFOSQMs6VcKhYmQ0m0RSwc9Fo1Ii6bzWGAvpJJFXqL0+WNZGvldCTgdRol9N6+7l66UIVa7rFsPhWyKUVcVm9HexdbYQulywOVfMShVWqtTie8n88mo3d39vSxRHI9MJUvGAIfadQqpdz+jrZOGiSZ1R7IDAxPjDXzIafVZpKLZAZnMF1tjTVzHpD8ChEb1CEfYq6AQzqMSolIBtqvu+04DQlAvTMYC3vsNotOxmfylHZfKBINeUwKAYfNZtE6/z+WvoO9bStp17/kPt/ebdlsNi6yZHWKvTewASBAEARBggQJgr0XkSpUd5FbXFJ3s0k2xUkcO8Wx49iOLcvdyWa/797/cmeYG0WyRFIUcM6cmfc9Z+adV/781yNjY2MzOsP8rM5gs8KH0xNkuGQmHaOdZiO4tYV5azCWaQ1Xuhna5w+QfGll59TOciMjxtX++fc/+eLbe+DJR0U/qPYABvD4AZ7t7L/45SmG/MejeoDRHtAzzAF9iOXBj5++/OXFE8wlvPvDre+/+/bbH368cxs+b37zBQqDXb3y8Qd/f/fdv7/91sUzx1Geb3PnxNbW5spgsNKtFYuVfLHeqBTzyYigVIoqrI+MkstkVcBeUSwYBRTgBxK/MDsNoO2V1yeADo6PTc8fe/21I9ML85qZoxMavcnhCdIBmxactsmM3wNqxA1vf5iLCumsLHKcIKRyRYgJybRazCvxcDhdLGbSOTUjslgxYdZMzxtHmcUQUqOZWr1Wb1fStGXq0Ot//QsgxWkzvJdUaDcyYa9jYRwreqdmwTOIyVjQAaRuct4R5CJB2+zRg3999dAxjcGox1p8OgKw0uc0zo4d/Ouf/3JoFqC6i5Yqi0u9YtRjwTRmsy8cE/NAVGq/lZlrZuenxw8fmdI5w6IQtOn1es3s5BG4hL+8dmTWHBTlJEfCioAAteCMZAqVWo5zo0zhkbFDr/35z6/B1R6a0pt0Gr1uempeo9UDmPUxUr6UY112t8dmM1tsPi7XW+1nfCYjmIdQGWxtr3SLObWxeua9T67jVvDjPSzuuY9JgQ8O7O89wETwJ8D5Xr74+dnj/SdYKfrk8TP4/E0+5imwQUCFT/bv3793+8b1q19d++bGj7d/uPnDjze++vyr777/5spH77/3znv/+PD9dy8cX1vdPnEcws72xmq/0+10B4Nuo7046LUhKsHAdFs4FPlsKplIiFgLFGdhaQV9LsvC1NFDr/75r3CjMPbT0zPjr//1dVidh/8KkzM/Mw9Bz2OFkGp3ojxWEIIeloZZPDTEfEXi6aA/xMUiEFu5uFIqKOkYGwP6hQewpSJ85mXO74H/7GagYUwMyH5ncbDczPEek3Z6/NDfXj86ZwnGlVpvuZOLeU2zk9NzCOHAn5I+pxUc/+FDUyav3+MwLei0s9Pgt4G0A6D3eP1sIiX4dDMzE4cOj03OTE/rnHSy0ltezLF+p9UTZCEuJUZVkdViinboNPAGM/huRExO8X7LwpxmYWZ6/OCr4ASm7ZFco6okuSAgVL8vGM83Ot2a6Jk/8urv//Ta66+/+hq87A+vHl2wu6x6zcz0vE63ABbgp+JqrSgECb/XTwa9ThctN7o1yTM7ieXCXGmwtjEoJeV8e+PCB59d+x7c990Ho+IPCAN7B7DY/8FPP+1BiAem9xMYxU8P9p89e/Hs5QssGMf9ANz/33/8DCVBbl27eu3Lz7/4+nvMA//u66tfXvv6m2+++vj9v78HDOCdi2d2NjZ3Tp44c+7EWr/VaLU77U5VzVWarVYVT2jy8F11ROBRASzBM+FwwONyO0yYLa0fnaeBp54+Njk7NzU9eWwcYvffDk3gCAFB9FrmZnUmh0Wvt3jDfDzGBAjgz0wsKackHtCBG/fPXV5vWJSVfB6AIm4/ZLFEtLeyfWJnraUm+QjACC8eJ/KpIhaqVfMyT7sNM5OTmP1PQNTv9qp5gcTjudnxw4endSaLxaTXTB89+BrYiMFOeCEeuUwG3ezY3147eBjFG/1RSRZpD0T4+dnJsUNHNXoHJUpKuVJUJC7CMQB16WBYylfqjVIigBtfFqtJo7UEMb0l7NJrDDanw2bWTY6DDUrVXr9VkjkyEEYdhXy52arLvrm//f6/Xjk0cezw60cO//XPrwKRsFhtmDOk02k0Vi9AYxEGISlCPA2HAh4vK+Xr1bRPhyferkiht7rakmiaT9Z33vn4i29u3xvVhT148ACR/AH8Bh54NFrso82Bh/uPMR0U9wGfPBtJx4FbeAqgEetA8NTv8y+v37h14+atm99/c+1rQAAff/rRh/949623Ll3Y3dwE5Ldzcnd3s10sNVoVNV/C0utWp1Urlkr5QqWkSFjmj0QgAFw2HHLqNZr5qSkA5Jqp8QnUBkL1T6fdajZp5+bnF0xeAhOvcKvT6iIo0oXb6FguLEAAxhQskQ2FuRgvhl02F6YXY+G/nBISuVIRbK1YUovN1ZO4I7G9uVQF5CEyhNNlsxGsODqSahRihAMzayY0Jg+nFAtFjBoBr1kzMzE2DvTRaDVpZ/FIb2zW5PJTnBgLAxYFCH/wtVf+8OfXjmpclKhWCoJHrzXMHn3t9fE5a4ANRyRMe2vkJTGjpOEyY7yQyippLoRlDYGQ12pyw1ULsZBNi6oOQioRpSkgP6WltdVeNSdFUWE1nc4VK82yYDv6p//63Z9fP3RkfHJ68uhRHCaTw23Xa/VGs83tC4RQQKFYLWZELozV+KxU7PYrnHlOD7ggkKytrPXyIsfGlNU3P/7y+s0f7z7Yw1l/cPfHu3sH7u9jdidqgz56+vTx3gOUjR0JhcKqBxu4P6oUQqXYe5j8+cO3177+6trV69e/vf7V1etXr13/6svPr3z+r/ffPn/m7Pnd7fW11aWl5dWN41v9ogyuWUyq9Xaj1h4s9XuL7WqhWM4leQjaEKsjjjlgrQEyBI4SSx+MZv2CZkEDtwTLwekPBeGpAOFxO5xucGxAGXlgemwkjDVjTJSPwpRLGTWXzyUjKCEhJMJWrQbG0ov6fZTPE4ynMQe9hZVpjf5wYxslAk9srHQ7WDapmZmc0xo9tJDONxplOerFvcMxJGixqCAmeQb1veaOHjoyMQmOdn76yCGAJMDX9G5GTCVZMBnd1Ot/+C+s1NRi/V2j01BFyufSTR45fHTOarc6A6xU7i+1CoVKs1GWQnabl+KB40siqmJHwx7zKOEryvgcTm9YKtSQy5IErXTXt06sdQo5tVguq5LAhuE+eK/uyB/+1+/+cHBao9XqZ7Di0OgFoGCFdYLZB7QgV5qdpirBimDDJBmJq61BWw5ZzQ6708/XlteWGnIkGJGaJ97+4Mq1GzdHKqH3RxrABxAUPnkOcA+xHyYDjTKCXjx/BMjvJdaC3sN6INSSfQC+4O6Na1euXPn4X598+c1NcALffHXty08/+/Ddi6d2NrY214abx3fWVpcHi8vDFcz7jUvFeq1WrTfbmA8K//QACgkchG1VFZ3T49NaJxWFi2aAUEMMMNrcbrNmzoxZtjGegxkWUTgRy6IibAQWe1LOykmI9zQvAHFXlUK1WW+UszGWB5JIw4jAb9JMmKaDHk8QE3UVJZNOZeR0JldtL2+c2NneObG9vtJMB4FWTwDYmHPSiXJvsNxSRcZnnp/Vu6kwTdJRIcbRftv8xOHDwL4Bsc1Nw9eJ8aPTeneQSwLk8Fh1cxOv/ekPB49OwYIHZ11oYCUR7bXOTYxPTQM+sxKx8nBnvV0uF1U56oGVGqBYAcITciBgNC6TDqUpOSyULrf6w821xbIY4ZXm0tbZsyfWlrq9brMYDwGKyyN4MI+/ijojVrvDBcDRCEiGJoMhyufQW/2cBMtssdfKCQw8SLHRqJiprWwuFVkv+ERPWIF7X6nDysvW1i7+88rV69/cvDPSCvjp4dPnB+49fj7KAd/HvKDnmBn8CDMARz/A4w9+vPfw6UPc9Lt956cHPz348cb1Lz796AMIJTe+/e7GN1+MFMEuvXFmc7HW6K9uQaxd6bVbvd6g2y5nMsVWt12DENDrL7YaNUCD3aocCQWxyorxO/QLZh8nIvElPTaLyeAggqRTM6X1BAFdRyBmJQVcIma9k+Z5ho7wQgJPyTiS5uNJKVOstrv9pcVGDkmlrGQzSYFjwEcEiQAZJEncYPJ4XA6H1Wz3sPDqSrGIrmDn+MYSQHS9QTt5cBxIUyJXrHV7MNiw5jULVqfF7AlxiYzM+4xz01PTE2OHj2khapsBc86MT2qsBMnwcT4AcHDq6Bh8TOsdHo8zKJY7vaoUMOvnpqaApy+YYeZ6a9vDThF9lFWvtcDLgiSXQAIMBgDI8tjkHESdLF7U1jbQpl41k8yUexunzpzY3hr2m8VMgifpuJLPyAnSNDk2PmP2+Hw+DxbRoKwBw0eCDoPFE0kp+WqjWU7xLAmA2k/HJTnfXVvrpmnkVy4WrGqlU1QAeJVWLn589RssEUILuHd/b+/AHhjASxSKwtyvJ5j3+2gfNYGxBuDn5yglg4KhAA/v30dpiXu3bnz77dVP//XpV2AB33z95SfvvYE54Lsnt1aWljeO757aXm5Wi/lqu9FudTuLyyt9cP9LyAIABReb/WYqaHeRQjZfkKPBABfHczyOxIQaPWb6RIJWvQX/DZNUVJIEhvRZdTobQXJR3DMKUlGBZyiWF3BjozFY7sIykVEYJqdANJDFKIAuzBGA3yRcNtPC7NzcHOAImDRRyaVEpdFfXt/EWpBUwIECOxNTBoIKAopuVGXaZTGYrMaFBZPViZVqdt2CwYhCnoDYmWiMowKWyUNjcyYHwrdY2A9reA6w/5Fj01MzC554sbe+3ZODdovRhOUAVCxb7Q0hFlZTjMc0Nzmjg0gyi5gxnU3GSA9Wjx6aMAbTjcWVtc2t48e31wbNSgFhydJwa3N9pZtPjQYAS4bUvExBmDR5QrjugTe7FmaMBBPDvUiI8mwUoHA+J3LRKGZWR1LZRFztbqx3c4m4EIHbA17arWSlRExqnPnoy69v/PjT/Tv37gEU2EetYEwB3t/DBJ99gIIvXj4C1IeVIpgLBOQPVeMfPUMSuHfv7uj8H6j/F1euXL36xedXPvv4/Ytbg+XNnZ2tnZ2dE4D+Nno1iEVZPPeptpbWMei2ao1uv1bMxOK5RrciMQGSyy8uNTICBwucpIK+35Q1DKj7R7qMegtWwobpSCyMmVl28JYmZyDMUkSAFaV4hIb75dlILAXsulmSOJoFI0rKuWIxK0TCFBPPlBq1HB9w2Y1gABpAwkYMIlExjWrF/W6rXi7hsgx6LPr5OZPLbrAGmJiUyyXYgMc4Oz42OYsVBFPgxv0+uxmYu8HDiBi8A4bJqfkFA4x8HNxWwGWYmwT+9hr4gSkro7TXtgH6xEkfiWoliVyl0R3u7K43UwTO9djM9KG/AIC3kVIuLwvg84yaWb2Hl4uVSq21Ala52EBJm0ZehlHCY6h8JhnDggkaaz1bRSkaInzg2wK48W+cGpuzBaJ82KOfNwaiv7k+OpJIiwzFcOAmxVRleWPYyEGgjFORXA1GJJNLx4TSzgdfXP/+7n3c0r156wdgASgS+BRW+oN9LAR68fwpRAA8J0bH8AILgeChp/j10SgP/Patm99e/eSDDz8A7H/ly6vXrvzz0k671FjZ2t45efrMLiDBtbbCMWKx1qiWio3B2s7WWqdcLObT4PcoXlIrlYLEC4VuHYianARExITcVotxfnJicmZeb3caZqcWrP4QGQiFfA6YwVmtybhgDKDEJAWTK8Y4PibEYT7iQiyF1SCBIEwfj8QLLI+jKVjro/PaOEsBJzbprR6v3WS2js7gZLXRrJdUOY3lyXJSYDxWs8eNT3uYVL5czEmcVz89a1iYPDIxPaX1cjCyWKvuC4WxZQFHuSGg6C3uEBUCf+RxgLkcef3QBKaKM8lCe2Vjc7UPOKeQTcbFTLFYrnWX+50S79DOzs5rzcbpo8dmtF6h2G3nUBkLIJyHQmUUAO0rq2vLg95gMGgVwVHB8innFSWbxAoEMQV2u9hulFMRsDzObzcZMeVrAdZJPBqy603OEAyiz08JmbwiMqFQAOvL2Wx/a6OlpJViimXkarcNMVgVI8rGu59/fRuD+d6oRnQPDGCk/bSHYoEoETPKBH68h5qQz1/88hxPCEfZwU+ePgTeiFUg33zx0fv/ePu9f/z9nx9+cuXj9y+f2lxdP37mxPpw59S58xd3NztFKS7l6m0AAuBvt7fWF4ECqukYrC83iQo29XKxOei22q2yzIf9HvPM2OGDfzt0cAwA9AwQ75GGmw+mxuZwmBeAGugsXjaVA7fGR1jgfhKiO1XJSEI8DuQGIoKYjOIRXiZOoPvgc+VatQgxIZNKxGACAwGfTTszY3D4fUwcFQlyYIxgisVCPhsj/QTm2M8bXYxU7g1XalLY67QZFhaMFouHkdRCNp0SUbfOSWCRBqp+6yHCa+bn5rQGIzDXozNam8PmCmLgydYGmyfOnAInWFDSmXScjUj5WqNeTpEum9MboMChafWuWGWw0s7FqZAfork/4PeRXKrY6g+We/1Br1Urw1Itqqk4H0vnVLVYLOSymVQmX4F7yqSzMuvQgHOamJrTLFhCfJwj3SadwQaowMuqnUGnKFJ+H81HKFpqr6/3K3lVAWjAq92VlVXAAenC8O3Pv/0Rg/ne/bu374EBoCTUwweY8buPBWDAAeB71A7cH8lGoDQ0PgiPjAoB7v148+vPPgDW/+Zb777/wUf/+vifl8/tnrn01rkTmxsndk+e2FlfapXSKLQiyZXFwfJwe3ulVauWqoUUBG86zItyoYnq/bVWswALNkRYpv726quvv3YQSO742DHc8sN655AL3ILeiMkdC6OSdylbwNwNAg9M5P8/ubGEBPwa1nUuwXGilGCd89N6J2b5ZvMwdrVKPjsqGQRHCbRPb7ESVBjT+mByUmqliQUrikARdgNWdIRTpcWt3Y3FWi5G6GemNBa7P4KFoLVCJk4B6tfb4boibNCpPTY2fvC1v74OFPHo+IwFpYRCPpfVZHT6uMLK7sW3L51a7TYrihi02xEK1DrNUlrCMy0u5DLZAZV3ULcmzfgIPJoCNAH8QMw1e1g7Wamo4J3ECEC5RKEG3K6ckwSepSISUOeMLIlht34ecx/BC+jcDPiPiN+JMgUhki8tb6+1sjyNahO8oC5urC/XUnwMMGc0XekMVjfh6drShU+v3wAWeBe1ne7u7R/Yw74QDx/i0c8+ooFHD0eqgAj8ABE+2r8PLwBmgMlCD+7+cPPGd99c+/zDty+eO717/sLb7/3zg3++c+HM+ctIBE5ura0s9SpKrlxRMqqqgOPqdQfLy92KmiuW8hkpkeDYVLlZKxcr+Uw6LcVol5NwG8aBbR+bODal0UG4trl8fkwUIPE01WgFrqSbmzX6olwYZhiwt2FO46QlzPun/CGaE+KJdK6gKukExINMnAkRNqPeAJCBjcbVWq/b6TbKOTnBEmaDxQrh0uN3e3yjqkMIUdVGq1NTYqMeJFSAjEql3nC4vNJVwxYsE53SeXgFom+jIrMBt252TquzuEI0Ivr5qbFX//Tq60cn561UHFAJ6ZwfO3RkfELHNDbOv/339948t9HKxfw2g0bnjJV72MRouVNWEhFwRzSf72+cOrnRzSdiyQxem81oMDn8cXQWjXIBBfTiDEkyWNbWKSdIl8MZwJNsUc4XMhkpTLh9AWwroTO6SZYD5kc4nR4qLinFNva6gDCGlBkCYRewf5oMYCJMLFNf2T51/sLxleH5T659c/PHu3fv38UDof0D+xD5Xz5//vzps+fPf3kJkX4kBgq0EMMEtg0AaPAcS4UeIxUAB/Ddt19+/O7502fPnHvj0qWLFy5eunj57cuXLl88f3IViAvwFiFbKFZqsL76S0v9TnfQrqmJOGroJ9IJQSo0222gBY2ChJshRqS1C7MacLkw+U4P5u/CzZIBj003c2x2dmpibOzolDnEMz6PP+TRHRvDZjh+lmcDQPBcwShLghUIPCck4YYbYGUsYEpgf1ZrMJ5RSk10q+1uLRVFJSESSBThsBNkVM4p+VK11mjWSqVCRmBpmjCbffEqzlWvmgZHb5wbnzAEBdQiXxrUJNJhRlXvOTMwayJEEuapMfBXGltIyOQSQfPMwb+88tqRY+ZwYfnUpbfeunRuq5EIoXyZzhFVGksbJ8/sAhTKZ7LA7BL53nDr5O7x1U4ln4549LMTR/52aMrgooV8s1PLZwtVeBwlVNTqYr+pCiTK2tIBPysp+awihYN+GKNQ0GvT6x0kF6F9Dhu8gBdTktJYXlutSSz4JJoVso3l7fWaQLICR4dT1aXtMxcvvbF7+u0r335/685Pd3DPF9jfgefPX6IQOB4DjlQCsDhw7wHig58ePH6KCpFPgRHgBsHeg/t3frx968a1rz774M0LF984e/bs6TOnTx3fOX3u9NbW7uktoJqCzxFM5Cv1Lji5VdRi6rU7rZIs4vZfWlZh0Jud/vLK6GyIQgVmk80HaNxkHlWEefxUNILQzQwjN3P04PjMPODsY1M6Lx0OOAATAHken5jWQjT3OCxmC9AGp93h9hLeINBlFKBtNcsKNv9yGPQuigyxUr61CLi/08Q+JXJC4klg+yZ3ELiVAhG2NCr/VNIA6R0LOiR4slqFdVhVea/u2PiszuqDt+gM+nUIP5RrYUqj1VndVCwBlCCIgs1gIZV6njOPv/LHP702ofVE5NrS1ulT59442c/HSK/XR7Ixsbi4dfrsuZMb/Tpuh8vpfGNxaW1rZ2ulKlHWYxAA//LHVw4emzYFsWRcTqm1ZgVep+ZyKtDpZkUCI2fZELiORFqGOwB6a/GQIZ/TpLOFE+l4yGbzUsxoOxzrAHJCmPIBvIzI1f7GVleOcHghFFDg4akLb775zvufXbtxC/VC76FIwN0D4OCfPnuJcqGP9/ef/fqfn589QmmYvfsjGbj7D7AS+NHDR+AgHt2/g31Hbly78tG7l87unjl39syp3VPHNze31gYd1HzIpkTaordHspVqE/DUyvr2ybV2qVItZyVRiKN4Z7XVbjea7XpZzalJChaVw2bx+AhvIEjTmBxG+EJMhMLT8On5+enJmQW9yaBdAIwTjPBMyOtwwlMLepuXpCFMwBow6CxOApaC2e70cwDB1ld7rWpBTkQC8BtsMBAWJBl8aqHSWlxZAWgGVxj22sxOlwXLeiLgNtSCmis12jWAgz6bDi6GFmWIXd0CB555fmp63uKLJlF5sa6IEa9ZNz+nt5FxpYSdBqJBb5BLldrdkuCBK16wBikmlqr0hjtnLl4+s1SIM2CW5VKhOtg+eRLG6vgQlamyslIolmr9VUBLCq1//Xe/++Offv+73//59RlbgANeU6j3u41Sodau52XgOC/TAAAgAElEQVS5UK3l5aSIAphMLCkJwIV8dqPBbPcAG3QaAafGGJ/D7g1g+8Ro0B9V4bKoAOaJR5JKtb+2nI8EA0EsaSPjja0zb1y88PaHV7+9eQv3gTDD+/YBBHjYBQSd/IO9x8+fPnmIez8PMV0IkN9IF/QhFoU+3b9/+8at2z/cuP7lh++e3+w0+v2l4TYAv41Br1vLCngyEyZgdCm53OqvDAe9/nC1C5y7WitmkzxAr2yl2et1273GCOimg1abkwgFCB9JhlEh2kMEPA6bN+AxY/GbXme22mzwjdnhDwVCMFkxYF4uo05ndgaoSISNUD6rQQ9xwwmeFgFRQlKrzdrozI/CZBGRj8CSjwqJdFaSihB3VnqtBsRUh8U4aszl9kNoZSNCttpb3Vzrl9MRH8o5BJhkpT9cqadJTCKfntHZSF4qNmvAybigdX56VueMqADj+tUs73O7CRLPNrKJcIDiAHyHGUFprp44/8bZU8OqnJQLZeDAze5gZW1r99QG4gABlW/CvFxtdZsq55j44+/+8MprAIKnjM5gJFuuNxtNlLepdHqNUi6bzSjZTDabjDKoNUUCoyG8LpvZiETJ74eBowinO0BRAC4o0ml0RtVKjg/5vE6Hm6ASxd5SKxsJULCqCDelLANCfef9f33+9Q/3sG3YrR9u3b51ALsC7ONewKgg/Odf//0Ca0Ph0b2Ho7iAR8GYCwIc8M4PN3/47tpXV7/85J+X1itFIB291Y3t9aXeoJen7RYiruZT8VhSRYnlAUxztQo3XyrmM8mUlIhnsmq+DFG3VVWiTDybkTiY9kQiyjA0wydSCcZhsVu1OidNugDFuZ0Olz8YDGB+WACwTkxMpZJxng64rG48KhAkKYmhm8RjfotWZ/MzMZaEhQAvsJidI1aWSgMsJCPxVEaIwEJdGq4Dxmvn49iXymk26A0Gk9UZ4HPN4fbJE+ChayouaqebUbqrK/1aKuyxGObHDo4tuMMJ1B8vZKJBi85gIYTyYOP4Ri8fC9oXJo/NO9hMEQ9zJAFILcEk8o2l7XMXLp3b7JWBhSlKSuATamt1+9ROPwd/gAiwHBvhU4VyrZxl7NrpsfGpBbgWR4ARYOyW+51GScko+Uo1F48KcSEK98JFuKggCXQAeHQyleACbo8/6HfbrOAJwA4A9YX8Xo9FbwlKtUYmysCweP0Bmk2oZRWgMaYNuwKJ9snL77374WdffnPzzv39Pdzdv3sPaSAs7icvXrwEwrf/GIg/Vgk/f/zgp4dPnmAdKR4WPniwh+VAd+4ACbz2xacfvnu6p2ZK1VKhWEelhsVeOWpdsDAqUJl2s720sjroNgFlq5KU4JNqsVSA/yrVSgXwf0EWwUcxCSBGYBIqSoPHoigDQDnNFqt2Tos76ygYEMNNH1joI7noQBj4v4IKm9jtISklgdzxCQmoFRMOwesDKCtO4DtY9Hrt3ILFE2TEpAjWFQmPeszJhUqjs9jrd5vNWiGJ+8oAFE3gS4looTfc2Dpx/NTpExuLRSEIIC8sQRxuVjNRMuhaGDsybQIMEpGaqz0IDFjtIRaay+sbXclnmhs/eOiY0RMBBNouJijCQ8C6U8uNzurmqdOnTwwbGVGIRXF7stBd3zm5Xhd8Li+4MynJc4lCvV1JYSupea3Vi+SXjyewiHnQhIEtKCkgDXjwCd6fB7YXFRM8RYUjSbVWzsQon9tp1c7rXCGGobCSJgSewUF4AhGsTAfnRBEQTylkxJm0yARDISIgNnfOX7j8zt8/vPLtbZhJbPd368YBPPkZSQG+/OWXn395+fLFLz9j+4iH9+/twRP79/fRDQBl2H/0/Mne3Tu3MQ/s/cunlhsQBfOFfB58FFDunEAYrWS63uv3IYJV4PqzmJ9N+wJUTGliG58hcMR+q95oVtLYJVBIJGS1AkQ8CZQlSgUDIZIKeZ02K/ZEC1BhFnlPGukdGEEY8EEI87djHAT2iMBHIhwVYsVUEscliVIzLL4i4Pfh6QcKOeiMNlgjhNsFCwG71ip5pQi2J6YUGfUbSkoCyDUZ8HvdVKLQAKrQWT55/sKp9XaGsqHWHi9lCzU0laDdiBstlFhe2tpZLgBBZ7FZXaXd65RYs2ZBo9OCw4kp9U67IsfCJDYtpPhsc+3U+Tcu7jQlXkgm0HVH0tXe2s56EyBdGFCFnIBQsbzSUVivGywR94nAxiPhmNLodWqFfA3AQpxFQXNMPWWZMIV9I8IUy8WVSqWUAZ9AuXTTs4BlgDT7fdhqxuunwkEvmSx3W6rAkl67N0RHxHSp3atmBJ4NhZWlE+cvvvmPT67dgLV/69ad27du3jjwELz7A0wCBh/w8sUz+PriyUOUhNjfe/xbTiCeCWMKCbKD+z/euv7JuxfPnNhaW+3jUXteASrLw1UGHYRQag+WBs2CSDOCGCECTDREBKOwOAarG2urg8UeagYDTM8ASyyqKJKsAjigQ0ADYLoIXzAIrorw+PxBiFnwAyMkRKB4KBoSojBzkObxjIcIItNzY40AA2wnibu6mVQ0BM8K4EtiXMhts7usdsSYdv38jMbsF2RVlkQuiEVHIVooL2LFak0Fl+rG8i1RKaGc0BpEgmFFCFpmJ6aMAEdTjdVBLSNQDqOZYFOlxY2dE8NaSkgViimGFjIQ+GnsXqvX6R2hRLGzsrZUl2OwFG1WFyXBSj5++uSwoapqJs6xIRfBSGqj184LNMAzRRJliKHddk0ROaCnLjtQihDtIUJcSi2gMnYJsGw0wsAHyqSNWuYEfQH4iUxW2s1CSmB8Tu3UnN7sCtIhH0GLaTw4Am9Ai4VGBdwHFwR6CP6Bl0uNZlmWhBBBF9bOvfX3j7+4/v2tW7gXdPt7MADsB4WK4dgTGBPEsZP4/uNnL5+OWsXsgxng9sCoWGh//8G9m9c+ff8t8COXz20vd6rFHJC7bArPoT0Ep7aW14aL7UpOiIpSlCRjUlqU8kD8FgFkLTVLxVxGkkYSUc1qKZfDHa//f2ynn5kzw8qnAevTsCwDeM8OuysQBnzAcVGGDgRJhmMicSEMQNDp8RB+lJZEfcyEJIkjuVY6At5OyuRUCQJ/OMpzAXCJfpd2BtO2BCkBAJpEBGX3kjyKgG0uNxXe53QRHk8Aaw7z9cW1ja3ttU5RCiyMTWjMnnh9eWXQg3VN0VEAFMXO2s6preFivSjzARcGilQScEyExFDMyJXuysawmY4QmG5u9AE9WFzb2Vzuder5OC8yHrPNHysAssuJQkrJZBUUyan0es06IFOJ9hhnNVabGc89RYFHIVxalLA5IiBLhgSeRIdJggj4XUZLOAcTmubDJPYhRCrsA2QIzCQFKDyeEjk+XWrUimkxQkIQIAN0NF2qN6u5dJwmIvVTb//WSfr2Dz/8ePvePWAB2BgOZ/7RsxcvcQ9g1CEAvz59jCWjzx6Pzofu3L7z097DB3e+u/rJP965/OY7b13a3ehUsQ0UG+MBnpNhVlAag42t9aV+t5xOZEcdoiIJtVRrdpeWh/1eF+6zAAYhq4Ab2s0qxnOaDDNs0OXEFsp6qxPZHU2GAj4XPOS2m2xklGPCLEcHfF4v4R+1GgOgR3jBSwANDLM8IPy0iOJhokC6gZMBTihWsbVoSk6LYR+wI5/dZLS6gATRMbigMLZc9Lq8Pn8421odLlUB+btsdi8lpHPV9uLyxuYO3EEz7Z0en5jSByWsZVxsVxWBCXq9dLK6tLG9MewWoj6PC5yWD64e4CjmiJlMXi5VbC911BjpMs3P6+0kl8wWm0vDjY3lsgQwAPwCmSzW6lU1KWVzGSxoAFKXVop1GJ/FshSygb8yYVfAgM/ntetNbhaiP0myopREHAEe3eVx2bWzBhKlBwoQ9+Axwm21eyGIeMPZak2VkoVWK8sy6UqzKnNkiIQ3Mlp8QrbcaJYUJRmOFDcu/ePjK9e++/7mTWwheefuj6gQ8ls76Gcvfn4GPzx/gd8+G4mFvfzl11HtOG4T7I3aiv7w9RWAgGABb148u91TE8BoeJ5ymFy0qFS7yxDoe926yvmIEG5Aikq52V8e9FZQIKRZKamyEOXlchtwbk5EHVSrJ4RdXuHGgOITyKO4IIAbo9Fs92EDEU6Mg5X4nG4/uEA/CibBFAYZlsbesvGUouRSWE8ViUZxvzxI8VKu2ukNAG00C1KUDoaw9szncnjcZojUTm+IifACRwU9dheTW1zfGC6WBQprkXlUD212gdjCPSyVRa9hfmbW4ArxSqO/stzMRDwWk4OURvx2pVdIREIht8VoMlvsmBOaZJzaWb0L0ER7saYIIZfd6faibICUVZtr2yu1TCLKBrwhIdfodJs5CXB8hKYBh9q9kWS+ubR5Yq0l03a9wQwMxuYNURgKKZ6nCQjrETRwhFNen8tkAA7ESflmpyrHIjgOgRFuMns5td2vq0q5161KUbnWaSgRjx3bpS0ASVG7w0FFlpNsJLdy9p0PrmADoe/BAlAt9MCT59g37iFKgPzy4vGTZyNhiOdP4eujp1gSBiEAk8QeoybQ/bs/XP/803+9/9Yb5y+/eelkJ8WGY1EmDDCFTVVaWPfbbzVquZhLZ3LCckzKsKxWllqlaqvd6XbqZTzhZsKAoVsFKRJ0mfRagz3IRmHqAhDfyEgilUJpHxgGNxmNAeKLRrHnLsrEezFnwIR9MXzYX95NeIIspoyFSTYGSwFPZGhGVEvFSmtpdW3QyCViqLlLsTFAjhwTcGjBxXoCRCCSwN8KBsNSAXUGFQTJYR9KFcYSKSBf1VavP2gqqP6GHYJJMQ9v2C8laYfZRccSOXh+ZbWTz6Ti2BVwTmOhEok4njbNaAxEqr2x2lGTkTDYmAMu10XQ6fbGWr+SAvtkITCm89VqqZTDvDaP3aKb07rC8Wy9Nxg00mHH3OSUxmB0+FhshSBKibDT7AqxsXg0SASCGBRNmAcfT2czmawUE7DjJTZLcFhNVg8tVbqtEsqmKemUUm3VchHnqIIiGABQ0F1dbpXyKZZgKxtn3/r7R599fg3bx96888MPB/awAgD1/8ADPMHe0L88f/bs5a9oDE+foIzoM8wXfvZk/y4gxzvff3vtiw/eufjGufNv7C4XOcJJMpjXE03VB2ub62ur3WIqmeKdszN4UAE4v1yrVXLJVL7ZbddrtXIhE6f9rFysFDMMTKzTixqnSN9pGoJeDFZGnPXgZWNJDNaM+N2mmckZjdVu0Rvmj03OGSxWo06vnYXHzE4fAAG300tHYRwC2DIgmkFsCaQkG6f8uBmCVqJUqnhE4TBozQThJqKZnCTEuRCWZAPn93OADzHBy2SxWm0u3HAvN8EnlxKUTTczdmTKzlcGa6vL3WLUCa+x+YJstr2yPOhWsrGgVTMzbaKVerMY91t1s3M2rr62vbFUy/J+tx3sR6OzBuPFxfXt5UoqzoMdBgkiFJUrGAdIs9Zg0mosXuxr0QDGHCGAfmhmZ/XOcJQLA+SB0AdAOBKNc36Hw4mdcLV6qx/usZRLpTAJOAXhxmZ1OO0ODxlLVfprq4v1XAxQX07NwBiwbpuHZGnCQ6WAnbXURJT2BFPdzZOnNocn3vz4K3ADwAYPYPXH02eoAwnkD4+EUQcW5YD39x8BF3j0aFQw/OLJgx+/vf7tjZvffXv1o3cunD29u7NaFiAGARIPAQCI58HPry61ixKLQZtwONB3iZlirZYTeVRyKxcVOQ1IHFg7ERLkdMhsdjiwVSvjdzmxPp6ggfoLEZoiuTiqIkWB1RFeh2ZyenZea9BMHDk8Nqk16uenp2YnDr52ZNZoMJnMVpPe6A55DBoLQdhNTkqUBTYiShIXcJv1GoPVGYplyjX42wnaCwNlszpJLspC2KaRLi5Mjs+aQzExHnJoJ+H9pw0IwuRSb2WprbCO2YOvvPL6pJWUiu0BEDaOsBr0WqMnLJUHW6c2B01Ai2adk8t3hsNejnFoxmeJdHMZYERLsM7DZestDrefSjVWttaamRhgOMKh1+g9CAWrMgUGYDUZjbB44xlsSySBszMbZie1XpZnqABBCikJyG6IjsVZn9vlsDrcbifBSsVmt1EslBsdxCaoOeHxBlGArLG8vTPs1eS4mM0lw5RUyAu4ceiH/yNKe9BWsA9VKF5eWunlpUz/jQ8/+fL6d8ACnj97+e9fXjxHGvjLL+gLUB8CNSOxQBwzxbCh0MsX+/d++ParL69e+/r6l5989N6lN85utjIRAtVX5IycinHJQqPTAFKYYPx+Op6SR4XyUq6M3VexdbY4SsGJMX7crHF46IjfYvZ4/WQ0DlyR8HsBjZNA4TCgQJiW88C0PBYr3FoIQpnf5zbrtAtzQO6NeoNRM3EUfAEsR4cTDcBD+006q9O0oNHb/cDtyWgiGad9DkDI8A6MKOcqzUWUdAi4bCarw+WEsXSB74HpmDpyZMLg9Hn9Hqt2emJsYhYAI7b+rdUruRTr1k6MHZ3UWDyhqAIRNhfz2/VT03onlaytnjh7dqdfivux0V1tcXWtkyY04xM6f6I63D2/WQwZJ2dMXmDoQSZV6g7XByrrNkHIM5otTjrbWe7j0QIN6MdpAzdIuHzRjCpH/TbDgsbgoIQ4Szg9NHBrALxBBEIMOEPc7k/KamN5Y71fr9aq7V49w0AMcGHpfbbUWh4ud8C3ADBS0pFgtLRYTcHTHn+QJKNqdxksIBhk4mpzsNzJJkrbf//sq2++u3nrwPNffgaf/3gPUT/6gecvRwLyL7B/xMtn4ACeoX4I4L+b31z/HJUA//XRh++/dXpnqSpx4aikFiqNaj4ZhW/zxWw6nUlns3K2WGn3GiWJ8tNCUkxmC1lBSGWy2QRLjoRyYLkHfV4PfGUAv4dcNofdbDATYez/wcQEISYg9wGkRguYRxHjAbcBWgyD0wZ26NDPzhpMNqcbTB9mEWvG9AaLzWxC40CVKX8YkGVgpJpgBePx+KNqb7i1VE1GQn4CVtnc1OSxWaMrEHQYdVqN0WG3eEMBu2F2amp2fsEAExIWZFUt5JKM1zp3bFZrtNj8YrlZV4WQbX5y1kQwqdrKyXM73SzjtVtcIUFtrQybCR+saYefyfa2ji/luRBiQOx9wcuF5spwsShCSDfYCT8wkCQw83pRzUoi69HOTs1OaV2RVFYFQEuGQl5niGP9NrgPr8fpstu8NAwL3Axql4owtI2lja2VVjmXTOdLcjTkcQAbwe0PqVCv5tNJAMVAjpkAo7Q7VSUG9DxE+UPJxnK/yHp8VDRdXxqu1LPljfeuXL1+49btA1gC9uw3cSCAeyMLeI5+4NnLl4D+sX3EL//5FSxh76c731/7AqUg37v8xtnjw15ZlpJptQLecX2pno1R4QigqGwe6G222uwNAHfG3XqTk6AAtWCbKDEtJ6PAaEMjTQuskKfQpNOpqAdWAeA6P02FsG4LICFQHn+YpUg+WyzlVSURIWFOALBBGPMCI3C7PNiJlwxhT/AAAaDb5faiiKRJr9PBIvZjowhgDGBl2KnDHhCLAEabqpJKxCjCujADK3vGQHAC47ctGO0uFwTiCPgHPIPSLGj1ZiICw1tr1HNC0OV1mfUWgktDFMslSJRjh6dT5cHmVj8XJcxzc+Zguj48sbWEuRs2o8kr1Ne2BjW4bBWlUNkgJnUO1rcGmA4LcQpNlJZwD73dKKKi18TEpI6IZ8u1ehMANBmAJes3z83M6fU6LXACCttn+EgaldAToqxU24OlbjFJE0EAzXE26Hb7SRbLbGH0gVtzbDgST6VjvFxtN8tKPEy44AXx2qBfCBMhLg7urbe6uXHi8oeff3nt62+/P/AI/PyI/o+CPoR9PP159Ftx6KP9UbeYX3998eghhoArH3/48YfvXjq1vT5oAbKSc/l6f2VzfX19UEPRBbvNSSZz2XSh3mz0h8tlzgNA2EZQUR44kMMdTqZElgzzkiLzLCdEIxEBhV7zuSQXZuE1eHobZ8AzuLwQt8I8F6bZZK5cH53wCWkAlPV6OSsgawgz8MEyJAFeAKUCQ7gFDGjIPBLSsTnA1XsCQABH9oS5NGlwRJgGVJZ5xm+enzo6NqV1clIy4jEZzVabHaH3SJ3PDja0oDN56GSxt9xv5gHRB50mHfgLSizjvl0kaLMGWB7IwWC5neF8Doc3nK6tnDh75ng/z9rmZw0+sYjHYf16PiOhxqvDzcjN4dZmLy+E3frZufnZeZOPz1Za/V4nH3UY9fjmbCyZr/daRTHk9XidhsmjRw4fPTp2dN7sJinaD5MdF8RklOGSuXq7WS2rSYYMM7DoojE+HAgyvChEojKeLiVFPCqJczzaWC0vkm6HOxCixWozS0L8weyz4uDkhXf+/o8P//XpZ59+eQDlH8DZv3gGCHBkAQ/3HjzcH/kALA8ZlQzCl4d3b1z//F8fvP+Pdy/tbg3X1/ulVKZQ762MFIFXehWZw34YCw6A/sXecL0PXKqRjYVJOhQkWXBLIYfZzfBRZPBxGbNdpURCjIspWa2Uc6kEz8eiNBESszIfIkZZQQwbZgQAu9hprpKLRxNqqYKCrrlEXATihe1E+JBDr13QmgjUaacD4A1CNBvhwgECawQdI9kdV4hLyFlYKaEgK9e7WK1HOUza6bEj826ahUjDAn3wgr9g43wEGwW6zeC1nHY/n0PxqV6zKPixAEursYbzfUzmDPu9RICOq63h8a12ioWb4uO57sbuhYs7rQTuannpVHVxePzEsC7zNPhft4vNdVeOn9rq5qIu7eT4xNihSb0vKkFkWGrnYjR2ewFAwMSytQZ4dtrrBUg6PvbaX17924TW4QsSrgAvF4s57JTH8im1lM8CW4rQEdqFPeLEqM9L8ymAWllY89ViNsFHY4CCEir2WU2GbBDlLFY3m8myGKNcACSL62+8eeH4cOPMhcvvHoBw//Ovv2Dr6KdYB/D8ty0gDAnAAFAvFHUDMBnk2ysfvvfue2+e2xmuDjd3Nhcr9aWtU7tndlYHnVa3XWDses3MvI2Ky3VAI91mp9OpyLEoRCcIXGoq4rWa8HgG3H4MJR4jlD8IT2GWeEqMxaJU0Otx+yKJJAdIBfwZUOFoLF2sVCq1OnbC9QbgfQqVYjaVjAEUEuF9I7TXarGarXZw4ED5gyHMAkhKIu6S20wGi4sMB7HZl5zgItjUZyQo1iyhdKTDMDuxADDSEwzHIDKBGcCfFFPplCxiGo8PbNBPxuRSZ2NnFZybUzt9dHzBn0R5WzFC+Vw+VlRba7sAAwppiCMeT6Qw2Nnd6cpwWdGIkC2UO5und4eVBMcAfGNThVp7ZXOjr3LO2cN/++urrx2e9wtysbU67KhJIZbE/slOqyuMfQ7AuXvMU4cPHjx8cOzoxIIzCMtXKHSHw36zUkjQviADZjBKTvX4gohWUlGvmxTVYg5CTqXZH3SAHuIxGYpXNsqiVzuLhU1WnyCLPovVZrJ5WaUzXG7JQqpSb28cePkcW0M+H/WMwn1A3AxEQZgXo58xJRB1Y/bu/3T72y8++eDvl3e3V3utwdbOcqM22Dp3dnezV8fWsEXaODs5fkxPxLKNweqw32kvLraKhVwmLWXUchG3XDHnywNYNhKJor4RskcOj3KSqAUZo9w2Fx0D5gPwDaU/JNQTL9Va3Q5GRsJi87i9QC8kIIojvhjD0OiHN2PIEI39oUI0E0F9mGxOFmjCbnaFgI3agnhUNpIVLBZx90TO5gBuY342cO7Jab3Dz8aldFbJSIl0rtToNIsyII6Q32XR20NSa3t3d7MjB/QwI8eMHjYpFytlPOEFftMdrG7tbHbysYBdP6dxkInyyjpQw2wqjdrV+dbKzu7WoF6QBHhttSArlWYtEwsaJw8fOTw+ayBiqWyh1m0VU4lUoawCpfd4fIxcX2yqMa9xfnzs2Ozc1PjRWQsBPFBpDIBcLnWqORGIgQtLzFA6n42w8C6pCGF3R+RSrZpNJAu9tWEHjJRlaAb+cCnH2o02Pw2OiWDSqYjLgiKsdCRVKieDBB1jufwBbA2EZ0DPX6BG9DOUiUNrePnL86cjhVjUE326/+DB3oPb1z59/9KpYbekFmFVlpRCd+fc7s5Ss96uVKtZGk/FTO5YqYvlEd1qqVitFBS1kJVk4AVxGhY4qgERNBcXmHBcEhg86QKACM/5/IzA0TjxcS4CmJ8O+UP8KJFaSGbL1UqWc1scXodJb/PjyQDMaDgmyUkeZjzOh8NhrNaLR2H6E1gyUCwoyUggQFNundbuC6AVxNIqPKpm4wwTlxU5AUjDa9fPTxyd0ugtbjKeqxQVsFPArkswAyLHYNW60RuvLG9uby7X0oxDrzMuGLxcqry4sd6rFjLxWDydb2/snl4pRNzGBSD9Hmnx5O72Ima7peNcHKZi++TxDTAJtVCrZCOob5XJpdETOnyhUUV7TIIVXyliFUOap3wBmlcavXYpgYpyZofDqjeZ7AR2SMi113ZObi/V1JycDAPv8YV87gAWgEXj2WIhzfoDUaXVq5fVbKG5ur6o8uBeARI5nDAIhNvrczuAVFBJCNN6jd7ldToCQoICRm1aWHAeeAJo/9//+c+v//mff//8W/uol0/AKP6NPyEQ3N97uI+xYH/vp1tXP3p7B7eyC5UCdmFd3Tx+ame40m/k04kE63P7AmS8ig3Xd4adigrwrago+Vw6BvEaZzXgC/hgQYYoBgJnHBAALHxM2sCmn7yUhddxEE9xfzfgNFt9UQGu0ebjlUI+hdXg2GI8QAPyw3Qn5Ay8wABYhKACkAzVGEWsHqciyYwsjYBRFP8iE2PcNjcJgUDJFUtKkgdnE8vm0slENGCbB96n0VmB4/WWetVcNldtAG5KJbH+wqmZs1Fytbe6swMmkIrgYQyFScLDEzuDQoz0Y9Du7Jw9f7yriFg4GM4ubp2AOy/nc0oqHs9Ue5vnL1/aHVazcq4gYRNSKlFsNkpplKtORumQ1xtgkmXsqNgopP5AskoAACAASURBVCCwIM9L5sFbZDErnGIiUQYwFJdMJNLlzvJwtd8EhMCRmPQB4ApWcbOaw5yKMjbEq/WW+r1es1RurwyaMou6drOzC2Yfy3gB1ho0U9MmAOhSwDC9YHWYrX7aa9LotLoF04HHsN5f/vrfv/7nv3/FfJCnj7FfyMuXv/yCasGjtGA8HAQHsHfv+6v/uryWF4CNgvNa3dpcw9TW1UXAxvyIkkVF3EJp9sAVwkWliu1eq1GvKLzfg/ppUiLGMiiSSYd8ARYCrpTCJOkI/CoDlqzm0nEAi2yMFyM+48Shozq7ZXp8zk6J2XwWgmpJyWREVIVK8qTH7TBrdBbz3LGJyRmT20+BfcTFODagxF588RjtsXmjWTwWjMOfC2GDD1EB761gQVlCqbWaLZhoxqXX6OamdYSYr3cXaxkM4CxNMhLgrHTYaSEEzO0ZrB3fGuQFNuS2O1z+aL63cWKrp4oCrFlSLK+euXhuZ23QrSnYULDRW0F+zFMQ32JKew2Q4VY9ju1vaL9Fb6WU3tr6oN1sVxWR8QfAz0XV3trWxko77Tfp9BYAkEwaqArmNcKSUESWjorSqBI+m1EbS4Na1GuzuShJleOjQnM1V2t3y1lZyTcWMd+iUch3h6uL5USUdOhNLrfby8ZZj14z6kHviRdKkk+ncVIMJ0T8emAaB8emDzzBtoG//l9c/7/8+2eUCQQY8OTF6BQAQgPiQOwkfn9v//6NLz9+Z6eey+cV4DDL68dPbK+vLbVKipzmcAOfpLH0r1ZtdHuNWjFXxKLwTrdXkujRAgRinFHUfFbiWXq0pSGPsDsm/PHYoaeEpVqSAOCPI20zh8fmrC6H1U0LqJynVrE/UF7J5JBZe4Hva2YXDNqJg6//7fWxWdNvHb55kadplovFpHSMsDnIdL3TqBRkCYyM9FFJNZuMhhkIKmpzebgyXOr1qknK49HPaAB7gOkCwEsLHOUPcKlCEwlZVARnnhDEXHcNogDMmMOoNQdicmVpe7OnxMIeo9YSlNrH37j8xvFlCOYcQMl0fXGpkaZcoxT3eHHl9OVLJ7rZiNftJRxWT0QF69ndXl/uFeFaWMrj49Xu5unzZ7a7SZ/VbHN5AjGUTykVlaQgKdk4xyXSacC86WSMT1WWVhsRm1Zvo7IN4KN4WBaT66P+B3Km1O13G+VipQYTA1eHXdcDPqfFRqdTQERNCwZMYVdrRfg7PiGbFqJ+0/ThV//4x0O/FYb8/Ot//wcsYNQkDmM/4oAne/efvnj66P7ek5coGX7v3q3vvnz//HodkLmSTOVrdcD+lXK9kI6DOwXuFopgy9pWAyACYL9sDnjuoAdLrZyNY1/TNOCsGIelkEIMsB8eaQAwcJhdQTw0SIMxq7lMLOTzeLx+wo5NglEwMopK4al0qVaplLHOq1DJRT02q8WomZvX6g3zU+Nj4xMzBpvH64VoSTls8OshPhGn/aEIRPZaowsXmUuMMioDVpRToaJyrb+61IaRWmkpIhdyOXB70cspwJoy0aDHS8WVCtxbXkpKUXg2JKiNbqtWjIdw49Bg8UZLg/WVPOUwaOaNrnC2e+L85fNbraxAuUwAG4rtlhqjwxEqREUzjfWzFy+d7meYEXLjABriUcHO1vpiBSYhQkUEudI/fvbCqZVSMkoBMhDgH4pLY0Yg8hmwy5IqJZLJBMDKRq9TZCxmD5koNfJxEqXmJXA6jVYTTLfcH/Yqaqmaz9Xg6lpZLhQirPNTc+aAkIz5zQaEA6xYajeyPJdMx0Je+/zhV37/v/7r4IHnTwHx/fo//2ckFfoSdeOfwr8QBp4+3ANj2Lv9Ex4OP3y499MPX3/56ftvrHQh1JQr2HGrWcdtumQ0Go+BxcWUWr2YxVAcg0uGRdsG0o5QHj5l1HWMA7gDoAB+OoItOoqpkFlrHJ3R4x53vpRX0hGXfkE7r3Wg2lMwDN4cU0FzOaXcqJWySXH0KqBxeIznstndHi9h02tRZCfg87pRlk9vtDq8IcACo33JfAUICnJjPIeKEAC+fB5XIJLMt9syE1FaS8u9MkAuD3aECoiFRrsqUS6bNwyhuNnv1bF5tNHiw04v7ZW1tky5XVaj0UmlGsPttWrMBy7W5Y1W18++9e6lzZoUtulmNS4WgVxVSULsiYrZSn/77Bu7KwqL+vcSuLJad2Xz7MXdzZWldkmWZDmj1FdOXjx/fKmcTWLr7HjY6/BElRqMbRbGrlhvQ+SH8UvCe0HoSIaA1+arJSnsNlsCopJX5N/EEdsbx9fa5UJeFgEb9PvtUpL0OfTYKNMTS0Y8NleAokKcXO+1CmI0LjJem37q9b/+8X//+cDz5y9+/uU/v2L7+J9fvHjxHDuIwNef//3zowcw9ffvgB94/PCnu/dQGf6Lf7253W8Ct8Hu2kDgE0J0lK+AuvUStrkMBQkswwaDhRlWpSgJSw7r93kmFKIpHE9Y8YD2wb+l4CqcBMUB4xMTWJBTzghswLowM4M75n6CxJRoUYynUokkYniJw36SYgYGiqVZlD8G9hBiMQPa6SECwYDfYzWazFYn4SeCDMcynKTWOr3+CqKjWinDBigeVrTNCa6wWUvRIVaqrWxt1BKMRz81OWfwIpUqS0EnZpxR8Jp+W+GBYTFiSs6Wehub7QRhMVvtHoKMlQAJ9oEwRmmSTdWGu2++e2EDMIRbD+MNywzAGNBKETgrL+Z6J85slAVeysBUwbKWlXJ3Y/fciaVGudbAfnW13vDEmTPb/SoAQTbKAsgLRmH0KrVyPpWQ1HK1pKYEjhcz5e7KUlWgmYRaViQ+aHeSYi4Vxe7pfFxdOr6z1srw2GlAAi7QbeZFJuA06WCJkaLEOE1mVyDo9QnlTlOB3wHrsOomD736yisHMOHvybOX//71P7++RDmAJ7/Vhf+Kjz97sv/gp4eP9/cf792/d/vmd19/8dm7x5faRSHkZ9NFCDSRGIt9/mgwReDZcgTxhplgkJfxkTAdhNlHQWBg/IzfbrS77LZRsJYyWXAcER7APXDVciFXrDXBj0kACbDtg8sXDBDYjXNUCgUOA0WwFDkZZTmwLXyARYWoNB/CchmRZ8MUCUSC54Bh0AEv4XF5aPyBxfPoen9puL61sdwsZHM5kXTB24e49EhrKIBaysNmOuyx6mGkXBQEDZX3mK1mncYcAGfeKyZIMC0vEZGK3bWNpkjgrrFZb+eKSyfP7671ymkeGE22t3Xh3bd3l6tpyqY3EjEFN/qrRViaEhcKy93hxnKtAHFd5LnRYESLw7NnNsCPqnKumEmlC72dN85tNJUI4fHhEXiIFcFQylgfkslk1UI+LfCxJIDYZrddliKsKKcBg7JhTswWUmyADNOs0oN77FeVdCIS9NOCWu91akoEUAvwyVASm9rqzZ6Q3xOUKvWiCOjTZ9drjr76p9//7wOPUQcYgsB/Awt4hlrxmA747GfcG3yEeUA/7aGI2N5P31+98tmVjz9679x6NU76iFBcVfDM1WT3BNk4hEulVJF8WtS9sXkDwL/8bqd7JOmRiMFSprHTITbf8aASNAPkFvMCAnRMKZVKuXy1WS0pibAPj0ddRIgOA3THYhBZ4nxuF9B+hk/ImEkJsB4JYQhVpMQYL+UKOQVtIyYkUDsc8V/I63ZCvA0HA0FwOmyy3Gp2FpfWhitLiw01Tvk8NiDXWC4kx2AsC91OIcHRPiCeEI1iaVnwm+Ymjxye0phJudHGHlx2kxP1njtrq12FJdwuo8YeLa3uXnjzwvF+Oc2RNB4BX37zjd2ttsy69aYAksVBv6HihjfnIxip1F9brKjgwkiaAZwqFAY7Z46vdqpAn7GXiVRorZ/a6leStNdjB5wCi5oJjXYisZwRQXBaSspAhzFVOA5kmaPDolrOxWEd8EE8XPUyyuLmzmoLnqaDPi+dbiytLlVllrBpZ40Er5QSlNPi8gd8YblUb+CGostiMsz87Q+/+z0YAMaAURR4BiDwBR4GY27gY1SFeIyZgFg8fv/O1x+//49/fvD+e5e3S0wwQDJJJRsL2vXzepePSSjZpJQUgiat0azX2wJcjAmiADjBYYfIhIjafFYzuE+X3U1ylGthcsZoc/opMshiJ4dMCnmOyIQIrPAIo84z3CJL+f0sDYjfbPdQXCyRUbFDiCSCPcVwXwC7r8Mv5nFrHLfy0im0wmox8/9Yeg/uNq5sS1g/Zr613nrzel5325YtiRIjQOQcC0ABqEIlFKoKGYVQyBkEQYIkmHMQRQVbjt39Ojy72205KMsez/ya71z2LHtJIgESVXXvPWfve8/Zmyb9HiTX7YOpgCw+mCiXyFV6q5PVbikZBT7nsKIQny+k+TBwecQwAeIb4epsXoCrQcud3//Hv/0b2q9nchUlyQTs8AIAqPZ4a6XCh3xelyMgVJe3jk+PtocK5/eSiWJjsLa1fzjpF2jroi1A0YLc7FYSLEURHogobrHaVICDomrlEAXYpNwerE3GvUohl8kX86lErra0vrZU4TGT3mj1BnC/z4WSD8sB+E/ki7lMGqgXy4lJAP9cPEqFKT6RTYuE12rSO5CeDpForkxgPgqUx6DT2nAuXYH5jmpYAN64qIRAWBbNfgKICoUaeriAG1bkh7/5t//xP248Rwc+QPvfInnYVzAZIAsgZvjy+Q8v0fg/Q3LhP377t68enh7uH+wfbS/LdNjnwiJ8LGzXqrUOHOVIFvVsuM1GI9wBKggNu9Uzs3pHgJayMCI4rKIZlQNygs1qs8K/AcJrbB6vy08Bm0hxFOqJjBEYkGc+Rl+7rfuBw2itXgyZYQDB4CSRh2AItCzsDwCTFwWWQD1CfDyFlCcTmWK5BBAoLRfycgreFYF7BYrpsplUKq09EOGShfpgbWO5XpJzcRrpTNFinI9G6eu6xQogI6T4q9I7gjTlN6tu/ce//ccHM2bAteVKNgKZzG7Hk42Vre1JOwf0m/ASidry9snF2W4vhTucgUg0XVs5ujxZL0f9bswfCFLAx/uwIkUxRtjUGrdYadcBmnt8wFJDPkLMKjBjxkvdRqUOb5P4RHlpbaWVYwMuCJA+p8PlMC0asUgkTFDxSrcOXDuKWgViET8GC4QBfsCnCllIXnoA0UB8k5Xu0nK3Iqf5kN1owwggq8BGcBcsBId+0RaJ8z5IZBHCY9K7ObmUwB1Wzd33//M3//M/biC/2J8BAFw7hQIRfIP8wV++QcIAqF3gORIM+vHZt1//+YuHSA1yB+3+x+kIRLcYH3LZsIiUKxSysaDN6LRbIOw7fcjDO+jSqSxIyyOeTrI+49ydO3dVFiwYgNVjh7tDZWEYhHGkapDNIK1vlkM7RcAOM2l0hhGnXDqN0Wz3YB6PyxsEHJ5MZLPJa1mYUDASi8dhWgFQQEwBcI+YU2p1JZdOw1pBlyNBPAAIBrPAobp7Z0ZjdF07qS5v7u+sL3dquRgRxH2eAEQVSKy17mjczRBIwGUR3hiNRpyauzc/unl73hKI5mqNgsjCi66gqAy3DraXG8U47daZ6eLy5vHF2XY3HcIcFlsw0Vg/uTheShE+XxjYSzTbGG2OW2WlpqSAsvmF2milloR0GAz6LFZckBuru4d7q/0mslDiCTKWKV87ffi9PmRaqNEhsRsIJUEskm21lUxKQq2EUsRrMaCb4VgmnpUTSIsWB6zEoQfQ6tbyUowNeuwuoKERMR31uzA84DWrVG4uLkRwiAA+i8YUTObihNc48/7vPrj50a0br356/goGHnkHvnp+XQv+7udX6AwQqUMgm5hvn0EY+O6f3/zx6YP9tX692u43c/EY8uULAxCJJNBBVYZ2qqbuqnUmg8UTRtv6qBzfYLJACIhSLvVt5G+st3rwoM/9r/5WCPVeT5CTEkjEMRbGvIgKImXflMByUiYV9QF+uZaFttsc7iAtwt3DQxA4NspHArDCWMqPBP/ntKhuxuLAwrwkiEg4NIoYCUlFJXi/yJF+6+I0ciWy2bEAWxzvnxzubq20S5kEE3DjgCQThfZobbIxKETDXqsBKARGwgWRHt3dj+7Nq00YmyqWFdS4YXCxmepw7+Rod1CgMIsVo1ON8f7ZyaTJu/UakzOYaG+dnG5VBQhnUozm0vXB+vbu2tL10wGwIVUgSWfQYwOk6wgnaqPdg931YbPeqKZJl8lkD6ZqVVkiPXbLtbMR3D5AWdxlcVDpTEbOZTKoUxxyPswAOzIoZqUsgAh0r4CHOUkuN9tKAvUBuhH6sVrwGB90oJNNk3rRTqUynEtvx7xWjc4dywHZUX34OyTMfhMJRKD9H7QF8Ob5c6QOBungFVIFQcfD1+eAz5A2zN/+8vnl/kAWxGtrPYDH+vkFS4BgUpV6McP5LAv3ZnWQkWBle10el1E1qzbYPAE8EmW86lvvfTiltrp9wZDfobsW5HFB/ndCLEc7BjHKY4Yk6wtGGEjlDM3FM0nGh+pdrfALIAQAbRBTcr5cLaMtD4bwmHVGNywU9dStD2++996t2x/e/PCezh1GoRG4IqBijycYzcJVJmAK+OwWo8lmNev1tojcm+wfHR1ubyzV88kYE8EDTKraHa1vbgzbVTnqNy7qbL6IIMsCcuBdQCaOATpRVBIRn8sTYMTyaP/ifLPMhcI44BexNj6+vNzvxsOBgM8TTtRXD073R7VipYIOFBJKf313Y3kw6FYzHO5ykXJ/pVsQaQAwmCsQk1trh+fH28NyoZATw4D5IvnByrCWCKOYZzNotDqzK8RwEYfRQcnVdrdellPIJ40LuwAouwIEK9ersshFKCYmSlyERhJ4hXQC4Jjfic5APVQ04jGaAHgbDLaAlIm5dRYMwpzaGMo1ioxLfe/OranZhRtv3l1n/dfPX735l0nwi9dILhRZiL998erty2ff/v2///rVx5989afPLtZkwg80t1LJCT7d1Hs3FxE6LsgZgbDrVIsQ8iGoE17ToskT8FoBigeC4RCJY3bd/IIa0ivL05h+dmYBniqsYVQFgHlwiueoAHLTAyAPs5lGWkoA83x2s8WO+sAha/ggVOeQ4nC9CICPClgWbk9pXQHnwkcfvA+xZWH2Lvx1V21xoRY7vdVptzocXkJKSwLS1krzZBBVERnufjRr55XueO/o7OJkf60uUUEMGGyi1F7d3Nnf2xzVeLd2dt7oJsRcVoKJo5ubvju36CD/1SIYgBAidycnD87WSgJFBhxGO1PdOHtwBcsiRvnQqW2pNzk5O9wcNYpJnuYzle5oc3tjtVNK0AFIZKSkdBpwBzwb8lPxZKayvHO0N0hfO9Enc8Viud5d7pUFEpg1ao6ACRAgWS6EBaXaKmSTDBPwk0gsLeCymu2AloqNchK+cniC6LCAY6RiXYEsIfFBm9mJYd6gmOaQMzsqt3NzuSyHrA3MOr05IClKhrKrZqZu3526gXaCkTzku3e/vEEG4c9+ev3m9auXEAFeQhB49eLZ3//6l79+cXX5+Omnj3crhMVGFXudImu5/dvffqgOpBstIMMhn9O0qLf5CGDqIS9kRHSU5UMtv36fw2A0mwxAFkN0TOBCbiCILj86T8oIEZ9Nr7ETLIXqPokQMlpEAuB+wEGQrZwuLxYicLfLjbMQ2pPJrFKR+RDq9FHPTGlsfsw8c/vevMYIxPz2RzMqvcGgMdgsBp1h4c5Hd+aMQaANWaXVbdQKmWQ6K4U0t967o8HYdHPr/PLqEnh7EknOuwi0QTvaOYD0ng1Z1HfnDU5CRHr7LiQKBLTWInRXOjLlMtpCQrG3fQE/WokTbtOixiU0xgdnFwfDAk+GcK8TE7p79y+PJ71SMgacJFntjzd3tkd1GaYtRQSCfB7YYToW8oX4dDohd9b2tpeVTFJGPoUbKw05XWgsQRznacJl0Bps7gARTUoczcv99XE9HvKHaE7IyHHCZXH6A7TcrKR5KmADmuyPCBIfL1RL+SykQYCSXgi2fkoQApCULTAB7H4OKCSBCrCdTi8nV5SEH7Lce+/9/sZ1CfC7t7+8/eV/v72uDX397tefARi8RNJwr56/+PZvf/nrX/706ZNHjx7eP2qxTjdX6XeqEjb/0e05U1AqKkoqbEU1UypUt26yItF+E6TIYDjgtpn0qntTSAgcVdMLMQBmkO6vKxi5VFbAtPOzCwbIBBQbxkM0G4FBd6L+ebQ5TEWQrEQY6V2FUTmw3Q3AXQqjdjKLwWBB/dAe4IyQ8YDTak1WK+oHRkLsJpNu9vaHt+fsESGeyinNwer1iaUQNM/cvDU1bw6IzcnRxYPL062uDOjDabf7IpLSX96AVZbl/IaZaeS9VquKbtXU9Ny9O/dMXH15pZXyo7Nlsbq0d3pxMMhGIEShJmBl9ej8ZNKQyIB9cUYbqW+d3r862+pVC9lETEjI9eXtvbW2kk0kU3EqGEnUl3pF1mUCBBHPK53l7Z3lulLvj7d2tjeQPxmdbQ+XuvVCDKAkagkPkBySixIL7X49xdJcjJfS2STtQ0OegIiIbDkJC9IbR6aMqAtYjCWzmRjkNmDKjIiUuPQGs0FrcuJ8GmatEyCE1hqOF4rxgOHuh+//7j9vvHuDIAAa9l/f/T/V4Ddv3iLj0Jfo7+ffokbSv/3py08eXFwcj5RMsTXoKNl4yILMUbgcIADRo1lUzc9qzDaDVq9HemwAirwkg9sMej0yf0atcvYgD/jUR/gtOls4EgqxAk+6UCm3wY1MlElI4GTAabO4HPCmCEAbSAeoPBwmAI1MuNCCsxIij1vtQPKddifmCyLx6EjYh7ntLl8wiNltSDYefgvAqPmZBYMHniAZL/fGk/XVUVuOOIEQ3Ea+TnxltHfx6MnV6aRdkEi7VmPyUHG53B6NB2XRZ1xUmXFRadczJDwvk0Zlp5Wl9ckgQ9MM7sZYZXJ6ujfIM0HMpJozUcWV/bOj1SIH6cTqCKfq46MHj852V3tFVOxFxiuDycaoUcgVC3KcxOn8YARkz2N1EnH4Tn18sDnsDIbjrb2dyRrMAJHPNEbjUa+cjiOXdaSsx3AQECDBF3MxtI+cyMgpCOw2XFLaPeTO0UuH7CZHMJZIxZECAo2Klq7lA4I+jIrHCRtqKV3Umj1UKs16UPW0yR5KlFv1pHf+1vv/6zc3Xl27Rr19+w4Vgb5G+0Dw9VvE/l4j0RhkFIUKwh9vt2v9tdXl9c31YUX0mTQLGpNfrAyWl9pZwgiQVQ9x3wNzTWNCujkAsGkvJFSd2eqEtYoUvDGHAd7kMGstGEHRyE0gaF2YnlFbkNg/SwT8XhsgFhhEtBPEIPEPMsLyBGQSMzoCw7xOV4CN0QHABQQQebSnEgpFWJplGWClFBHG/aEIn0hBtkZCYwYAftpZoFKC0lvZPjjcHORCpoUFFcxbn1gdHZ4//Pjx2c5QYX1ej81kcIZ5QIiby4pIhrxOH5IJ6lZStNekntP6sktbBzsQ5wmPzeyKdQ/v3z9cLsJX+ntTerKwtHNysAwveu0ub0isjo/vPzjf6SZDHiCxRLy2snO4P+51+716koyklzZ3Rwrv9wJRzyTSjY3D/d3t7c3J1sZ4qYtqvnhJri2vjdpKAVlsZBMiaiMPubx0IolMJJDOXkaiA3D7dKJQafZG/UoaUjCsGhrgJR2JkEQkKqLCUJglPiEZhfVgs2g1BkdITHKehRmtCXgkW14aKLTp1m//57/feIO6Q5FnEGoFRUWBv/z8C3zn1ct/dQj/9M+vv/7mmz9/si9jLrG3fXx6tL/ZINUf/O6DaRuVqvSWB61KEjeqtQ6Cj+IQFuwkQ7HxtEghGUC1weLwkwxAceP83TtTC0YjkBsvJUKaC4VJEjOo59RGdwimQ4yEtKdDu76BIIGHKZ6ng4EIL7ABmxbeZHD4QshTkSVDZBQdC/i8PiAV8D1WkOKJjCTy0SjD8NL1biHSiYDI4HPqNepFC1XsrGwdne6vNUXcZXe6HQDHCq3x/sXDR+c7fZlnwgGPEeJSqrG8vgEhWRbJAKzV3vq4JzOYUb1giTbW92HVZxgaWBxfWN67uLzYaUk+7dTtWXhx5/zyZAwzBw8TgbBUGx9dPrrYLIVdXiJMRrMtRBZ3xsuDToEJCfX1o/2VAh0iRbmQFjOdjdMHDy+Oj/c3hnUkYsyQITrZWtsad+pKMS/n5bRcyPBBDIg9GQJMSIUImgK0BJHc4uPz9e6gU8sB3TPb3GHSB6mfwAM4BM0ovNvrxcWCzBPApGx6owOnBR7XQ2SEMcAS9UE741N/9MHNG7/8AssfFQS++OnaGAJ1Cr14dd0hiCqDf/jmz//1lz89OejQWlO0Ndnd3lrvSM75e7Pzel8sXajUKtVCJuqzuaiUnIjY9WYPgRh4SgpZ9JCaXTgqbIiyuGnu1q2PptQWuyfAisk4LB+HP4S7rUDPCVYUJdZvRI2xWBCFdYgIPAuD5QmxIoN7kNKDE35RlGWjMbT1jypDnchvlIzSSGwG1XslRT4Wz2TiMfg0ZB8Qo0g6gmaPSotJld7a/uHOOoAzVCNEUFGa4CuT4/snm71SJs4gEQ67ny/Uu+PJ2qCWYQMYkaoPt3dWFNatV2ncQnV1/2jSyojIqJDNtCan9w+HCdvM1IxK50t1J2f3j9faBTGC+wKheHP98PzB8bIswJUIYgrm2vHF/qjbblfiNJdujHfWahIrZEqVUi6NnLyuHt0/2l7rpoKA2J0eLMRXhpPNYb1cyEjxWFSI8zQSyfEBwIYnQLNhFwqqPqfREuAzaQmpJlOoaQoLhQM4SVAMQ6IKjWCYCAIvqRcE5JGoNzo9qIjOA3DcqtfYqEK7W+bt926+fwMWOzoLePf21bVX7C/vfv4FtQq+Rf1iz5+/eP7sL19+/umDSZXzeNliHxkbNFIhoNZaC5EqZJOJGBLrp3BCSCGDbg+MbwqIYQoJpaqRbXqIlWIc4TXMwZxRGz0EJ0BqI3wuswFeQ3pPaLi4KIW2uIDchHHUVi4mYOBdTpfv87wuZwAAIABJREFUWpIRnTiHwsAcpAQkxtS/Pshrs1g9Pi9wPovV5afEbEYC1JXO5ouVervfqKHNMwnmmWF+esGCc+nqcLw2Xl1uFaS4lIoF7VY81V2bDJVkopCLAUYnWciz1f7OAYC2nCQlUsX2aGdvrcJ6LGqVS2itHxxvtLKCxAXsQP9gyPcalElrshgho8KEuDrfXcpzIRd8TSmrB5f3D1abxVwuLcWk0mD79Oxoc9RvlAEZxitre3sbS+1ObwDBs1CoLO1cXJ0f7SwlbPMLiwa4JzyqjNZXe/WKnABwHGHgZu12Lyz7EB+XJJHyArK3I70Ylwe4FlCkfLGQFZCMGgXhUbqWmOQIgsC9PjoFhI+nwh6ry+ezWgJU2GW0uqxaYzDb6HdyIf3UBzeu5UHfohbgf3nH/3zdKvrm7Uu0Gfjspxf//OsXn1xdHq4WY2JpMOw261UlTbptTn+03G3luYBFp7H6aTJC+D1Wk5OAMJySU5C6XTaz2WxxIQ2foMemnbs3ozZCOuDisOICyOTLYnKhql6GjRARAiiqy4NhWCDgQ93N8bRAhGDY4b/rKj084LaYPWGOQcpSeTkTC9mvnZY1M3dn5+7eml4wYeEwvC9Ei9nqYLQ0HK2M0B5cMU55bAbNos5oD9CxbK0/XumW5XSc82gX9B4mA4m+0Rr0a1lREMQETICl7aPD3Q3IqxwnxEvL25v9NOkx6axkcbhzdLBWj3O0x2j2p/t7l2cbtTjHRKhwgC6uHl89OBxk4K1mo85KK6P9i7PdcadcygMUjJUAc16db3bLqCuBFmvjg5P9zdVhv1GU83Eu3tg8v7x/Mozb1UgWnabCAB37y0vNSj5OeuyY32PS6GDYPE4/l0iLPNy6anrB7PHBU0RsotTo9NvlOCfGGY/NjdNiAqFAlgp63H4iHI2nOKBjZjvSlHOSXNhhtjttdlyswOjR9vmpG2/e/IyC/g/XW/+IAsLXr5FA8M+/oLTw7Nuvvzhen+xtrQzWDu6fbLQySPHIqPdI3U3ARZRt+tbdRQtyc9DO35vWuyg+kUkJFHK0BnjuBGYfJoNu0/ydW3dnDQF4EXUNw4xweIIRihNifCLJhZAY/7WHoD9IMLzAcWIyIXIMF2UiYTKCI2F1rQptLwUDYS5VqtVk2jF3e1ZnBIw+e29Gpbo3q7fAYgSw6GPiuVINwNHG+mRna7mSJFw2CFdq1KkdiHd2T492VjoVmbLpTXqNgwMqNtnamaw0MzzDcVJKGWydPrg6Xk7iPqeDyA0ncI9MwO3CGGXl4Px0s5PjvGaTmymtHF1e7I6ahZTE+FxUeQNCwDhHYg6ny+Elornm+tHx7mpfSXMht+s6JFydrDcrSkFiqGRr8+zqdGfUKfAkCU+TkldPry53yhGb2U0ImYxAMdeipzVUwbdocnuQ7hnaZiMYyK5JCKcWjdrkhtTucIUEBVhEf9hRknzYodNojQ5CKiilJEcGHCYLXHhEEgJmvcVhMwBTd1FcwGFzOByowblfjro0szdQ8f8r5A3/3TNkG/MOjfwbpArw5tXzn3747h9/++x8Y7C0vrV3dHLx8P5WwXnnP997/0NVsASPuJsCKnFnXmOxGpEyGzoIvvZ1QiIAwOaRZSIZRFIomrvv/+72zLzZT/OSwASR7l8ESAsEq1QGiBhwe6fLH0FOcAQLcxfp6rFAgaIMOk4OGmanp+/emVEZIephESFbKGQYL5IIBsrgtJkNOggGyGVAo5rXInNHa0iQ64PRyvpkra9IhF0zr4KXZmfm7Inlg9Ojva1RTfCaDXqNBZeKjeHW/tHBuBQlAkFKKA62zp88PhtlCLtOY6eLS5OtYVmAUQrx1aXJ3t5aPeb34iFCqI1PUZdMM82E7DoLUVw/Ot1pS7jT4Q5C4o+XIGCc7A2zYdQNyxTao8nOwfa4XysApstWl49gyW+1Jb/b68OcHrY2OT3fG8gxHslDFpJMmBRL7X6nXogTHiwI7Eij0tiCNMfzUciOQgTYli0I2Sjkx5lUvd+ulQop1m9DwjQ2DwWJEjlf2DUqvcXu9LN80DAzrdLr5u/MO5k477eYnW5vJNsctLJhy/yNa7fwt69ffv/Di9f/ahL65ZdfUGMIEodCBuGfHfczXLK79+Dx4ycP98rY3f/893//3ZQjOdjZHSYdc/cWtFbMY1yYV2mtOCfFeS7sNGsXFi3BaDyZjosCujLVLAygWm/BSJZhQh5UJhSmBHR2l83Fw6a5WZUeHcPQDEwBEnfBJaJkAQk/mU4yroU792Zu3Zma1pidGHoM8VwxJ3EMFfb70YaHHwv6HQYAHBo1gEWnGUiDNSxki7Xe2s725nKZsWn0WpVKPX1rGq569+j4ZHdUZHxOm1GnRyyxu7J1sL9WS0Ie4yGBbB5dXO4P0rhVq7MGM/3JzlorJ0QwV1BQhls763Up5Pe53FR58/Lx49NxLSNFnIuztvRo72izkwhjbtTxHkk21w7O7x+PigLpxygpp3Qnx+f3j9ZaSj6fyddX4TNOt1pJBvhuVBDyA4gue6NWKV/Iy6W8xITZTK037LUbSiLiQVUyqI6CYvkoHWYEKRrGnAEmXshLEN7wuFJGj4PEHSZ0xgr5MsyiloGQVQND4nQFmbD5zm9vzmh0aq2TySu8y+z0eHChOhjWRZ/+xjtkGI2cAp+/ef3qOXILQxzwxx9+evHjd9/845/f/vXpboUjU8PjB5dn+5MGY5y5/eFHs65Ea7w5GcoeyFuwFi2a6Xuoc0qQAKHBo5udUvsAFcYTKSniMcDCtFgMWhseTaZigAdnptRWH8FKiWtnRCFsXQS06PITEcTfAtddI0SI5BCwB5TvsejVWoNWg4wgyHDA7/WEoshHQxKiDB1hGPgVCYkNeVxIacTucDp083NaiwNiRbazMtnbGVUEpBG+qJmd+uieNVYbbe1OlusF1De7CEHFz6aUzmhtqZ4CgkBHpXi2uX58sllnIYLaMVYZba33SwnCsjBv8Kf6k931eoIGjkXlRicPry6P1xqyEDbOzPvyK3vHu0sye70HF+FSkATOLw5GJS6ER9gIK/d2Tu+fb/WVBB8hooAKTs+P15sy0tWXUyllaetwb9wsFZRiKplKsASqKFla6rXKCcaDhJ4BDrNRmKFkJBJFLTRhFrmjRgmX0RbJAp1IxNgwBFJHAAks+kjknxQJWLRaq9VoxyOY9vYtVDnt8FByJUV4MTxAikqnXYxiuhuoF+DtW9QE9vaXX5EuyKsXSCcSFQL948//9be//enp6SDJ59cu7h+uNEpJymvXz2qC8tLm7t725lKJdRmMZqTwYbD76Hg6KYo8hD3DwqJXSKVzhZwYssHMs2IEL4oQEHgCsy3e+v0H94x+Dim/BuHpQLQymrwETHARvYxaoQH6Bwk+neSjLJIABT6ABAIElgygdmMXDsyBu8aKmWwyU2406uVSKcVTBEsH/T63zWi1mTULOjeb6W5sr/XrhTTkwUXN/NQttZMt9CGU76wNyomQWTWvNjhC0Xyr2ygr1VKGJxkqwitj4Hx11mVH/iLxztpGN0c5NbP31GFl7fBorZFNx1lKrK5dPHzy8f3NRpIJOQ1meO3o7Hirn+dZTpR4Nqn0N08v9vtSCJkY02y6uwMpdKedQbM8Al+d3Qdy2FDKjVav2yxX+2sr7Xqj3cgIokQHwrFMIVcoNxuVDB8KAa1DDydKEVQkhHSVSZpPILtEArM7KbnZrWckIPnGBZ3NbTGgOBlhOZZC7lx+s8YI4N+pW9CabU4MicWUhBDmDxBSvaXE3GokFPnz/3MMgD++f/bDq9fPf3p+/e9v/vTZJ58+fbjfSSfbu+dnm90sQ7IxwmYjCyv7R3vbEyDWKQ53IdkNFeqyFLIpgQ7YjEBn/ayE5rIQcajnAJpF+CSy+OJw48zM4vyt96a0fklRJJ/Z7AlFgNOhylYgBBzENJc3gCNQGGEAY4f8XnRsTFKskE7B1LLodMg5NIx6ANM5oHy1cr3RbLe63V6rkpezySiw/6APyIRpbmbR6GBKrU5DyaX5gEm9uKjSmY2orH+0vXdyvDcskHaDBZUbCKUOkrxu5AUW8oqPKQw3d5Zl3GI06QwYsMVxM0XYVQtGPN3fPQaaiFqMw1xx+QCywF5TAszisGGppb3zi9PdfgFQeDbJC9nm5OR0f1hIZnP5XEpIVMenjx4eL+d4niMggPS2js+PNgbtTr/XqCr5XKm7Mtlc61eFUJgJe30U0t0Rq/2eIjGobCYt8RzpwwIhOp4vpcV4vij4Xf4wTA5J6XYUCRIj5FqjXqPS6YwWpz9CR0jUZ+mYuTml8zFM0ONw+SA8hBOVao7327FIoiCLAZv6BkL8yBTmBTr7efn65et3b94gXRD41o//+OOTywf390b16uj046eXW2XaadRrzZjYmhwcA1uqF1NxQHEA25w2V4iNp+U0MtswYwSia8g0UqLdhkW9DY+l8pVGSSKcOtSxpFXpbF4iXU7hJp0Zw9H2CQ74L+AL4R6b2eYK0jDlYfgjuB2pcwQiFEUSdMRn1ixqdai9FHBWMoUQQjYny3JGLtT6K8tL/VarIqfiAkMAkEA/uTCtdnPZUllGPm1mgwYWgWlRY6PkpZ2TB5enk1aGI3wOs9lN5/uj4dJKv4JOWhz2QLK/e7hRYz26uek5m9Aar/bztE2ttYek5sbB/qRblAiPL5Ls7Fw+udqtC5FwwGUGarB8cHZ6sNYpZRIi8MVkfbRzsDduFeEis3JOrgFZvNyCsI/kVOh4efXo6v7B1vqoU8orhZxc6q6hL7KEw+m2AcgP4SG+vLzSKkgA/RIQDUMOqxt4rlxv1/NyrZIO2pxuT4DlpXxDibNRKUb6bMhBARHsEBe9lu/EjFMf3ZozQxAC6B0gAnYbkamVE0GXDwlIpCm/+ca716gV4N3Pb18hgzAgAu/e/PTs2ffPv//u26//+HB7ON45OTq7f//q4cOTcS5oWZydM1LV8fbWeNguQhQipApSAQVGq1SKMqw0owqVMgnpQrVRK8CDxyAY6zE+U0DHhpB1YVlaHb4QRTNSgkZl+g4vkEgfoMOQ22Ky241GRwChHQb1E/mN87M6eHcQc5hNwOdVC4tW1C6HYiBPB30eFxZAkkJisTccdHu9Tl0p5DNSjGeDNoDE+oXpRUcEISKI7AG73uLy2M2QjoTKysHlo/tHG71KgnJp1eZATFlaWV7bHLcLfMip1/vktZOjNeAKi/emdXimM15tJkIep9OGAfzfPxjXJCqEB0mpd/DwycVmI0Fi1sV5vT8x2Ds52FmpJxh0tOWnEs3t04OVRrFQzGeiRCTR3jpYbyAFPz0MpVBfP7m4OBj3aopcKFYr9VZvsDxoyYzXbl2cUVlcPh8t9wa1HKx9QUrw6I6cPjImN5qFNGTXBOlzWoBrhdiMUswVSsWMQHgMiwab3ayHhxS+pmLGmZs3ZxZtQR6VibgxwDV+oVApiIhjCagO3wAg8C0C/egQCKnEI42IVy9ev33503ff/O3LoxJNSJ2jJ59/8ujh5dFGE5AygZOJxsraynDYTqE+b6E6mmxO1sZrq4NGhgbEPjWvd0WQUVJNiZO+AIbKqnEpg4yjOMysNzpxgoylUjGaY3Ak5WRHEsEErHHcbTUhlfsAk8ymJcprcQYJNENsnoBHPzN1685dlVZncOAc6j1DAdGumZm6p9JoF2a0mFCqwEJqdrqtdqNWrZUzjM/tQT1mMwY/F2MCHpyKhIMsDeOGY3isunZyeXp0sL1ai4eBvGPBWL7R7o0nK40M59fPmdj2zunBSCad2kUA4HxjvNGTuTAG6CKUXdreXamm0famm67uXz25v1GAQGJbnFU5Yu3tM8gCWSpE0iGn1cM3t05PNlqlYikHIYHL9Sbbq61M2DSvMvqlxuT06upkva2khFi22u5U88Vys9eS+YDh3gdTRj8Z5PL9lV4lk01IQgzmmF5v8TCpcqtTSYlSNgWZBA9ibnQqBBMMQqySijEkEXRqZ7VOnGQ45K4wP3VnXmvzcRLvh1BsBf7oF2Qlz4cDOMXRuEN/A1lHo4F//fIN6gt9/uNztCX88qfv//nNnx/v1GL+sLzz+LOnD493J6udfIxmkjlFURA+KXAA1bOdzcPzs/OTw114lbFN356aUVvweBmGoSAGDBqdwWxxR5KKkkZycXTI6/ZHYqlCMcmQkRDmxBk+KiLtBpgMkN8h6WpsQPUBSnhMGqTp50GFZD6nBiLZtBodFvojfLoEiwaVa1s087PTswuzd6cNPoggAToOcaZWb3eWV5cqcVRAGnYDlvf40G5imBGzZSXFUDCJBWWwNlnpdFbXB4VYxG83WTBkAJ4rNnplETdrTXhuaftgu5tA4m4arT+9NNlCQcCuXTSElMnx7nItzUVCHg9X2zo/3+0W4qiryaRzxQcnj89HKXjFbbcDBku2N88O13qNRhVyE59sbJ0cTlpxj8EEz6Q6PLi8v9+XBSoQSRarRcjsuXq3iQ6g5qbmbEGKi5fag6VGIR2Hzwr4PU5PIMIJyXytEGeoGPy+aAxuOsRI6XhMzCoVpVCQ4zQGz2rexWXleATH3ZByDXanHeOEkGF+QaMxmGyBeCHHAbAkQyGYtjdQO/irl8gt5O3bVy+RJhRqDH75/KeffvjHlycQvyqrZx8/fXA07nfblRTw0IQsJxiSL8gCGxXT6Ozr4cPLs4PNUSsTMgGshmmK2imrcgLX3b556848si9SyhnKbQ+QEBlJsVCpVxBf8rlcAYqH31eQ03TA4zTpLRYTcvsgWZ70wleuIAuRHtCMFzkkzanR2RLS9S62OrU0S+Iek1ql1mo08/OLJodpcW5eb4eQlK0Mrs2MWxApBZblaIbngXCTbKq+PB6URBYgtFxsL0+WauX2aFiO+uwWqwvn5UqaotPFLONBJZqJ2urudjse8VkWp9UBeXnvYEUGJDl7WxVu7F2cbVQTLO23OyOVzRPAxy0ZAC+F2Qll++HH98cFngwEIzRLsoXR6eXF3ritZFPJREruTIDuFUmnBz3GCmCGk7VyNODEqATqXxRTxfagWxAJAKcunBaRhj2QNbT1Y8dIKgwQXKBRyWIqSvOZsiKj7mUkmcyzUlbOZgFnS0F07DatxWgR9dtD3tMjpWx48qxPP6/SLs7PGYPpspJLoCImn23+xs8//4w6Q9786zDg+YufkEzMG6QN9eO3f3qwtTzeu//xF59ejAvxhEhTQgbZLebjNMUSgSDQrM2zB48/fgiMZtyr8I6FeZ01wMbjPC8KbMA8OzU9t2D0IBnRVp6yak32QARJscLsiGHXup12P53I5bMpJOSpM1gc/xKHgiSBxB+sTiyM5IR8LqsF9cwYHXiExAk+U0EiCBTaRvXjIQLHMI8T89kXZ25fRwmMjOVq3VWAVP2iAPMlJqDh4OIwMda2NvqVTCpXklOZaq9fr9SXN8cVNhAk/P5IvBAPWDwUT3ng0zBW7m/urrQVyTV3d8YabU721uq8S3PvjjpY3zq7OBwWEyLlsobyo/2z+2frjXwuI5BBVlk7//jx8Wolk+C5eIIlxfb+g4dnG40EPLs4T0Yr4621ukBQYq6klCrd8e5WOw6cl6KpEIbhQTbXX0bue7gLYzOQOOAyW4pABQHsALKl+DgMeSxTqshxPl5qlHMJjqJgVvCorjAelxIpYPYzUwtGBxZkEwAKIGxYrXY3HghSPIsBWVuYubeIxevtakZkQzjmUN/4+e2bn9/+8n9+fv3qLfz/8+vnqC0EyMCb169++u6vn9x/8OSzP3z5ZL8lEWGf2UGVGkqS5ZJSBMieI5gbHTx4/Ojq4mRnY6kqC7hJqzP749VGIUZCwoTwo7e6MD/qbqkrkndxfhb1kcQEKcm55m/dXViEeR5NZrIZwN42mwOdcQMbDAcw1L1o1BgsToxhw16PC/V7QhCn2GgsAuAqmc+nkfoQcEPUWIMcNaMx1m9Cu4GLqvkFrSuSrvbXt9Z7xWSM5XjWZ3H4iWi+PlyfjAf1QlHJxmMwIbrDTmNp3MtEwmE8gM6z7ItqW5DwWs1WL87Ky7s7o0rUrVMvLNqo4mhnq5cMe6wOPNXfPT0/GJUBzTu9DLDBB4/vb/fK6aQQJSh5/fKTTx5sAZ+PxaRoOJJdOri42GsnI2EqFo1E4o317eUiRG8pDdg/W13ZWavFKdyLHD/sDqcvWh2tdOsFAXfhsUw2KcRSGcHnAGaMI+EDPi7F2Gi61qpmpRjwv1a9lIlRXCxKwGIsZJLJOBOw6dTAu2kBUnVeogngVRar0+sNMBJlhQdkNBoseKZakIB9A21cuHEtB/cWNQYhr/Aff/j++euf3yEk8NOzb//x9Td/+++vv/nrH59McgzLEOFYZbikcH5SEjzqe/c04dLy/uWjB6eHO5OlisSEfSY9JlZ6S70q2mezWwzI4ClCRQhaALaItnyNOMvTMJVMU+/dnDG4cVpAh5cpiQ/7fDjK93SU5yJB5OhjQZbeghglMI/LjjYKObTlJ7FuG0YJqRTqnk5VBsNBr6EACMoDu6KDuB9gvlGnN1l9XK693EdnwjEm4reZLZZrM6iltcn6yqAFE4AlIlJtebw0GPbKANCQP5Fbv6Bx4IwgMThcgINS1vYO1qs8Zlbdu6fGlfW9zX5eivixcKo9OTrabnAeC3DWcGYZCP75Wj7scENGlgZHDz95sNvOiJC8qDBA/82Lh/c3G6haMyFG45Xx9lotwbEMn0hIogyEeqMmEf5AGAKd3WIPZpbWxsOa5DW7IjEpDmkjyXjdBMMxPEeFrwupIrFSo1KUwn6+trw6qMAgMzAB6EwJglBWjKB2aSS8zUtZWCbRoMtmsZjNdk9EoB1zM+iwBDBhVub9bj+wAs0NgIDvXiFZ2DcvX756DgzwBVIL/+UdoIDvv/vHs+9//O6f3/ztq7NGXBAFZXmyvTGqQ87mHOoFEyl3ts6ffvboDNC0wnjNJpPOQSu9JfRIyWvhBasjLGQlwqo3uXECUJLJzyYk0uex6VRI6YJLFhrVNBPEPBgOeV+QJEFMpWO4HUl52+BnU/E4OlkyADWMwB2lc9kEF3S4A4AjIaVmS/V2r1Wvt1uNeqPTr1/vAZB+t8thNpicYYhE2TBMQDrsdrjc6EDFgouw5I4OJoNyWojgRKq9tj7odlr1crUgwLusyPamPhgN6nG/dlqFyWv7h6sK7dCiMmS6tX2yv5Kngn4YkNzK/tG4EvPbrE43Ia+eXD0+HkgeICxYMN47fPD46nBFkUh/KBwIitXx2dXF7qAiZ0SOi6Vam9u9NGQ2dNxNScpg92y7LSchfCAHLKc/3t08ONxoSLgnGEvLmVQ6m4wJaUC0FMNygighuVNJqSs5LkAVVjfHHZmno5IQCcEiy1frSooLIUNsmwfpjMcEgfJaTQYdMiXyhx0z79+aVWtUahMezwPs8lrV08g+/noL6MVzxAZQbxCCBL9CLniBpsAPPzz7FiLAXiudKA52z89PT06PYSVILq0hVFg9ePD0sy8/fXA0KpBOq25mwSk2hqujQS1FOJBaAgC661LExbu3Pnr/ltblD/FyMc34jHPTizqkXVjsDGo8EHGNHt6YBTqM5EejPovJEwx4fCyEBtJutFp1RoyRJA4SJQCPgNcXYhKAeVLZQrEEkKRYq1ZK1WYPJkAWUi8qKMUsZkBNYgp4iNrgJYFjBl1mnQYoJVNdPzw9mnQLUpRiEkqnP+j1R+vjfiVBeR2QaCDUb+3vr8q4bnrWzDU2DyYdmcPtugW1JzXaPxwXSI9ZdRfFg/29EUD7BOvzxbrHDx+drRY54MguRyi7fPTw44fHowJPYC6H3UvlR8cPr3eA0sl0lIy3Rj1FvqZ2HJ/INtYBUExWB005IfEMSaU7kxN0MJTipQzM9xgf42k2FkXbDhTHM8x1HMxWa0WJ4XLDrc3VrpLkYxJPBMhUfbTelxkkMW12eDG70YL8Z4AsGXQGo06ls1nmP3z/rlqj1pqDqVpZCjmM81M3fv3l5ffPYBL8+OzHN7/8ilTiXyHpUEgJSBXg+x9+fPbNVw+Pt1oimVo+e/Lk4eXFg/sn27WQWhOu71x9+sUXX3x6tdeIOvTqhXkz24AQu9qvJn366Tt35gweOltVUiHdnZsf/P53d0yRdLGYotz6ezc/nNYCW6ASSiVLmmfv3Ft0MLlqo1WRJQZSsc3iJckIjL8Ib9aabEgPEdlCmfQGizsYYWISwg0irAd4jFJKzqXT+VqvlaNCoQg6NU9dd1cg7SHKs3jvnt7LJ0UqYDfCSrBE5M7G4cnBej2F+sxoNttb3z0+2xtWUhQyLfZFK6v7J9t9Ge1hG6naKhLw4b161ZwuVFw7PoCpboXrNUZ7R+enO3CrKdoXzK6cf/L4ZKWWjQGWMTvY1t79q/OdViLkspghS/izqxePzie9Rmc4LIacVG19Z2NYk5EyXSqRUFZP7l/AJxZjNMUQQTJRn5werPfKcgamPInAIdAihgihJxITxZRczPKMCPcsCpnqcDIZtYqJZFZOwL1kequjikR6UdC3uRzwhxunwg7dot5o0armzV7MMD1nsEE89DH5Wo71meembrx58QKZg36PbMGuO0JfI2WIN6+ROOA///Hsh+/+/qeH2/1anglndz/57NOnnzw83V3tyyGDXd55+MnTzz57+vCgRZoMGi1gi/5kfxeuKB8L21TT80a/UGr1e6WIYeqDDz+8PeeWlFKKdKo+/O2HC0abO8yKqAsQ08zM6+whId9o1fPxsNuP2zXIIPzaYYC0z8/onH4SGFUEdxrUGluIT6aysPJRqaTb6XRjQWQfSItytZIiIZVgfjqFUDIb9gF2wNxmzRzg3lg2xfthKahVBq/UmhydHqx2KxkkvBAtLO+dnR3tjuuJKInZnOHM0u7R7hoaPYPaJvY2DzYHhWjQbXOSqe7m0XaTNJiEAAAgAElEQVSLdxitJlso09882p90ZaRrFa3uXD6EZTHIo/14c0hePTi7OFqtCH6TRmcPUKnu0cOHR+Pl4VKnRNmw3PjoaKOeRs5hCTEi1DbPrx4cdhIhzIfSQrTQ3znY7JeRBjsEc7vdYr6WO0UCCSwvJTJIv5YmBblalvPN8e7moJKDoBCN+H2ssrw67JRS0TDmMOhMVniy9jBhV91TGWB9qowY6dHNayxOt9sJrDcvYrp7t9A+wMtXL16/ev7jizfvfn6FRMGQl/ArdDrw/Nk/v/vn37663xP9Xg9VOXz61R+eXu1246hMyyOOLp9+8dknj873h1kffJwr2tw6ubw6213tQnQBQGP2wUX2Vsa9pGv+zpwJo5PFWkXmPOqbv7+jQUKHIh8JhwK432ZyR8RssdZoFoWA1eYwarR2JJODfJ3DpnmdPyqwqAwYRXFzKFksykB444Rdp9Ut3JvXmYx6jRHZPvPIwsjrxjm5u9TK8RG/3WBEL87d0+LZZrchR3GrZkFtI1GT6MEWLB1R4ClGXjk82N2aLNVyqLgVYxUYvtNdVAtmtISU1d2DnVENQneIZFPt9a2hTHq9Xqve6M8s7+6vVuNMhGLj8DP3Hz86GsoM8Fk7W5ucnJ2fbNSiHhukIpYvrt9/8ujycHPUqSZDrkht6/xwmI/HOCTzSCd7u+eXR6O03whBEY8wbHrp8GS9no5FMJtRY3JhwKOiIgP8PwtAjI+l4eZh0hXbzbwkDw8Pt5YKLB6iab8LFyvDye56K8tDJNIbTeo5tdkbCgN5ndMAy3biFB0wa3QOf8jrCScVmbbNf3TjF3QY8Oblj8++/eFaH+T7H1CHMHKOBWjw07P//q+vnp4u56MUX9t98tnnnz7YrlOmqQ9uzfur+4+efvb00fF6I8VgOlgs3d2LR4/QOlCiGDrkodJKo9PrtipxbHFu0R0rNJoQ4nHt1M1bM3pPJFFUJD/gO7MLp/iM0ugtNfJCwGhCRyEQEFIpPoR5PSbVopUUJSaANCHtOpWVyRVQG3iSdBg0Kq1qZla9OD91a0bnALJo9YSuheULg/Eq0JKgRatR66xWvdoUyg23d5YV1mNYmFfpsPRg+/Bwf3O5pSRJd0heWu11EZtIR0MBD85DEjg9XAWIZ9RaI4Xl3aPt5WpGCNltkeLq1mYvF0WJdVEbgJe2lxWBk5JUWOwcPXp4ul5LAv2x+tMDIIoXp+uNTIyjWYrJLB0++vTji51BBd1VKLu0f3a42sglU5msECFTve3jw3GZsms1Fj8Di7u9c7Lbz8NTVM3rrEgb0+2HhRLN5NNClImKSGyGiKZyGUmQB7uHEKHEKEf57c4gn+9N9na6aQID3OuyLOogYzJ8lHQjPS2rw0MKAulzukMMjYcSlUaesc7cePvyp+8B6H3992fP/7UjiOpBXr+8zv8/PPvu6798ebW71Git7JxePXn69NGuEtTc/eC372mi/aPHX371+cP9biIcBK4cagL4/fjx5dHOUA5bZu+qfOnOaG2lW2AcerNFa/JJ5WZTSdHWO//5m/fuaJxsrl5NYOpbt+c1biZb7iwPG1m04W1HpqFhimdDNvW8Sj2/oHcRAo/b9Ca7zaizBIRsSoryAnKl8zqdcJML83Mz9xZ0RotJO4+ciqhYqtTf2DvY7KYIu0ZncaFzNa64tH2KVpn23u27c4t2GMojiFabXZn1WnzxxtKwVSq3GuUU4/NgEXnlAHi+HLKo1EaiPDk63h1WRT9AU668fnCw0cxGkTCeiyqvHRyvlSWAJ3Zvcnhy9eB4rZGOeEx2orC0tr5zernTLyZ4mqJiyvj40cdXR6MSkGW/LxStb54erbVLgHtTbBAX4BftLefZgNPqCjFRIApnFzv9kkQ6zU4f8sRyXAsVScUC6o6myWAI0l84kc2kC82l9c21fimToD0WJwExdrh3vNMSAh6vz+O0GC3A+ErVWgnIk8vuDNAJGUiZx09HggEuW8kSujs3fvj+u+8h979EfUFIJ/LXX9++QMrhEAC+//vXf//r54etVCxV3zw+Ptg/vzjsc4Zb79+aMTCdg0ef/eGPXz7abSfDPpvBK09Orz5++uh0d60hegwqgy/dG29OBnJQ/bvf3FoweHmlt4w6r2Z/8//9rztGXMxWWiXWPHVr1ugKiSVkNww37LIYDTBNxRjP0y6jwerGIZN7gmHX4tSU2mSz+IBFyGI4gIRFsgkRmLEPeL9hUb2o1hqMizMzC8jcLZ1vru4d76510kG3x49MBcmYMtw8Pt2sUabZqVntospEKJPzRxe7vSyNe1Dbb6dVjOcbHUUkPA4XmV89OFwvs17D/IJdaG0cwjDTTqPR4BJhaR+MS6TL5fO6fHxrB3WJxSi/xUKUN9Gm76gaw12uYLK5PBwfPkCRPJGK83G5uXH++PF9+DxkdIsT2eWd3QnapuDDeJgRcr2dveVSWoxgDg8uKhDH93bGnYLEErjH6wfabDJqDb5Uo9upZVGnBE6GfT5ECyRZaQ5WBvVCPGxatOLxbFZZ3t7sIV8Dv99jMTuC8Uq7021W05TL7PIHcUpMi8DDfX6fLyJKuPr2jVfXzcBIKgo1CcLiR1JRv/7fX39BaeEfX//140me8oaVzYNhOiqPJ3XCOHdnxh4f7F99+tWXn1ydQgAKa++oiM7Jk08//+Lp/d1RhbUtqqzRxnhre70perR3P7gFCaAyXN/eGSTtd9+7Oa0LpJuDpWaONt+dNgVFdHTc6febSZ92ZnbOEEoXc/EoCvpOtx+1gzBhu3pm3uhBKh/tVkX02XxRud5sVIq5VFyMsmQ46HVYbQbN/NzC3Q+nTJFUZXn74ORoqxkncH84gDndAS7f3zk92mrHEStaVGkdXGP3/oPTNUi1XNjr9MeUajJZHfTKcRbZ1fH1dQilyYBp0eBmK+sH+6M86bFbYWlvnF+dDNMUiWoUmFQH5sNyUYQwYqcq62dX97db+VTU7+OUNbiA0/sXu8NmUU6ns5niYO/+o6vDQZqFn41mu6uTrTF8OOkNwJgUasPJWlfJRIM+H05l24N+t9+DFJEQ2SBSwiExgDOeaL7erCTRRkQgEkWKq35CKFYUpTOeDJWoHcIjH0+my93hoJIWY9FIwOnws8lCs786HtbjQSDUdoeXTsI8C/rdBpXWG7TP375xXQ+IuoCeo+3fF8g+8Odf/+//fffqBZCAf379xUEjISQrq7tDwaIhlBqtvXt7xpVdOXzwyWdffrLfjLMxwjy9SDR24BtffPH4eKOfhyRhjDYnqNo64bdZjbN3jXShu7I+Wa2xNp3e4aMT9eF4pZPG9QsqMy7k6zBHlQyPm6ZvfjSlJ4vNak7kgjYtUmxhBR4oxYLW4ibFbB7yv0hYFy1kodWuF3NyLp/Lwh9yJkbiwbDPBcT2tspGZpor2wf7W718nGciPodRbzQHM8P9o73VCh90LM5rjBYvqu043BlWMxKDu2wOKlvIVXrDDgAov8NsJZS1nZUi4zLC9UZbWwdb3UKcxd3A+I4uTnd6xQRLMhwtANrbHyoJPux1uNnm3sXFbjsrcmSQyi0fHK40++s7k2ElGWUFKdvcOLt6iGacEKVjwP/XDrbbWR63O4JCVs4r/bXVVl6kca/Ly2bz2XShUUc7Axxy1ohypMdigVSYU8opPhLEg7SUhs/0BsVKs1Jf2t7f7GUJh8MHz4Cg+XyznBUYiia8Dj+yLwUmVs+wuMuo0tt8YSQsLwXNczN6F7JbuwGD/sOPz1Fb2Nv//eu7a/cgAIFvAQM8e/bPf3z9x4cHm6Pu6OBku0Hb8Ew14VffvutV9h5/+cc//OHjiai/fWd6Rh9tb54++eoPn31y0s8KpFNtiDR2zk8mvSxp15pM6rtapro0GnbLoleH+lSlTGW4Me4XSNuiWu+hE0q3X5dcc7duT00v2iLZerOAynBNqlmdP5aKo7LgOe2i1oozbCToRaeGrmi126pXipkMsuKsdpYHDaWQz6YEwmNFx95+NlXtDkfdstKoFiV4qjat2hXvTvYmrQTqWjZZTLagUGivTrbHrRyHe5w2D1tsNFtLo26OIXCvxUTWNw/WGgJm0ptdTAXJutWLiSgj5IcHD66OVhSBIqIMk1vaO93qKSmBJgFWDQ8A3adRZSsVr413N2oJCFlL9QQwiFiqUFs6evLkcndJSUtSQgT+v7dey0oUFhTS+ZxcHU2Wa7lMmvNbXWGGYcTyUrcocSyH9JiokMeGLjnd7HerwPI8GMWRmAujU0q9O+wvb2yvtzOE3YEBW8NIqViWASvwUQKZBgiimCooKdLvMalNbq8H55DlYNCqN9lshrm7N17A4v/x2feoKegt6hGCaIDKQmH0//7Nf//586ePHz5++snnT8/GRS7AZNOETTWlpvrHn3z15z9+ftEhFm7+9vfTwfr22YOPP/v4bKctuo0wXD5l8+zqcq/O2lUzqkWNhSr2+s1SOoZbkDtYREzIjX6vmghbVCpDQFJanYrkVd16/+a968bsjsIHbJqZO7fu6YJiPBoyz6s0OsjbbrfDrFNptDrU2tZrlLMi0ngulCrNpdXldk3JQ76VKJ/NYjWa3ASfLihyKpXOyQkWB1psCeWXxsMqUKkw5nJakKdiKN6c7K7VYiFfAPf62IxS78E6TPFinMZ86dHh8WYnRQLAcfK1ldHKUjOfoF0OrnNwcTapiAw6aE42N4EyDssJnsJ9ZKqzfbBaz4p0KMyl2hvjqkhF5U4zQ2JhMSUrSzsXDx8cr7fLpaKciScqK9s7q4VIgOTEeCqRKi+tLjWr5Qxps3kDeJjLN3v1fDopQqgPhBAFVqmshATsP8XCLbrcNrPDx4jxZKFcKrRH404aM1g8mMPpDcWyRTkhSIkYhcQ4cR9Oxot5YA5uqwNpGAdpXuJ8FnQyvAAT4BUwvp+uvcFfogTw8jliAvD19zADvv7iePf048//8F9//cPlMBGmMyUJs3tsNn754uPP/vBff3iyWwnr7txUR3s7Zw+fPtlvZaIBk3r6jp7tHTx4fLVXJ/XTtz66rfZISr1aSsKt2DSo/gpSYl6pFqSwfuaeBovJ1WY55l6Ym13QevhSt98uMnbN9Ae/+/1tXSAai1KYzWwwIhMom2lxempG46QK3eVBpxy1azRaS4AVEjm0NcqFA/CAMiKJOw2LOqPB7KVg7QPAq8qM32W32QJSZ7mRFiQxGvHZzBbd3LQx2tneXa1KDBnEHBYPp/Q3D7YGlVJZZjyBLACJndVmArfbAqLSW9scoTMuC/b/s/QmbGqb2bqo/8s99zx777PP7iGdxHbZVeWaoBjFLCYBEgKBEAjEIAQCMc8zxVQUNbpctuMkzhynu9PZndF2PCTp3vee82fu9/lc+3lcRRUGJK1vrff9tNb7MpXZ+Ulf4jmGJIKp2uz83vlBMeJGDXpzsH60GlXisDx74835pBIhmdKgyYdiIMj7o8Fofn4JMkZBKhZ4yhtvH87LAZfXB/01OU7qz8bDfkuKkB4McAEmVel261IKQGOz06pVqLX7GmeQywGwDCi/2Qai2Gxz4r4IYEWhhCTFHWq1GUXAcrPiYTgcSPq9BOFygHxkcwYjICVAjUmQDNWI2eEEn1atlG2uXb/29MUbX4BfXkMYCPA/zAgvnj/94e9f/+XJw1bAnVl9/PmTP3/18UJKiVLKh+wqzb7S4t6Hn37x+Op4mLHvrOvYzjEcce0zBrnagMh2jZHm8vK9R5eTgs+wd/vmtslHEwQVDlruvHt9x+Blk3wCwD4+4DbB0Qx7MJbgKFQpUygReyglVRvlhAN8tHffuaV0R8Hxg4PalkEtcESxC0r8NsrVBsNercR7Nbff/sNbG2rUE0mxLotevrNvpVMAQfpgR5wGcAPEjKIOLxsPwV02zEkAzJTwE0yCCxKgJMp31URhcnzUFcNeJwgvC5GAmq+LUafMB10OOtMYHa0GoFCpzTjXmB0vWpkAqlLoPXwP9kSW4wGQ99n64eXVcSflMenVakwYHR2Py3wiSvnjjfnxQGD44fGyX602+wAT1URpcHbvpCNl8hnWbXDwo3mT9RABlgc/EKTOZLmaNIRoOBIFa6IqAXxfy7B+zGK1GWQKK+G0EjQnNmqZEEEEgrhFbzTAsdh4iqUYPpMgbQDV7W0roUwBKJaheCIcgPI7TqsNnIQA6X5jzYZoEERrdpKE3QhiYPv6tTcpH7aDPn328o1G4M8gF7x4/uyHH/7+54dtCrFL51/85euv//LhxWJQDGjXb2zqArWzDz/64OqoLfG0eU9HN1dXDx5dzXjznevv3Nq300J9vDhazCa9aspv2pPryQiDGex+0rD2u9+tm70BJgpv4yQoh1lndAKYmgCwQba+tq0nQbHKSXkxRUFNXz0eEQqlpEenkGtQL+U2awDO37gtx/OdXrtW4COkefudt95d25DpcDbiNiHQU8ZMxhJwZAR3OsyKHY0FhU5iAQAOMKjd7MS5nMDQCThLgxuUcoUt1jo6X3ZEOM1oNlpwYXhy9+KolwfsHbPTpenZ5bLBwb40d7QxWRzUohb55voGQjcWZyeTKkeCwGLKR4D+1VnAzAwo0z65urcCuCISCHC12dFksLh89P6D08V4NF0te2KMbxydH3XzsFHcZQHEYdEvJRgmnikASgPg/NGiyTNMqlBttFqN9mA6aeRSLOw2k2uc4OM7ST+bBXj5zQECMARtMViWF5IxsKQElrTr5HsqjUpjJpiYUMinWYZl/C4bNDDFSa8TZA2NfHt7Z1/nYmI04bKb5DeuvXpjEAlQ4LMff3j+6vXrl7/+CtUhAQX8+vN7zbCVaF19+uVXf3nyEYAvabdSYfGnu2fvvf9wVQuZ97c31vb99RV4eHeew2S3b7y7YY03x7N+szsAmA+eZQWCBQM4jGBMc+vdDZ3TZdY7AnGONOtQp4PgpJLEYfIbb/3+j2tqPC7mhKjX6bAaDTYyVoDmZCGbzoASEY5y6nfX3n7n3Q1TtNFtVPKpoAuzqbZv34H2iiaSCXkBgDaYMdztwv0M7YV+f7tvJoSgXjDntdowDNUacJZPcnyhXk5SdrPJYPbyvcWiLfgxuwO1mF1ce3V1eTZtZqIBt8XJtY8uVkOJgcLXWKQyGFaiAEECcoJnphf3FpV4ALdozVG4dTzJA8hOYHTxACT5Zb/IcwFvpDI6unz/0y8//+jBCcju3XarEAnww5OLRbsipgWO8oGMs5pUUqEAK4jJkD+QagLgmsmVGrU8NN6otABXEsMuA0A+JiLIhAK4E48WaoUkeCurQSmD2utOIgg7C8KRCIWZQKWAJBfEBZfOQ3WsKAfICzhQi9Nl1ysV+7Kt2zdu7yA4E6UpEtPJbl97DbL/b7/+9gqCf1D7QQi8/vnZi2dPv//6z48P84TGVrj35VdPvvj0o3sjMUy66OLk7OFnf/nqk5WAyne212+q2NHle+/dvzsTMbCKN43x9uSgGqG4fI51mRGlUkfEEz6TUq4yo6p1kD3itEVjJsMhp0ph9EbFRrsad9z53b/83//6+3UdAdJZzI3I92RypZkSGqODbpbQKXVYmE8E7Lq9W+9c39SHir1BqwphLTSXUcqVStmdXQQLxQUophijXYgcwQIhymPVyBQq2CIfjpcahTAAQ24X9FqEno/NTiHmoyjCpDHR1dGkXxUTYThRbaOrh5cPzmf1FLQvw4X+EhDAOG4Fp9CVAgixylMuu1Wvw3Oz81Uny4IwQZz86OTu2aiSidNuF1OdXQK6D+AC5bTibGl67/HHHz3+6P2LaaNcKAMAFyrM7t4/H1fzYjYe9Mfr85PDXpaGg0AsiQFw06qXK41aNuSxunwBkALLuSicUAEkMMRxYcxg9gnVSi4V9tlVezv7So0O7qSHg1BrlTBrEJMN9s9ZMMIXSuUyUIPQB9LCjgIx2TGz8s6d7fXr76xt76lsVJihCYt8/dqzFy9ePPvpp2c/Aej/w/c/vYB6MS9e/gwSwBcPpwJmjR28/8WTr7749NEi67OhRHp4/uEXX//tz5+eSBRm123vYdLy/sOru8f9mHl7fcsYLjZbBRazU3w2ZNpdv6UhAZ3h/SAB2WTX35Y72EQ0HIOXU7OvMOCJcqdXTTh23vof/+PfbpjCQi4Td2v2tja2dhRoON/qAfwEyA0eEwWwDPY3b29p8GSh1irn+BhNQf1smgr4McP+7r6R5LKgbjYqvBfZUZgcuJd0GvQmzT74DV/ujnqFWIhmAgAJqzWATXX6nRIfC+NG5b6Jbc1hS2s2EQVVwZoAVfpq1UoGvBhqD+THq1U/g+uUCqXRn+8Meo0sYAggxKjKdDmqCrGwF8PD+f7yAiCJGAt7vsqz80tQ/AnYmWPwSiuAjs5O754dNKvNRiFOBfneydXlQTXL87Eg7qKl4ayXg+dECHvxsNQZDXutEh+h7CYDogdwjueDqFZngHgvFI+RKMDM2VypLNKmrRub+9AE2+rEYacEQNgKlRnD7BaLyajTm3EWUOQ0gBBG+R0ZYtBqrU6owrO7dmNzTw0YBOHFLOrNd6+9ePnLq5fPnz6HHsKwQxjeHv4R2gP89fMPTmsBjBs//PzJky8+vj8VKbPWLkzvf/af3/3nnz85a2VC1u0bqnD39P6j++fLWgDZ2zfTmXwqCoiWnUxmAOnf2UToUq9fy2fFJK68dUvhCCfj6UqnDH63tan0CuVquZANodu3rq+p8BQ4rrB1b2t78/a2DhSHWqtZ5EBCMHjDIUyzef36tpEG6LGcz8QoL4BDpVqrDtgfbChUgvem4hkALcQU7PJVAtbHMJTXg+5vK91Ca9SrVapFIUa5MdO+zJGo9kf9VikdgrtNZrZzdHF8UAVYCjNaKemN4Es5FaHcDrs32ZovOymv1aBVWcKl7mg6KMW8VqXMCpb92XLYzANW7nJHmif3z0Zl8PoO1CfNL+4uyowNXAyTma4dAdhf6h6dLcbDQTOfpKlka3XvuFfKJtkQZUdJsdur8RTFChwdigqlencwakk8VLbQm110Ml8An8SDYVYTxqRTQUBDM6KQL+diuOLGLZnG4HBhmJeJJZMsaQXs0AHyk1KlQbRGKHmTjQU8bsysUpjsVrONBKGr1+xs7YHUoTFjbofVsA/3AV7/9vL5i9e/vYCWsa+gTxTICAAA3B12u5VMcXzxHmR8nzxaSm6lPjK8+uCjz558/v5xPZ2KGDaUlDQ+u7o8GVciVvnmvodLBVC1Qr5nZHJxTL29qaGkHqh+3SZg+naA8oPRSCTTbCZMt/90Y9tIpQQOsBgPsr2+iQQy9VarHMN0WmRfrnVF+VRSSHOEZvOWAvM7NdubUME/X6kWYgRYHUacr7b6w/GwkQeZV7dzG84ABT2o1cuA1aPaXNs2B5NciEBlG7cVnkxz0O2O+hWOsBqMWjUoL/XhwbhVSPrsiNoYKMFOt0Kc9nlA5swNzu7fXQ7KXBBHEbU5IA2GtZTfjmhMnki+O5uBCPBYUQ/XPLx7eTIocJGIF8Uys6u7i3rCB4CgMVA9PFs0Ym475jIbycLiZNKqVLuLk5NZq5jLcH6Ca589WLXe7PLgDixWGTRTXoJmvB7K72XS1eHioM4H7EarJxRPZzK57Bv7DzPqprkkbXeEM+lkplISQrZ9JWB0bo83GEtxEYayIjoreAR9JBGV0Q4hdCHHBX0Bn8MEfuEm/HCfEVCqbTgrgGIetxMkh2s/PYPSsM8B9fvx++/f3AOGnODpN+/3oyRTmFw+un8BSP/j96+OGn6dI7t89NmTv371/qIQtDvsqh0z3z++PJs1koTNYlQiZCoJrtjarQ0DW0hgmp07BqbQBImzVhDiQY/TToSjDJdvlFnDxtrmvjXAMkGGDXosmj05ypa6w1aZI5wWg9LgF8oSnxTzcefeuzd2LaQHoAgExDScnCG0O/sIYouU28PxuFXOxBnCZlDsyDSox47sKw120u9Q7sjgjcOIx6CEg+WeZOtg1GqCl8ctBr0Wgfv7y+NpKxenPRatyZ9rQj8JnmVCtJ/Jg5C+mHXzlGFvC1QdS7w+aOeDVrB4lNb48OxyUWa9brs7XJ5fAI6QjrIBu4WqnoBVUOJAPVJbor3jk4NyGLrQEQG+d7Q86Lb6k6Ozs6ODbjUHjpCuLI6ntbgfjnoTQaEzbqZovwu1Ex6nlyv3F8cHBcZDBAEnEhJQrKheADFnclJckqXoWJzxMmJZYDxmnQZWe4L00yzHMl476iKCYb/dZNaAteYhGb7cKMZDDIAtLpDNnJgTyvbubm0rNEaotajXaTWqa0+fPX/6FPL/Zz/9+MMPP8FmoFfg+69WggvR+tuX750uLh5/cNwuiqwTFw+v3v/os08/mKcx5Z1bmztGujSYTdsZQn7zltLq8fMFwW+Wb20hdKEYsihlerrUGQ769UzQopBrDVYfSxOsmI86lLvb2yosTJMESTjNcBQHKt7Xky5EqUOUahffmx70mxUxqLn+x3c2ERduUe5bI4UWoAURi2wHilGEhUK12aoKLKDNYQCPLYjG4jQpd2UaswucSYvZSoG66rJYXQA6s/XhoF1v1sUw7rAg+yCd1xdnx7NOkQ+7EbWdhd49xXwS+oPoyOL0eNJt5oMm+c76rY09CwvWaIZENm+8veXIw81/IQiSkC3WP7067YvJMIGaiczB+d3jUSHsNiM2rnO4nHUyQbAy+aTQnK8OOr3hwWR6eHwybfLhgJ/mm/PloJBkY+DCxYT2bFSMeR1mK06FaDYPBcnqaegolEnHAUEQm50K59Jr7SSUV4N98oidK4khl9lksmIekvLiJB3lYhwL3jEJN4pBMTZazCYXK5bzyRBJEm672YYD5m/BrFrZ9q5Kq1aqlLtbWztbG9e++/6nV7/981dA/X/66cUvsDsYdgX8/M1V1YcS0vL9Tz54+OByXgyY1AoVXj65evTBQwCSE469G9VP51cAACAASURBVL+/BYp4vdurCz712ttv3zGxxVZbDDpBWbVxkkCjcqWNlRq90agjUcit6zfu6IKpBBtNsD4rIt+SWQJRhrCq7rz1xzWVOyp1DgYSY9hZW99DiFRtMFsc9JpS3LF/e+OO3MpwTDBehA2npagDOoc6ImJBymUzHMwhLMdxURbUd7dVK9+VQSkKNsowiXy9nKIA3PUR4FpIrX6jKOXTjAdUSYUp3FicX16uRsWww2DEItlMulgtcrhJpYRqyNVsJgeyBQL7iXZ0TH3US9t2bq3f2iOqh+fHvYwPMAEr2zl/cHdcTsdozBasHD1473xc5Hw4wZQn5+ernpQUpKIkFrrzxXS2WIzq1cEKZIYUZGZMrjfpVTNpUcrEgsnWZFBOBnCXl2ZYLlOfX4CcmouHqVCYCYAM0ZpOGizIQA4fw4Ypn9uk1FPlDuAZ8K4FilFM0OuDIu4phmKlMk+AzLWj0pv0BjcrFvNpLuh16vbkJqfDAkiySb2/J9vd2VWpd268s7Z559qL59Aa5vmP3/7n9z89+xk8eP3q559++vEvlxWaLi4efvbZxx89mgtug2ztDlY8evjxhw/m+QCG6vfvbKuofLPTbogB/fb62h0VIQ5GJZ9WsSe3xYtlwY/ckaM0F4uJzQq4sBuArQfSUr6YT9FOs/L2TZmTifhtyvV33vr9OzJ3qt4fVBIuUDW2VW6+UquUiuVaQ4qgslu3N3YsiXqr2RwczIbNDOPQ6m0EI8BtjgAUkfJ4A5HUm/FLD6rdl+3LlBqo+5Ep1gfTnsQBek4yYZ/Tk6wUwoFkJgElSmUKe6KzvLg8HRcjHpsFtTNpMV9pFmN2rRpgbyaeypVyMb/HYTFotEZSbNV5N6ACezI0Njg5m5eCTofN5EiOLq+OOiIXIVB3ZnT58P6ynghQXpKF1WE1qOaLlVpRrB6sTo/mAwAEekdny0ExwcUCLl9uNBtUi6WikGDCmfawwYMA8LipeDZf6R6eLDpZ2mOzuvyMj0x2liejDOnE/XQsnWJIjwN1RpqjSa+Wj/lsFjj1RZB0qlCEDmQ1AJv1ss2bm3KNRm3AObEITjjjAMXChBp0FoKG0pd3tsFZku2sr8sU29de/wzB33PA/J+9egl7gn/97dXzpz9+88E4X5w+evK3vz756HKYgT4EhHT44PHHn9wfCz6TXIFYvMkSqMKdQtSh2trY1WDx5niQxTW7uxpCKAqcz7CrdDBhN+qX2nm/fl9jpYuDg2GzmAyARLt9Rx/I5AFiWL9x48ZtjTdVrJbiOLK7u72rp3KNqhBw49FCMeFU3LmzvmsDrz0dDoZtiQv43BZA3guNaiaEoVaLFfMG2XSx1iiKyZDbakJUSqXBanf52HxvvhpL8WQKREAQMAVXXIr7gkK9KYWsyL7axtamq9VhH2RfK2w8DKeLvXGVddusgC3p/Zl6pyklAURAnbgvlqtCTydkf0uOCcPV2bwpsH6r0swNQTQ0hDBhUFriw7sPz8clnmN9brZ5ev/B+bRdKhbFVDLfWxwOwcUuFJpT2E8UjXMBIlScnq5ADEhiOp4q97tSPML67LZANM5Gxc5iXIoRVgsRCvtIUBQOj3qAZCYz+VwigFkJOkRnhyfni24x7nfDNi8H5kCJWEZIwT1mwors3r6xoTIbEVMgW62XAdLxgrSnN5osmI/yOhD5rsag2YdbAm+/de3777799vvngPh/9+PzlyAMnj77AYCBbz4cZArT9778+uuvPnnvUCIt9qA0On/vg48+ebSQWL9dq7IyUu9g1O+Wk3alClFrbFxrvmiyZq3W7M+UBVK3s7GhcCUSwXChO6zGML2JFDujyaiZ8xt2Nnc1drbYBCzPLt/clpsDqUJBoAGPuHXz9r6Lr1YETLGpJjjOLXvnjzdBgcg3wNWvFjioJ6lQqD2Z9qCVC1pUKkSnd7DFzmjUa5ZzKS5E2nUq9RtFDKs/N5oPeMIPak7Qj9tRZyCV45PFwaQt+J0mHaj8ldHh0UGT95v2bt+SYZnu/GiQC2Bmk06hxdO9+eGozJFmgw1zeehcs5ULgLyvNwcK0/OzaSXhBavAmRkslv1cCDNqtJ7caHV00CqIqZCdEEaASsybYpIFBQq857RbyOQksTxYzpo8y7Jh0sWUpyeLXrVYkIRUrtpqFLNpFtA9uxXDw4XebFCgXYSfJjGMjJVH854QIJk4G3ADiOcCJS/TOTqZ98pJvx2DwwhWuxWP5XNJUA3hwJoKFCuD1ayzkMlCuZBJRQMe075CZzKY7B6/z4Ma9KqdO+s3/vT7//jdNZDynz998cs/fn2zFQjA4PNn8F7Q1x+cndx//OU3X3/2/tVhkVDrI92zR598+ecnj+8elBiLXEFI05PT1WJcj1l2d1VKjSczPFx2UxiiJ1IFMWrbeOfdNQVVbNerTXhTKxGMiO2DxWLaTGGardtQd2MwAuiQMml0zmCyUClGbfKtPfnWLTkOBwkxxa6OTAk+xVv/87oCi1faXSj7CHiMTrYNMkxrNO5WErgeYNodPV3sT+ejdrlQrFakFGXVOwJBt0kPjr4xHfAkuO45gQsHQb3wA0QF3Z5LHOnQa/Uurn6wnHZzDGSZSKS7Olt107heY0J1hkB9vlpMmimwujDU5I53DueNVACAfB1ZmJ7BTjDKplE5UoOT07EUchqVOp80Xi5GtVyKdZvxwuLqASCGaTi2E+FK0+WwJGbFpNhbHXXFRCrF0cFUa3FyNBt06qUMF8l05rNuLkrhdouDZNPV8aKbjYToAOnG8EhxdDQtRYKJBAAbTszhIKNiCfDK42GBC4D874ASm2YsIubSyXiUBsgAVWyBmm8z6G2BZKGUSzEE7tDsyvVmvRZuljsNiq1b169ff/v3//N3117+8goqwr6CLQBPn0G5wKfQJu67b7/585O//P27//zqk6t5AZNbs/OrDz76+MMrgJ2rIb3Ckx8fzieTaTsOKP1bN7dNXO/4dFIKGBXmcLkhBfR3btzcwcTBZD7pF8IuhxtaL3Yns75EGWXrt9SU1O23pDiFoXacERvdUSdlun3jztbGljHAC1HSplVbGDEf1t+6KXeEs+V6owQgvRU16rQm8H8PoLp6kjBsX//DLX243B8DglUQhLwE1hMvCGIiAIiAFQtIna7EUmFBEuJh2qOTGwMSKAyHo4rAEiblviVcHc0nbTFCWDQ6qjQ7P5+IftRG+jwetjZfHS/7Wcph0sl2tHRjDg48TgKiCWJ9dHI2zkUA50Nc4vxs2cn6zbI7CiI/XEyKLBMm7VRt9eDhg3NYgbLpMJXqH6/6+VSYoMTRct4GnzQFhzv7y8NBVZSKYowKl0YwABioBhJmgmGpP2lIcZqi/NDtqgFKRDQUfiNBRlDhaCLf6E8Ol/26lOFTbIhE1SodOEuiwKeiDEX5nIjC4HSYNHobCciSFCdsJvX6jU2ZVgOV/F0OnWzznf/4w9tv/ce//+u1Z9AW4tWrX16//PnnZ89e/vzsJ/AF/Pnxh++++ft3f//z42WOIS1Ke/7046+eQNX4cq8Vd3uzo8NpPVvsDnjr1vXrazL8zaZp3Lq7pg5V+62UG5Ftqan69HAxafP2fZmRjGZK9WarlvVrbr6z7YJruPXGaANOQgy77YaAbV+/uXYHgWZ9ccKgUFsZIcNYZHsGKpXPSxnYP2sxaK1UotQDUVUvlXJRHNm6uW2PV7v9QbeUSUTZeBJkx3q3W8slWJq0m5xMoVUMWa04zQYJy97Nd2VE6eBwtZr1qykakFFzvHt4OusCVo1bjGRpdXkEKLmP5lKJOF8crO5ezMoRp16lQPDswTkUjXEZdtduG+LD1bKdiVBOI4KXVherftZvUewZQtWDRb8Yj/jtLn50fv/ho8tZpzMalEJU4fDytCswPlcQFJDTo0E5C3JAuHCwOqhn8+V83OuO1SezbiER4RJvXMzpXKdbT4Uo6F6eEVPxbIEHy9/jowjczybSQqleb/W6JT4lFjNRN6JQG2xklI9HGCYajVBQMd8AJySNYHkBQEY79cqNd27uIFYLojJidmT79o23fveHP/z7v/0LCIBXr940gj17Bq48yP4/QZeAH3/4/qcfv/vu2799NgNZXS6zJCfvffz5Fx9etBNhvpRP57sHvTwbTNbbKadOrZIZ2PbybJbHtt5Zt2V6Q3DONUpzBKCs41lb9Gs2ZTY2kxcBKi4mSP2t63Jvvt2ppMMeiw6x0Pl2u16p8B5kB+Rzf7rcKDAo+HkwX0mRernOExPLlYoYB9hx9/YuxoMjb4shzB0t5MKobFvhSpWqrXpJSCRTiQRLOr3xcqddSLARhjQbPVylnvGhFirK+a0KgI4NbP3NSA9IH7Lb1zdtmQnAcZUoIM8qI8B0p4eDSoaLcyxpsdC143tnQ5GyQh0bX2F2AkocbpBvbSi9+clqWmFdFo0S5fonl8sq61TLDEGxO4dagXa1zleanZxfvXfveD4b5mmCa68uZqVE2OeJNFf3L5e9Rj4dZTPtCTQYSrJ+nIhW3kwfw9t34QhN0oA7pWMs5bK5w0IqCHgswJZeyuexmcGVTib5NJ/MlPMpDvzDeXQKmdrooqMcx4uVfJQAJcGg3Fm/tSkzWImomHSrFXu33n53XWnU7SsMGOE0q7Zv3Xzn9//+b/967dUrOBwOHQIgBgC54CWUjANxAA2kfvj286UI0M6uo3D6+PMnX344Fz0WHFT71fnFsp3PNQ8WAylk11kj9eW9h6cl5/YtVbh10BO8JqXCwQNUNB+2RJ9+Z1fvzdSb9Vo1Q1mUm7fkbr7aqOc5XK/SWJliu1Mtl3nchChV9lilN5AoE+BxxXaDx/VKPZ4oNTptKeYFgXtjFxe7w05dDJg0Tk5MAT5upcRKCSY/XpTymUQAB1xKarbLIp8Cmd3kTdUqKZ/D6iIA/jXp1RpToASnBsqMQ7OzuaXG85Pjk6EYcJgQtVMYnN07h5OjNOVBNaZI7+LqpJemvYBuu2LN5dm8lYBSXFsyvHx0OS9FcFQpd4rzi4tFJQz7tKg8XNMpn0GBRpqHR5Ojew8vV+Om4MPTk8urw1Y+EXRH2qeXZ9NORYLSYIVmS+IoLyD4fG0KWOm0JkCDvBhNJ8p1MRkPuVFHgBcjHoLlfA5ngI147RZnIMEDduvzgedI4KhjXlSLGO0unIrzmSxU6jIhGtX22jt/urmLWF0+hrYq95W7m+vbCr3JCM6E1+206vblOzf/+O//du3pz6/+/62An1//45+/gILw/Mfvf/jxBzgu8PzHv1x1Yy6znW2cfPD5l19+eq8ftaFM4/B4uZiOG7zQGDSLQgDV+4vT87vnM8lvdcDfDhKW7XfX0PRgetAuQUk19baabkynw5ZE67fXbsnRQCJXKWcZtxn1BFKlVrtRL3F2PeryMvl2txJ1mF2RfAMsXb1cYQmXOt1WKWKR72yu7bjeTP1UswFUiwYEKZdKpKRGo8BHGWgjC43VWDh0my5Um9V8wm/TG72pkhhxaeQKG8UESA9qtNNCZThtCwzpspmNWKwxW47LXCiAo2ZPonN0vmjxfvBZ7DbY938CiDtHB/wemzd3cHJ0UE4wuH5vUxNuzQ8qMdy8t6kK1BcrgNEAGFdpg43F8UGRcduwgNDut5rT09PluCcxjDS9997dRbucYsLSaHU4rBdy6WyCoSKpbCJKR9L5cmtyfPfu6UGZj6fTqQidkACVjga84JSkhFQ0EmM8NleETwRcUCURyhk6yHSjnk0IUjpgkqvNmAv8hIHDbnZEo9ftvvunP769LkdQm8PtwfSafQV4jt3jcXs8NiPqcNmtNmTzD6AE/PjsBYB/z17DETFACF68fPHjtz8+h7OBz2FPyHHOb7WEWhdg/X/xyYNFidQYI+3ZuJrisrlovFwMAuK9I8dLi4v7984OGnmpe3z/7mGdsyt1VGG0PJz1soRBjygNdG22PKhxbs36n9YQB+ygLOSjmAWjopl8MZvN8SDCPUw6X2mWEqRVb8bjUi5il23uWtgKwIu5AAKA600FJbX7vU457tEoTXgkW+0Meu1qLkm7rQa9wYLhNID86Wg0zucB349Cz2SlM5rLBEwKhYni0wzhsSNypTvV7LXySS5GYxYyNzw8mnXKmXjQZrJFOscXy1aCdNg94MPF+0cAp5djOGCfer80OTsGzBCQYNmeJdY46OcY3KTYNUY7J3ePqpzfodw2pg6O580048O9TBbQku5ydTgb1pKhVPvkvQ+vDnuNQpbPtSb9Si6XAWCXwEgeoPQk1HxvjM8eXB21slxSALQlmcmksyUpRQeoqCBluYDDYAK5UAg4nP6Aj/Ridk8g02rkEmk+6jGoDSYLqFQmk9WOWRE1YjABsr+3K1NqDWaLBR4Lotbb/Ax0OwAMGLG4XRhuV78DAuDl6xdPf3r9yy8A/j1//mZG4AX4+hTExPPvv3nyaMR58Fj34vEXT754dFhKEGZbrDsf8TaFXEfEpWLMuP7O9W2XeHByeQ6ITjoODvRyXuR8diOV788vLi9mWcfelkKHC8PFvC/6tOtvXVfYMZ1cHxDFECAvAb5UycUoiG48ZATkhUIaesPZg5myyGJqgNsL3X6/zuOa7bW31y3JWn96UOcpo1ILh6Xyze6gW00HUKXW6oTi2+4gnwcR4HO4Y+Vq0qWVyxUaOyNmWcIBiHKGwsigbff6liffgVa7yRBmckWKvdl8BHuw3WYEVISjRT0RpIMBn90WKk5Wx/M6a1PuyhV6qjQ/GuQByjBpZUpM6I+a2bDXZXMy9aO7q36RdWm2teHu0bwew91eH/ggGaE+OZx2KyDVufnRxaNHF7NuhacCmcF0VBdZJimwbnswVxRFMcPH6GTv/PK0L3KxeCKZSMbi6XK7kYmGgyA/iNAHCuC5dMSD2nw0QwdxhycsViqlYpbxQMNhFwAxctmuHIFj4UabC3pkq5RyuRw+wJ129I3SetCu2l6/dXtHB+Ak7dO98y//1zWA/p+9+Md//fLyzV3An9/cDXz9808//vjDt3/95P0HJ8WoOL334adffv7pgyFgO1qyujofJNC9bZmFa5SC2o23/rAfaizOT4dJm0bvEUYnRzVSeXttz1saL06v7s3yXu2+nhQHy7OTWYVGNm9uaJ04qjOHCo1KksTDlUFLCLoxzxsf4Uw+w8PbGXpHpFARabtGbWPzFXjz0668c3PDGK6NprNRg3PItnb3ZWoLxUuVVkUIYoDvxKNBr8NiI8LxWBTQS2+iUuJJM6JVqi1BEYDEMFfsFENut0N5/Q9KBrxQO89HSIfF4o415qtZO59kMJ0lNji/PGwXxVxW4ALeWGNxcT4rUGY91LshRLi5HCHtRr3awrWmk1oiyIR9ZHJwAkc0g6ZtmYMfHI7yIX/Q7/Yl8/naaHlQScZilJsqrD746OHJEHxYIto6PJm3c0lQsWP+oNDoNqRMMhaM1ZZ3zxbdSk4AJT7ERIXWQZdnogk+leSSfDIWifNcyIvZUKsN8+J2Gx6GbWOVfCoKqL/DsL+9BQ06TVAaJMgEXTaTVq1SqkE6MFtMqAMn/cGAx6RSa2W3b+/bqFA44t3/w3+/9vwZbAb9xy/gmj97+ewZpADPXr746dmz759c1DPFVqe/fADW/2efPDqqRj0WlBueHXc4h35XRZVbabd6a0PhhXNUvaQHvAlbH0+bcev29dt6tjNdnl2d9wAjVJmZ5vLi7tm0TKNqtQFkJNSAJcrNepFPA6bQSfq8lNdDRkUoegT1ZDc3dIFkPGABTyZSkpiNU1b19tpNFVWbrE5PJkUGVcB7WiqFzhNKFuqVLJ8p1mt5jvLYTRYbTjEU4XCExGYp6XdZtHIFyhSbYihSGHRSHrN29+23QAoYzw+aGcZjMZjMnnhvdTxpAmKgNAQr8F5MryryfDzkcXOtJYjtbMChlW/vKrDscFzjCFQPVQAy42VfSsYYHMWz49WiV+QI3a4uVBmP6ikatyAmMtMczFeLGuMhA1SQH9x9/71VMxslHHR5vJh2pGScF3NckCs1q1ImLQj5+mB5NOlUC2ImnQREJF4cDoogSOIUySR5aIkDRcBdqMlgQR2ADthJOiJUOhUeYEKGcOhUCo1KoUU9VMBHRRgPCkizHrVodrf3VRoT7CiL+JwWi9MDTp4Ki/BCwrP7+/92DXaA/AzHQV+/hobRz6FRBNSLe/r3zw4zbr3OLZ18CAjgk8/v9zkcC+b6x1fnB7mQQ+dINEosure240x3IQoKOWzeeGOyGJaibt22wp1p9fqT41UnatPqrOHywRGAUJLfYnBQQbdObQSsoFHKpAugSnYzUT4VDUf5XDGTCOHGvbV3N41hIe6W39pQuzkpB37q1GnUShs/vnv/3sWiHLLp9mR6i1Gt1JrweCGXzVWGi+WgEPG5HS4cwOFwyA9F2ccdWI0MGq01lKuK2dbiqCtQDvXmjU0j214sD6oxt9HoALg63lsuYHe4zeLLjY8AUx+VEkEfbtVZQnWok12Ouk1axbaaqo4HBcog29la37SkB5NeIewyqrV4YXG67IuUWaF0pHrg4gq4UaV1gOi5e/9yVk5xCTYULUwu7i7qfDREhcXmcNyrZgGCz/FBH2A51Xya58VCdTAZN/N8ggOnQsoJUms6Hk9ngFS5g6GgzwdWLfjiNkPNYOgmCEhfoZgDrEEU45TTqDFYzXqj0eIAT+RYn8Ni0hltVoNiX4MYjBY8FA25bRYT1EtSIG5WyCRw+R/+27VXv7x8/hwOB79xiQL5H0CAp7A75M9XgwyNGfDi2cdP/vLVk8erIq7QBFqre3eXrZJAU1y1kcH33nobifZgO3vSZzO4E73V6UE+YJHL7ZwksOFMZ1hP+nG3m5YG8+Wsy+MGvSeRpvR7iD+T4wiHO9Fensz6jVI6TBFULJmIUqj85ts35RjDUqaNP91UEslCtSjQVkSLmAKAbFxeni2qHEWgNi/A7Yh8Y88WirFcYbA8XXbSPidqcYKy7AtHo6nicD7tSpzfaTIiFrrQ6gymq2VHoJzI3jZCVecnq6GAm03gRRRYujvpS4CC4zaCby1Wx4u+COqKxYAS6cHZ1emkGveiKpmGlAbTRtgo39u+fWOPKI/BAwtIROZo5+h0XAyZdjY1viLcI4jgDqvTn59evvf+vVlV4EAA5HrH59OqkOBoHxnO9w76FVGUxAxHMWJn0CxJebEgFhqjYTWdyhVqrWar1e6Np4sVWFwBBxwaDQT8YcAQ37QGBAAIcLFirZwKh0N0JBEPYRaLw6FXaPUagwP302ApWDR7ewrF3hbABRY7Tid5jiZQgA8BKNc7qGiSIxR/+u/XwOL/5bd//tf/89tvvwIC+PzVb7+8/vXVq+c/ffvV49MOTxLJg0dfff3NVx9fHbZZvY7prC5P2gC82n18JUupb/x+zZ6bnEItLcOewpkH6bPLWuQbSn+hKRC2YKGa9rscqCWY6wzHB62kx2QJldsZN2JjeYZADVamcjCfTQYtKRXCXYxYAPBub2Nty+BnGZ/pzrvruqBYrdeypPLm2i7KVQfT5ckJ9NZIsCAwQCJSb63tu9lQMFk/WB2OKxyo6Q43ZnMxmWK1Pz85XY2qUQwEAOLgqu1KsTXqVfmgXbm5a+d7hycTibKZlOt/emvLluzMOlKaI/X7On+hPzladpIEhrnteKIPRb56AmlWbm+qqdKoJxAWvVYlV7uzByfzOmAvyL6F6x7O6nCGAcHY+mzeybJBN2oNVlYPHn/0cF5NRZlgHOSSk74YDRIOg5nM9Q66FalYktLgN9V+u1ysNOtSpjQ8mvebrQ5sIRnWy+2D8WQOdcv1Bgfh87h8MZ7F3nwPXsUazNWzIYoBhx+MMIQLs2r3tuUqaNNMYqDmu03K3a3NO3It6nA4SDbJx1lofAHNHG1uL8VlE+69P16DqhC//AZVol+9evn6zWzgy+c/v3j2wzefn1VoT7R779M/f/3kvcN+vxFGjPzsYtWJ2/b3LWytI7q3//T2fggE9qqfdKhkxmj//P5xjdJsbqBCuyd5zV6hwJr291QWWqzBJv8IRXgipV5TCAEYazHoda5ke7acDjugCEY9GAB+EoPub2+qfEKB9yHbMhMlFGvtCmfbu3VL5hBqjdYQbp4JgOa1hgf9QsSp2tzD4jwbl2rgnPWqcY8BHK8N9cXz9dHx5eXFEShJADjZPOHSoBkjI1KtFCcsWp0znGmD7CpFCQvULNl25EbjTj7qQxV7lmT7YHW+7BVAIaYovnP84OF5JwYu897mBhJuDBs85QGvaHVz7eXppBSnvQaVKztcjCTKgZpNLr6/mDSFoE1vckWbx48+/vCsI4QpH5PpHC57AuXB3TY1QkrjSSMbZzk+QuDxWr9dq5TKRakxOb+8OF6M+8PxbNypdYaA9NaSXtRow1xOzAF3dcCJs7lICkdBVitHXS4fHfR6KPBYr9rbuiNTqQ0Or9vhCUYZ3Kze35WpDJiXJL3+cFLgSFC99hEEsTicBCdlIrZNEAC//forWPzPXrx49RwqBT79EYpGgQD45FBkhOG9T568EYr0koxTZcseng7zjBvReMT+sOiVvXvbkhmfXd49bDAmo798ePXwrBHUbmsCtfGkzZMUX4i6zBYADkqdyUEHFA6X3ct3Rr1KjvPqVEYHNEmcTcadQioe8QZynUE77dLsKuypRq9Ew/YsoVop1Wsp2BagwDP1dq/bKmeifjJaGh2ujiaVqF2L4JmKBDGEUO6MOhnSZrHbXBTLxfOjs9W40xk0cjE6SLPZRot3mjzxvBjBDFqd0eLPdibDGu+3qXY37hgT/cUMZOWI2+wR+qvLB9DhJxNjSH+svrw8H+f8qE6r2Nm1ROv99htvSbPBEe+vDmtxJmRXGenabNLJRIIugznWOTqelGg75qdDwvDuB+9fdKB/uBuP1cajIuv2+EmLXEu3ZoNc0OmOgDPksOWjQwAAIABJREFUTnUGULCwkM33ji4fXF2eHU4ns8Npr9Eo5fJlMebzeHDwjhY7EUryIa8vFI3SLkdIKMa8HprxuVxev9+u08jvrN1a31I5vB6XP54RYgAwmFQqg53w+kl3KAuNcsDHVskVJjt0sq7nGeO117/985+/vQYMENK/lwD8PYfSQN/+/Zu/vt8JELnFe588+erTo7RNpZBt7oB0D13XnR444D9oZ+Ft4sHZ/Qd3VwPBbY92z64upyW/agdNNHvDbiUtlHMUsqf18uXu5OiwHgR4CSz62mDclYJmhQbF2VytN+i2C2FQVFyRcm/U4QmTUo1L3RbIuYgtWq7ls6VymjTubMjxXG88aObhvQ99oACw2sVJN0WgKJnpdXm3yegMCeVmLQs4oBP3MwF/pNBtRIlQulTO8cl4JMSmeIA+9EQsHrSpZfI9FZYZH82baQrV7ivRSG1ytJq0c9EgLXTPHj68f7nq5+IRv9UUrB2erQZS2IVq5XdkGN8cDcphVKNSqfHCfDGupFjwCrZ4ezKo8SGnCgnU5ucng2w4zAY8VGF6fnXSjAd8ftKOMmUQASE3QToRlTM76pWifooOuFGUKjRrpUI+l8uWhmdX985X83G302wWBZ71h3MFIQbFUMyo08+E43wiGgow0C7UnxTCBJRTdnnISDRM2hDFzubWvhmnAnSMF1LREB322fQIYra73B4mmcvHSafDrlfs7ql0ZmcgLjDotf/1v//3f/3zn//89fUb+9inP/74/VOw/P/88Pz+WSPGHzz89Mlfv3rYoRDEpNrcp+oAOHtsrlRnOhvUMnzA6kofXD44G9aKSZ9fGJ4/vDqsMQaFM91sSHEuky+nPfIbG8Z45/D0ZFaiQBZVOOK1bq9djKCKfbWJylRLOUDzCNRkDxaG04NGDJXduKGJtHqAdGJUulYt5CuFZMBtVGggbjsclCIO9Z6WKo4OTy/ODiTaZrBGqu2cz6BGjE4mVy0IcQCVg+EIRdLpbMCgNpLpUinPhz12byzu1e4onRGOshuQ/S1AKw9Pps00QzptqDvWmS+G1ZTfZQ9K07PTs4vL44GUYglE7YW38MBbYXaTWmmkQBy2xDCUp7EnR6ujnuB3oSpQOLrTYYW1y+9oqdL07HiUi/g9Tl92uLp3Oc1R7mAsiKKR5rSXi4UjtMdoCtUOehUxDnKDzWBnq61iMsbnSpX29PwBFJPhY0IuDTIK6mQz+QwcawlBU1wmlckkaH84HvO7cCYacKE2gvZBIWIG5HybyWD1Bv0+9xsHbpII8cmAFVFr9SanB5AjgCAIpx01aBUqI4q6wulk4Nr/+7/++cvLX169hrJg/6cd7KdnT//+eJAvNVLh/PzB48++eHxcpGyAvONcrZOjULUKl2aLjhDE7WaLrzA5XTYYu8Wg8+QPr+6dDAq0yRAQ67mQxxvLZmlk88Ytpa8yWR4ClGwHENWXyOaLUiZogCLv3mwZhL0QAYncBWdux2UaWX/rBhLtjFvZSDCcqVcqjV4j4TJBeZbe4WrWKTCo/I4mUOwMJquTWQ3eqoA2mClMp1bsqd2xrJBKxKMxLuxBcaGec6kVejdXzMcBSzG5mAiuU9mjUjYWonAz4skv7sKmdspjVqhcYvcA1O4I5fYmKo1ivjFd9VIByq2RGyOtFXwa6cWdyC5CN2aT1psNCz1VX50fFnC9avOtdVe+160kPMjuHblLHB9Oaskg5fUlOmePPjxvMUQkwdgQLDOcdPKJCBPCUTI/mvTyEZ/HYVIj3nwLINsUDwcCD0BOXbWysXgsGvFajNBsEWQTLhHnogBKBMKRUICKpLMxyodjFgNicgUDVAi8ZCzB4E5XWBDAoRvMVjvmdIfzuZAb+mhp9QZEpcOCDIU7oUi0wY47yUQuG74GpeLfTIhDcZg3c6HPn3335cPjdoLEwq3TB48//+yqy3kIttDsT5ejtAeRaajabCCCE7O770j35ouR6EEUSoQsL88XtYgLkemDUrMQtKB+IUubwLMQLNlbQZU2k8ZIpvIZLhLjKJNsd98cLtZr1ZoUxYzWYHlyvOynSZP89
[...]
